<template name="Semesters_Single_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>{{#if label}}{{label}}{{else}}Semester{{/if}}</label>
    <select class="ui {{#if disabled}}disabled{{/if}} dropdown" name="{{#if name}}{{name}}{{else}}semester{{/if}}">
      <option value="">Select Semester</option>
      {{#each semester in semesters}}
        <option value="{{semester._id}}" selected="{{isSelected semester._id selectedSemesterID}}">{{semester.term}} {{semester.year}}</option>
      {{/each}}
    </select>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>