<template name="Semesters_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Semester(s)</label>
    <select multiple="" class="ui dropdown" name="semesters">
      <option value="">Select Semester(s)</option>
      {{#each semester in semesters}}
        <option value="{{semester._id}}" selected="{{isSelected semester._id selectedSemesterIDs}}">{{semester.term}} {{semester.year}}</option>
      {{/each}}
    </select>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>