<template name="Add_Desired_Degree_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD DESIRED DEGREE</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label="Name" name="name" placeholder="Bachelor of Science" errorMessage=(fieldError "name") required=true }}
        {{> Input_Form_Field label="Short Name" name="shortName" placeholder="Defaults to Name" errorMessage=(fieldError "shortName")}}
      </div>

      <div class="fields">
        {{> Input_Form_Field label="Slug" name="slug" placeholder="bs" errorMessage=(fieldError "slug") required=true }}
      </div>

      {{> TextArea_Form_Field label="Description" rows=5 name="description" placeholder="Describe the desired degree here" errorMessage=(fieldError "description") required=true}}

      <button class="ui green basic button" type="submit">Add</button>
      {{> Success_Message_Form_Field message="The Course was successfully added."}}
    </form>
  </div>

</template>
