<template name="Add_Mentor_Question_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD MENTOR QUESTION</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> User_Form_Field users=students errorMessage=(fieldError "user") required=true}}
      </div>
      {{> TextArea_Form_Field label="Question" name="question" rows=5 errorMessage=(fieldError "question") required=true}}
      <div class="fields">
        {{> Boolean_Form_Field label="Moderated" name="moderated" errorMessage=(fieldError "moderated") required=false}}
        {{> Boolean_Form_Field label="Visible" name="visible" errorMessage=(fieldError "visible") required=false}}
      </div>
      {{> TextArea_Form_Field label="Moderator Comments" name="moderatorComments" rows=5 errorMessage=(fieldError "moderatorComments") required=false}}

      <button class="ui green basic button" type="submit">Add</button>
      {{> Success_Message_Form_Field message="The Mentor Question was successfully added."}}
      {{> Form_Error_Message errorMessage="The Mentor Question could not be added."}}
    </form>
  </div>

</template>
