<template name="Add_Career_Goal_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD CAREER GOAL</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label="Name" name="name" placeholder="Software Engineer" errorMessage=(fieldError "name") required=true}}
        {{> Input_Form_Field label="Slug" name="slug" placeholder="software-engineer" errorMessage=(fieldError "slug") required=true}}
      </div>

      <div class="fields">
        {{> Interests_Form_Field interests=interests errorMessage=(fieldError "interests") required="true" }}
      </div>

      {{> TextArea_Form_Field label="Description" rows=5 name="description" placeholder="Describe the Career Goal here" errorMessage=(fieldError "description") required=true}}

      <button class="ui green basic button" type="submit">Add</button>

      {{> Success_Message_Form_Field message="The Career Goal was successfully added."}}
    </form>
  </div>

</template>