<template name="Add_Course_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD COURSE</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label="Name" name="name" placeholder="Introduction to the art of computer programming" errorMessage=(fieldError "name") required=true }}
        {{> Input_Form_Field label="Short Name" name="shortName" placeholder="Optional (defaults to Name)" errorMessage=(fieldError "shortName")}}
      </div>

      <div class="fields">
        {{> Input_Form_Field label="Slug" name="slug" placeholder="ics234" errorMessage=(fieldError "slug") required=true }}
        {{> Input_Form_Field label="Number" name="number" placeholder="ICS 234" errorMessage=(fieldError "number") required=true}}
        {{> Input_Form_Field label="Credit Hours" name="creditHrs" placeholder="Optional (defaults to 3, must be between 1-15)" errorMessage=(fieldError "creditHrs")}}
      </div>

      <div class="fields">
        {{> Input_Form_Field label="Syllabus" name="syllabus" placeholder="Optional (http://courses.ics.hawaii.edu/syllabuses/ICS234.html)" errorMessage=(fieldError "syllabus")}}
        {{> Input_Form_Field label="More Information" name="moreInformation" placeholder="Optional (http://courses.ics.hawaii.edu/ReviewICS234/)" errorMessage=(fieldError "moreInformation")}}
      </div>

      <div class="fields">
        {{> Interests_Form_Field interests=interests errorMessage=(fieldError "interests")}}
        {{> Prerequisites_Form_Field courses=courses errorMessage=(fieldError "prerequisites")}}
      </div>

      {{> TextArea_Form_Field label="Description" rows=5 name="description" placeholder="Describe the course here" errorMessage=(fieldError "description") required=true}}

      <button class="ui green basic button" type="submit">Add</button>
      {{> Success_Message_Form_Field message="The Course was successfully added."}}
    </form>
  </div>

</template>