<template name="Add_Feedback_Instance_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD FEEDBACK INSTANCE</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> User_Form_Field label="Student" users=students errorMessage=(fieldError "student") required=true }}
        {{> FeedbackType_Form_Field label="FeedbackType" feedbackTypes=feedbackTypes errorMessage=(fieldError "feedbackType") required=true }}
        {{> Input_Form_Field label="Feedback Function" name="functionName" placeholder="feedback function name" errorMessage=(fieldError "functionName") required=true }}
      </div>
      {{> TextArea_Form_Field label="Description" rows=10 name="description" placeholder="Add description of the feedback here." errorMessage=(fieldError "description") required=true }}


      <button class="ui green basic button" type="submit">Add</button>
      {{> Success_Message_Form_Field message="The Feedback Instance was successfully added."}}
      {{> Form_Error_Message errorMessage="The Feedback Instance could not be added."}}
    </form>
  </div>

</template>
