<template name="Add_User_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD USER</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label="Username" name="username" placeholder="johndoe@hawaii.edu" errorMessage=(fieldError "username") required=true}}
        {{> Role_Form_Field roles=roles selectedRole=selectedRole errorMessage=(fieldError "role") required=true }}
      </div>

      <div class="fields">
        {{> Input_Form_Field label="First" name="firstName" placeholder="John" errorMessage=(fieldError "firstName") required=true}}
        {{> Input_Form_Field label="Last" name="lastName" placeholder="Doe" errorMessage=(fieldError "lastName") required=true}}
      </div>

      <div class="ui dividing header"><h4>Optional fields (all users)</h4></div>

      <div class="fields">
        {{> Picture_Form_Field label="Picture" name="picture" placeholder="http://johndoe.github.io/images/johndoe.jpg" errorMessage=(fieldError "picture") }}
        {{> Input_Form_Field label="Website" name="website" placeholder="http://johndoe.github.io/" errorMessage=(fieldError "website") }}
      </div>

      <div class="fields">
        {{> Career_Goals_Form_Field careerGoals=careerGoals errorMessage=(fieldError "careerGoals")}}
        {{> Interests_Form_Field interests=interests errorMessage=(fieldError "interests")}}
      </div>
      {{#if isStudent}}
        {{> Add_User_Widget_Student}}
      {{/if}}
      {{#if isMentor}}
        {{> Add_User_Widget_Mentor}}
      {{/if}}

      <button class="ui green basic button" type="submit">Add</button>

      {{> Success_Message_Form_Field message="The User was successfully added."}}
    </form>
  </div>

</template>