<template name="Add_Advisor_Log_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD ADVISOR LOG</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> User_Form_Field label="Advisor" users=advisors errorMessage=(fieldError "advisor") required=true}}
        {{> User_Form_Field label="Student" users=students errorMessage=(fieldError "student") required=true}}
      </div>
      {{> TextArea_Form_Field label="Text" rows=5 name="text" placeholder="Enter Advisor message here" errorMessage=(fieldError "text") required=true}}

      <button class="ui green basic button" type="submit">Add</button>
      {{> Success_Message_Form_Field message="The Advisor Log was successfully added."}}
      {{> Form_Error_Message errorMessage="The Advisor Log could not be added."}}
    </form>
  </div>

</template>
