<template name="Add_Career_Goal_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD CAREER GOAL</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        <div class="required field">
          <label>Name</label>
          <input type="text" name="name" placeholder="Software Engineer">
          {{> Form_Error_Message errorMessage=(fieldError 'name')}}
        </div>
        <div class="required field">
          <label>Slug</label>
          <input type="text" name="slug" placeholder="software-engineer">
          {{> Form_Error_Message errorMessage=(fieldError 'slug')}}
        </div>
      </div>

      <div class="fields">
        <div class="required field">
          <label>Interest(s)</label>
          <select multiple="" class="ui dropdown" name="interests">
            <option value="">Select Interest(s)</option>
            {{#each interest in interests}}
              <option value="{{interest._id}}">{{interest.name}}</option>
            {{/each}}
          </select>
          {{> Form_Error_Message errorMessage=(fieldError 'interests')}}
        </div>
        <div class="required field">
          <label>More Information</label>
          <input type="text" name="moreInformation" placeholder="http://careergoal.com/software-engineering">
          {{> Form_Error_Message errorMessage=(fieldError 'moreInformation')}}
        </div>
      </div>

      <div class="required field">
        <label>Description</label>
        <textarea rows="5" name="description" placeholder="Describe the Career Goal here"></textarea>
        {{> Form_Error_Message errorMessage=(fieldError 'description')}}
      </div>
      <button class="ui green basic button" type="submit">Add</button>
      <div class="ui success message">
        The career goal was added.
      </div>
    </form>
  </div>

</template>