<template name="Add_Teaser_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD TEASER</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label="Title" name="title" placeholder="Grey Hats" errorMessage=(fieldError "title") required=true }}
        {{> Input_Form_Field label="Slug" name="slug" placeholder="grey-hats-teaser" errorMessage=(fieldError "slug") required=true }}
        {{> Input_Form_Field label="Author" name="author" placeholder="Amy Takayesu" errorMessage=(fieldError "author") required=true}}
      </div>

      <div class="fields">
        {{> Slug_Form_Field items=slugs label="Target Slug" name="targetSlug" errorMessage=(fieldError "targetSlug") required=true}}
        {{> Input_Form_Field label="URL" name="url" placeholder="http://youtube.com/embed/foo" errorMessage=(fieldError "url") required="true" }}
        {{> Input_Form_Field label="Duration" name="duration" placeholder="2:30" errorMessage=(fieldError "duration") }}
      </div>

      {{> Interests_Form_Field interests=interests errorMessage=(fieldError "interests") required="true" }}

      {{> Input_Form_Field label="Description" name="description" placeholder="Briefly describe the teaser" errorMessage=(fieldError "description") required=true}}

      <button class="ui green basic button" type="submit">Add</button>
      {{> Success_Message_Form_Field message="The Teaser was successfully added."}}
    </form>
  </div>

</template>
