<template name="Add_Opportunity_Instance_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ADD OPPORTUNITY INSTANCE</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Semesters_Single_Form_Field semesters=semesters errorMessage=(fieldError "semesters") required="true" }}
        {{> Opportunity_Form_Field opportunities=opportunities errorMessage=(fieldError "opportunity") required=true}}
        {{> User_Form_Field users=students errorMessage=(fieldError "student") required=true}}
      </div>
      <div class="fields">
        {{> Boolean_Form_Field label="Verified" name="verified" errorMessage=(fieldError "verified") required=true}}
      </div>

      <div class="fields">
        {{> Input_Form_Field label="Innovation" name="innovation" placeholder="5" errorMessage=(fieldError "innovation") type="number"}}
        {{> Input_Form_Field label="Competency" name="competency" placeholder="5" errorMessage=(fieldError "competency") type="number"}}
        {{> Input_Form_Field label="Experience" name="experience" placeholder="5" errorMessage=(fieldError "experience") type="number"}}
      </div>

      <button class="ui green basic button" type="submit">Add</button>

      {{> Success_Message_Form_Field message="The Opportunity Instance was successfully added."}}
      {{> Form_Error_Message errorMessage="The Opportunity Instance could not be added. This Opportunity Instance may already exist."}}
    </form>
  </div>

</template>