<template name="Admin_DataModel_Menu">
  <div  class="ui left vertical text menu">
    <a class="{{isActiveRoute careerGoalsRouteName}} item" href="{{pathFor 'Admin_DataModel_CareerGoals_Page' username=routeUserName}}">Career Goals</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Courses</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Course Instances</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Desired Degrees</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Feedback</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Feedback Instances</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Interests</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Interest Types</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Opportunities</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Opportunity Types</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Opportunity Instances</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Users</a>
    <a class="item" href="{{pathFor 'Admin_DataModel_Page' username=routeUserName}}">Verification Requests</a>
  </div>
</template>