<template name="Admin_Analytics_Menu">
  <div  class="ui left vertical text menu">
    <a class="{{isActiveRoute analyticsHomeRouteName}} item" href="{{pathFor analyticsHomeRouteName username=routeUserName}}">Home</a>
    <a class="{{isActiveRoute userInteractionsRouteName}} item" href="{{pathFor userInteractionsRouteName username=routeUserName}}">User Interactions</a>
    <a class="{{isActiveRoute activityMonitorRouteName}} item" href="{{pathFor activityMonitorRouteName username=routeUserName}}">Activity Monitor</a>
  </div>
</template>