<template name="Admin_DataModel_Menu">
  <div  class="ui left vertical text menu">
    <a class="{{isActiveRoute careerGoalsRouteName}} item" href="{{pathFor careerGoalsRouteName username=routeUserName}}">Career Goals</a>
    <a class="{{isActiveRoute coursesRouteName}} item" href="{{pathFor coursesRouteName username=routeUserName}}">Courses</a>
    <a class="{{isActiveRoute helpMessagesRouteName}} item" href="{{pathFor helpMessagesRouteName username=routeUserName}}">Help Messages</a>
    <a class="{{isActiveRoute interestsRouteName}} item" href="{{pathFor interestsRouteName username=routeUserName}}">Interests</a>
    <a class="{{isActiveRoute opportunitiesRouteName}} item" href="{{pathFor opportunitiesRouteName username=routeUserName}}">Opportunities</a>
    <a class="{{isActiveRoute opportunityInstancesRouteName}} item" href="{{pathFor opportunityInstancesRouteName username=routeUserName}}">Opportunity Instances</a>
    <a class="{{isActiveRoute reviewsRouteName}} item" href="{{pathFor reviewsRouteName username=routeUserName}}">Reviews</a>
    <a class="{{isActiveRoute teasersRouteName}} item" href="{{pathFor teasersRouteName username=routeUserName}}">Teasers</a>
    <a class="{{isActiveRoute usersRouteName}} item" href="{{pathFor usersRouteName username=routeUserName}}">Users</a>
  </div>
</template>