<template name="Admin_DataModel_Menu">
  <div  class="ui left vertical text menu">
    <a class="{{isActiveRoute academicPlansRouteName}} item" href="{{pathFor academicPlansRouteName username=routeUserName}}">Academic Plans ({{academicPlanCount}})</a>
    <a class="{{isActiveRoute academicYearInstancesRouteName}} item" href="{{pathFor academicYearInstancesRouteName username=routeUserName}}">Academic Year Instances ({{academicYearInstanceCount}})</a>
    <a class="{{isActiveRoute advisorLogsRouteName}} item" href="{{pathFor advisorLogsRouteName username=routeUserName}}">Advisor Logs ({{advisorLogCount}})</a>
    <a class="{{isActiveRoute careerGoalsRouteName}} item" href="{{pathFor careerGoalsRouteName username=routeUserName}}">Career Goals ({{careerGoalCount}})</a>
    <a class="{{isActiveRoute coursesRouteName}} item" href="{{pathFor coursesRouteName username=routeUserName}}">Courses ({{courseCount}})</a>
    <a class="{{isActiveRoute courseInstancesRouteName}} item" href="{{pathFor courseInstancesRouteName username=routeUserName}}">Course Instances ({{courseInstanceCount}})</a>
    <a class="{{isActiveRoute desiredDegreesRouteName}} item" href="{{pathFor desiredDegreesRouteName username=routeUserName}}">Desired Degrees ({{desiredDegreeCount}})</a>
    <a class="{{isActiveRoute feedbackInstancesRouteName}} item" href="{{pathFor feedbackInstancesRouteName username=routeUserName}}">Feedback Instances ({{feedbackInstanceCount}})</a>
    <a class="{{isActiveRoute feedsRouteName}} item" href="{{pathFor feedsRouteName username=routeUserName}}">Feeds ({{feedCount}})</a>
    <a class="{{isActiveRoute helpMessagesRouteName}} item" href="{{pathFor helpMessagesRouteName username=routeUserName}}">Help Messages ({{helpMessageCount}})</a>
    <a class="{{isActiveRoute interestsRouteName}} item" href="{{pathFor interestsRouteName username=routeUserName}}">Interests ({{interestCount}})</a>
    <a class="{{isActiveRoute interestTypesRouteName}} item" href="{{pathFor interestTypesRouteName username=routeUserName}}">Interest Types ({{interestTypeCount}})</a>
    <a class="{{isActiveRoute mentorAnswerRouteName}} item" href="{{pathFor mentorAnswerRouteName username=routeUserName}}">Mentor Answers ({{mentorAnswerCount}})</a>
    <a class="{{isActiveRoute mentorQuestionRouteName}} item" href="{{pathFor mentorQuestionRouteName username=routeUserName}}">Mentor Questions ({{mentorQuestionCount}})</a>
    <a class="{{isActiveRoute opportunitiesRouteName}} item" href="{{pathFor opportunitiesRouteName username=routeUserName}}">Opportunities ({{opportunityCount}})</a>
    <a class="{{isActiveRoute opportunityInstancesRouteName}} item" href="{{pathFor opportunityInstancesRouteName username=routeUserName}}">Opportunity Instances ({{opportunityInstanceCount}})</a>
    <a class="{{isActiveRoute planChoiceRouteName}} item" href="{{pathFor planChoiceRouteName username=routeUserName}}">Plan Choices ({{planChoiceCount}})</a>
    <a class="{{isActiveRoute reviewsRouteName}} item" href="{{pathFor reviewsRouteName username=routeUserName}}">Reviews ({{reviewCount}})</a>
    <a class="{{isActiveRoute semestersRouteName}} item" href="{{pathFor semestersRouteName username=routeUserName}}">Semesters ({{semesterCount}})</a>
    <a class="{{isActiveRoute slugsRouteName}} item" href="{{pathFor slugsRouteName username=routeUserName}}">Slugs ({{slugCount}})</a>
    <a class="{{isActiveRoute teasersRouteName}} item" href="{{pathFor teasersRouteName username=routeUserName}}">Teasers ({{teaserCount}})</a>
    <a class="{{isActiveRoute usersRouteName}} item" href="{{pathFor usersRouteName username=routeUserName}}">Users ({{userCount}})</a>
    <a class="{{isActiveRoute verificationRequestRouteName}} item" href="{{pathFor verificationRequestRouteName username=routeUserName}}">Verification Requests ({{verificationRequestCount}})</a>
  </div>
</template>
