<template name="Faculty_Selector">
  <div class="ui container">
    <form class="ui form">
      <div class="ui inline field">
        {{#if isUserSelected}}
          <label class="header"><h3>{{userFullName}}</h3></label>
        {{else}}
          <label class="header"><h3>Select Faculty</h3></label>
        {{/if}}
        <div class="ui action input">
          <select multiple="" class="ui dropdown">
            <option value="">Select Faculty</option>
            {{#each faculty in allFaculty}}
              <option value="{{faculty._id}}" selected="{{facultySelected faculty}}">{{facultyFullName faculty}}</option>
            {{/each}}
          </select>
          <button class="ui green button jsFacultyRetrieve" type="submit">Retrieve</button>
          <!--<button class="ui blue button" type="submit">Student View</button>-->
        </div>
      </div>
    </form>
  </div>
</template>