<template name="Generate_Newsletter_Widget">
  <div class="ui padded container segment">
    <h4 class="ui dividing header">GENERATE NEWSLETTER</h4>
    <div class="ui padded stackable grid">
      <div class="row">
        <div class="column">
        <div class="ui fluid action input">
          <input id="email-list" type="text" placeholder="Input comma separated list of emails">
          <button class="ui test basic green button">Send To Admin</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui padded container segment">

  </div>
</template>