<template name="List_Feedback_Instances_Widget">
{{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
    <div class="ui dividing header"><h4>FEEDBACK INSTANCES ({{ count }})</h4></div>
    {{#each feedbackInstance in feedbackInstances}}
      {{> Admin_DataModel_Accordion name=(name feedbackInstance) descriptionPairs=(descriptionPairs feedbackInstance) id=feedbackInstance._id updateID=updateID deleteDisabled=(deleteDisabled feedbackInstance)}}
    {{/each}}
  </div>
{{else}}
  {{> Loading}}
{{/if}}
</template>
