<template name="List_Courses_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>COURSES ({{ count }})</h4></div>

    <div class="ui grid">
      {{> Admin_Datamodel_Pagination_Widget showItemCount=getItemCount showIndex=getItemIndex collection=getCollection }}
      {{#each course in courses}}
        {{> Admin_DataModel_Accordion name=(courseTitle course) slug=(slugName course.slugID) descriptionPairs=(descriptionPairs course) id=course._id updateID=updateID deleteDisabled=(deleteDisabled course) retired=(retired course)}}
      {{/each}}
    </div>
  </div>
</template>
