<template name="List_Career_Goals_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>CAREER GOALS ({{ careerGoalsCount }})</h4></div>

      {{#each careerGoal in careerGoals}}
        <div class="ui styled fluid accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            {{careerGoal.name}}
            ({{getSlugName careerGoal.slugID}})
          </div>
          <div class="content">
            {{#each descriptionPair in descriptionPairs careerGoal}}
              <p><b>{{descriptionPair.label}}:</b> {{{descriptionPair.value}}}</p>
            {{/each}}
            <p>
              <button class="ui green basic mini button" type="submit">Edit</button>
              <button class="ui green basic mini button" type="submit">Delete</button>
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>
