<template name="List_Career_Goals_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>CAREER GOALS ({{ careerGoalsCount }})</h4></div>
      <table class="ui compact table">
        <thead>
        <tr class="top aligned">
          <th>Name<br/>Slug<br/>Info</th>
          <th>Interests</th>
          <th>References</th>
        </tr>
        </thead>
        <tbody>
        {{#each careerGoal in careerGoals}}
          <tr class="top aligned">
            <td>
              <b>{{careerGoal.name}}</b><br/>
              <i>{{getSlugName careerGoal.slugID}}</i><br/>
              <a href="{{careerGoal.moreInformation}}">More Info</a>
            </td>
            <td>{{getInterestNames careerGoal.interestIDs}}</td>

            <td>{{getReferences careerGoal._id}}</td>
          </tr>
        <tr>
          <td style='border-style: none' colspan="4">Description: {{careerGoal.description}}</td>
        </tr>
          <tr>
            <td style='border-style: none' colspan="4">
              <button style="" class="ui green basic button" type="submit">Edit</button>
              <button class="ui green basic button" type="submit">Delete</button>
            </td>
          </tr>
        {{/each}}

        </tbody>
      </table>
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}

</template>