<template name="List_Mentor_Questions_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>MENTOR QUESTIONS ({{ count }})</h4></div>
    <div class="ui grid">
      {{> Admin_Datamodel_Pagination_Widget showItemCount=getItemCount showIndex=getItemIndex collection=getCollection }}
      {{#each mentorQuestion in mentorQuestions}}
        {{> Admin_DataModel_Accordion name=(title mentorQuestion) descriptionPairs=(descriptionPairs mentorQuestion) id=mentorQuestion._id updateID=updateID deleteDisabled=false retired=(retired mentorQuestion)}}
      {{/each}}
    </div>
  </div>
</template>
