<template name="List_Reviews_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>REVIEWS ({{ count }})</h4></div>
      {{#each review in reviews}}
        {{> Admin_DataModel_Accordion name=opportunity.name slug=(slugName opportunity.slugID) descriptionPairs=(descriptionPairs opportunity) id=opportunity._id updateID=updateID deleteDisabled=(deleteDisabled opportunity)}}
      {{/each}}
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>
