<template name="List_Interests_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>INTERESTS ({{ count }})</h4></div>
    <div class="ui grid">
      {{> Admin_Datamodel_Pagination_Widget showItemCount=getItemCount showIndex=getItemIndex collection=getCollection }}
      {{#each interest in interests}}
        {{> Admin_DataModel_Accordion name=interest.name slug=(slugName interest.slugID) descriptionPairs=(descriptionPairs interest) id=interest._id updateID=updateID deleteDisabled=(deleteDisabled interest) retired=(retired interest)}}
      {{/each}}
    </div>
  </div>
</template>
