<template name="List_Desired_Degrees_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>DESIRED DEGREES ({{ count }})</h4></div>

    <div class="ui grid">
      {{> Admin_Datamodel_Pagination_Widget showItemCount=getItemCount showIndex=getItemIndex collection=getCollection }}
      {{#each desiredDegree in desiredDegrees}}
        {{> Admin_DataModel_Accordion name=(desiredDegreeTitle desiredDegree) slug=(slugName desiredDegree.slugID) descriptionPairs=(descriptionPairs desiredDegree) id=desiredDegree._id updateID=updateID deleteDisabled=(deleteDisabled desiredDegree) retired=(retired desiredDegree)}}
      {{/each}}
    </div>
  </div>
</template>
