<template name="List_Opportunities_Widget">
  <div class="ui padded container segment">
    {{#if isInRole 'FACULTY'}}
      <div class="ui dividing header"><h4>YOUR OPPORTUNITIES ({{ count }})</h4></div>
      {{#each opportunity in facultyOpportunities}}
        {{> Admin_DataModel_Accordion name=opportunity.name slug=(slugName opportunity.slugID) descriptionPairs=(descriptionPairs opportunity) id=opportunity._id updateID=updateID deleteDisabled=(deleteDisabled opportunity)}}
      {{/each}}
      <div class="ui dividing header"><h4>ALL OTHER OPPORTUNITIES ({{ count }})</h4></div>
    {{else}}
    <div class="ui dividing header"><h4>OPPORTUNITIES ({{ count }})</h4></div>
      {{/if}}
    {{#each opportunity in opportunities}}
      {{> Admin_DataModel_Accordion name=opportunity.name slug=(slugName opportunity.slugID) descriptionPairs=(descriptionPairs opportunity) id=opportunity._id updateID=updateID deleteDisabled=(deleteDisabled opportunity) updateDisabled=(updateDisabled opportunity)}}
    {{/each}}
  </div>
</template>
