<template name="List_Career_Goals_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>CAREER GOALS ({{ careerGoalsCount }})</h4></div>

      {{#each careerGoal in careerGoals}}
        <div class="ui styled fluid accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            {{careerGoal.name}}
            ({{getSlugName careerGoal.slugID}})
          </div>
          <div class="content">
            <p><b>Description:</b> {{careerGoal.description}}</p>
            <p><b>Interests:</b> {{getInterestNames careerGoal.interestIDs}}</p>
            <p><b>More information:</b> <a href="{{careerGoal.moreInformation}}">{{careerGoal.moreInformation}}</a></p>
            <p><b>References:</b> {{getReferences careerGoal._id}}</p>
            <p><button class="ui green basic mini button" type="submit">Edit</button>
              <button class="ui green basic mini button" type="submit">Delete</button>
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>
