<template name="List_Opportunity_Instances_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>OPPORTUNITY INSTANCES ({{ count }})</h4></div>
    <div class="ui grid">
      {{> Admin_Datamodel_Pagination_Widget showItemCount=getItemCount showIndex=getItemIndex collection=getCollection }}
      {{#each opportunityInstance in opportunityInstances}}
        {{> Admin_DataModel_Accordion name=(name opportunityInstance) descriptionPairs=(descriptionPairs opportunityInstance) id=opportunityInstance._id updateID=updateID deleteDisabled=(deleteDisabled opportunityInstance) retired=(retired opportunityInstance)}}
      {{/each}}
    </div>
  </div>
</template>
