<template name="List_Teasers_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>TEASERS ({{ count }})</h4></div>
    <div class="ui grid">
      {{> Admin_Datamodel_Pagination_Widget showItemCount=getItemCount showIndex=getItemIndex collection=getCollection }}
      {{#each teaser in teasers}}
        {{> Admin_DataModel_Accordion name=teaser.title slug=(slugName teaser.slugID) descriptionPairs=(descriptionPairs teaser) id=teaser._id updateID=updateID deleteDisabled=(deleteDisabled teaser)}}
      {{/each}}
    </div>
  </div>
</template>
