<template name="Session_State_Segment">
  <div class="ui padded segment">
    <div class="ui dividing header"><h4>SESSION STATE</h4></div>
    <div class="content">
      <a class="header">Current Role: {{currentRole}}</a>
      <div class="meta">
        <div>Username: {{username}}</div>
        <div>AdminID: {{adminID}}</div>
        <div>AdvisorID: {{advisorID}}</div>
        <div>FacultyID: {{facultyID}}</div>
        <div>StudentID: {{studentID}}</div>
        <div>MentorID: {{mentorID}}</div>
      </div>
    </div>
  </div>
</template>