<template name="Students_Summary_Widget">
  <div class="ui padded container segment">
    <h4 class="ui dividing header">Summary:</h4>
    <form class="ui form">
      <div class="two fields">
        <div class="four wide required field">
          <label>Start date</label>
          <div class="ui calendar" id="rangeStart">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input name="startDate" type="text" placeholder="Start">
            </div>
          </div>
        </div>
        <div class="four wide required field">
          <label>End date</label>
          <div class="ui calendar" id="rangeEnd">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input name="endDate" type="text" placeholder="End">
            </div>
          </div>
        </div>
      </div>
      <button class="ui green basic button" type="submit">Submit</button>
    </form>
  </div>
  <div class = "ui padded container segment">
    <h4 class = "ui dividing header">Summary Statistics: {{dateRange}}</h4>
    <table class="ui very basic collapsing celled table">
      <thead>
      <tr><th>Behavior</th>
        <th>Count/Percentage</th></tr>
      </thead>
      <tbody>
      <tr>
      </tr>
      </tbody>
    </table>
  </div>
</template>