<template name="Update_Academic_Year_Instance_Widget">
  <div class="ui padded container segment">
    <h4 class="ui dividing header">UPDATE ACADEMIC YEAR INSTANCE</h4>
    <form class="ui equal width form {{successClass}} {{errorClass}}">
      <div class="fields">
        {{> User_Form_Field label="Student" users=students selectedUserID=academicYearInstance.studentID errorMessage=(fieldError "student") disabled=true}}
        {{> Input_Form_Field label='Year' name='year' value=academicYearInstance.year errorMessage=(fieldError 'year') disabled=true}}
      </div>
      <div class="fields">
        {{> Boolean_Form_Field label='Retired' name='retired' trueValue=trueValueRetired falseValue=falseValueRetired errorMessage=(fieldError "retired")}}
      </div>
      <button class="ui green basic button" type="submit">Update</button>
      <button class="ui green basic button jsCancel" type="submit">Cancel</button>
      {{> Success_Message_Form_Field message="The Academic Year Instance was successfully updated.  Press cancel to continue."}}
    </form>
  </div>
</template>
