<template name="Update_Mentor_Answer_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>UPDATE MENTOR ANSWER</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> User_Form_Field users=mentors selectedUserID=mentorAnswer.mentorID errorMessage=(fieldError "mentor")  disabled=true}}
      </div>

      {{> TextArea_Form_Field label="Text" name="text" rows=20 value=mentorAnswer.text errorMessage=(fieldError "text") required=true}}

      <button class="ui green basic button" type="submit">Update</button>
      <button class="ui green basic button jsCancel" type="submit">Cancel</button>
      {{> Success_Message_Form_Field message="The help message was successfully updated.  Press cancel to continue."}}
    </form>
  </div>

</template>
