<template name="Update_Career_Goal_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>UPDATE CAREER GOAL</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label='Name' name='name' value=careerGoal.name errorMessage=(fieldError 'name') required=true}}
        {{> Input_Form_Field label='Slug' name='slug' value=slug errorMessage=(fieldError 'slug') disabled=true}}
      </div>

      <div class="fields">
        {{> Interests_Form_Field interests=interests selectedInterestIDs=selectedInterestIDs errorMessage=(fieldError 'interests') required="true" }}
        {{> Input_Form_Field label='More Information' name='moreInformation' value=careerGoal.moreInformation errorMessage=(fieldError 'moreInformation') required=true}}
      </div>

      {{> TextArea_Form_Field label='Description' rows=5 name='description' value=careerGoal.description errorMessage=(fieldError 'description') required=true}}

      <button class="ui green basic button" type="submit">Update</button>
      <button class="ui green basic button jsCancel" type="submit">Cancel</button>
      {{> Success_Message_Form_Field message="The Career Goal was successfully updated.  Press cancel to continue."}}
    </form>
  </div>

</template>