<template name="Update_Plan_Choice_Widget">
    <div class="ui padded container segment">
        <div class="ui dividing header"><h4>UPDATE PLAN CHOICE</h4></div>
        <form class="ui equal width form {{successClass}} {{errorClass}}">

            <div class="fields">
                {{> Input_Form_Field label="Choice" name="choice" value=planChoice.choice errorMessage=(fieldError "choice") required=true}}
            </div>
            <button class="ui green basic button" type="submit">Update</button>
            <button class="ui green basic button jsCancel" type="submit">Cancel</button>
            {{> Success_Message_Form_Field message="The Opportunity was successfully updated. Press cancel to continue."}}
        </form>
    </div>
</template>
