<template name="Update_Opportunity_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>UPDATE OPPORTUNITY</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label="Name" name="name" value=opportunity.name errorMessage=(fieldError "name") required=true}}
        {{> Input_Form_Field label="Slug" name="slug" value=slug errorMessage=(fieldError "slug") disabled=true}}
      </div>

      <div class="fields">
        {{> Opportunity_Types_Form_Field opportunityTypes=opportunityTypes selectedOpportunityTypeID=opportunity.opportunityTypeID errorMessage=(fieldError "opportunityTypes")}}
        {{> Sponsor_Form_Field sponsors=sponsors selectedSponsorID=opportunity.sponsorID errorMessage=(fieldError "sponsor") required=true disabled=faculty}}
      </div>

      <div class="fields">
        {{> Interests_Form_Field interests=interests selectedInterestIDs=selectedInterestIDs errorMessage=(fieldError 'interests') required="true" }}
        {{> Semesters_Form_Field semesters=semesters selectedSemesterIDs=selectedSemesterIDs errorMessage=(fieldError "semesters") required="true" }}
      </div>

      <div class="fields">
        {{> ICE_Form_Field label="Innovation" name="innovation" selectedICE=opportunity.ice.i errorMessage=(fieldError "innovation") required=true}}
        <input type="hidden" name="competency" value="0">
        {{> ICE_Form_Field label="Experience" name="experience" selectedICE=opportunity.ice.e errorMessage=(fieldError "innovation") required=true}}
      </div>

      {{> TextArea_Form_Field label="Description" rows=15 name="description" value=opportunity.description errorMessage=(fieldError "description") required=true}}

      <button class="ui green basic button" type="submit">Update</button>
      <button class="ui green basic button jsCancel" type="submit">Cancel</button>
      {{> Success_Message_Form_Field message="The Opportunity was successfully updated. Press cancel to continue."}}
    </form>
  </div>

</template>
