<template name="Update_User_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>UPDATE USER</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Input_Form_Field label="Username" name="username" value=slug errorMessage=(fieldError "username") disabled=true}}
        {{> Input_Form_Field label="Role" name="role" value=selectedRole errorMessage=(fieldError "role") disabled=true}}
      </div>

      <div class="fields">
        {{> Input_Form_Field label="First" name="firstName" value=user.firstName errorMessage=(fieldError "firstName") required=true}}
        {{> Input_Form_Field label="Last" name="lastName" value=user.lastName errorMessage=(fieldError "lastName") required=true}}
      </div>

      <div class="ui dividing header"><h4>Optional fields (all users)</h4></div>

      <div class="fields">
        {{> Input_Form_Field label="Picture" name="picture" value=user.picture errorMessage=(fieldError "picture") }}
        {{> Input_Form_Field label="Website" name="website" value=user.website errorMessage=(fieldError "website") }}
      </div>

      <div class="fields">
        {{> Career_Goals_Form_Field careerGoals=careerGoals selectedCareerGoalIDs=selectedCareerGoalIDs errorMessage=(fieldError "careerGoals")}}
        {{> Interests_Form_Field interests=interests selectedInterestIDs=selectedInterestIDs errorMessage=(fieldError "interests") }}
      </div>

      {{#if isMentor}}
        {{> Update_User_Widget_Mentor user=user}}
      {{/if}}
      {{#if isStudent}}
        {{> Update_User_Widget_Student user=user}}
      {{/if}}
      <button class="ui green basic button" type="submit">Update</button>
      <button class="ui green basic button jsCancel" type="submit">Cancel</button>
      {{> Success_Message_Form_Field message="The User was successfully updated.  Press cancel to continue."}}
    </form>
  </div>

</template>