<template name="Update_Help_Message_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>UPDATE HELP MESSAGE</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> RouteName_Form_Field routeNames=routeNames selectedRouteName=helpMessage.routeName errorMessage=(fieldError "routeName") required=true}}
        {{> Input_Form_Field label="Title" name="title" value=helpMessage.title errorMessage=(fieldError "title") required=true}}
      </div>

      {{> TextArea_Form_Field label="Text" name="text" rows=20 value=helpMessage.text errorMessage=(fieldError "text") required=true}}
      <div class="fields">
        {{> Boolean_Form_Field label='Retired' name='retired' trueValue=trueValueRetired falseValue=falseValueRetired errorMessage=(fieldError "retired")}}
      </div>

      <button class="ui green basic button" type="submit">Update</button>
      <button class="ui green basic button jsCancel" type="submit">Cancel</button>
      {{> Success_Message_Form_Field message="The help message was successfully updated.  Press cancel to continue."}}
    </form>
  </div>

</template>
