<template name="Update_Course_Instance_Widget">

  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>UPDATE COURSE INSTANCE</h4></div>
    <form class="ui equal width form {{successClass}} {{errorClass}}">

      <div class="fields">
        {{> Semesters_Single_Form_Field semesters=semesters selectedSemesterID=selectedSemesterID errorMessage=(fieldError "semesters")  disabled=true}}
        {{> Course_Form_Field courses=courses selectedCourseID=course errorMessage=(fieldError "course")  disabled=true}}
        {{> User_Form_Field users=students selectedUserID=courseInstance.studentID errorMessage=(fieldError "student")  disabled=true}}
      </div>
      <div class="fields">
        {{> Boolean_Form_Field label="Verified" trueValue=trueValueVerified falseValue=falseValueVerified name="verified" errorMessage=(fieldError "verified")}}
        {{> Boolean_Form_Field label="fromSTAR" trueValue=trueValueFromSTAR falseValue=falseValueFromSTAR name="fromSTAR" errorMessage=(fieldError "fromSTAR")}}
      </div>
      <div class="fields">
        {{> Input_Form_Field label="Grade" name="grade" value=courseInstance.grade errorMessage=(fieldError "grade") required=true }}
        {{> Input_Form_Field label="CreditHrs" name="creditHrs" value=courseInstance.creditHrs errorMessage=(fieldError "creditHrs") required=true }}
        {{> Input_Form_Field label="Note" name="note" value=courseInstance.note errorMessage=(fieldError "note")}}
      </div>

      <div class="fields">
        {{> Input_Form_Field label="Innovation" name="innovation" value=courseInstance.ice.i errorMessage=(fieldError "innovation") required=true type="number"}}
        {{> Input_Form_Field label="Competency" name="competency" value=courseInstance.ice.c errorMessage=(fieldError "competency") required=true type="number"}}
        {{> Input_Form_Field label="Experience" name="experience" value=courseInstance.ice.e errorMessage=(fieldError "experience") required=true type="number"}}
      </div>
      <button class="ui green basic button" type="submit">Update</button>
      <button class="ui green basic button jsCancel" type="submit">Cancel</button>
      {{> Success_Message_Form_Field message="The Course Instance was successfully updated.  Press cancel to continue."}}
      {{> Form_Error_Message errorMessage="The Course Instance could not be updated."}}
    </form>
  </div>

</template>