<template name="Student_Home">
  <div class="ui top fixed borderless menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>RadGrad</h1></a>
      <div class="ui right dropdown item">
        <div class="text">Site Map</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="{{ isActiveRoute 'Landing_Page'}} item" href="{{ pathFor 'Landing_Page' }}">Landing Page</a>
          <a class="{{ isActiveRoute 'Student_Home_Page'}} item" href="{{ pathFor 'Student_Home_Page' }}">Student Home Page</a>
          <a class="{{ isActiveRoute 'Admin_Home_Page'}} item" href="{{ pathFor 'Admin_Home_Page' }}">Admin Home Page</a>
          <a class="{{ isActiveRoute 'Advisor_Home_Page'}} item" href="{{ pathFor 'Advisor_Home_Page' }}">Advisor Home Page</a>
          <a class="{{ isActiveRoute 'Mentor_Home_Page'}} item" href="{{ pathFor 'Mentor_Home_Page' }}">Mentor Home Page</a>
          <a class="{{ isActiveRoute 'Student_Degree_Planner_Page'}} item" href="{{ pathFor 'Student_Degree_Planner_Page' }}">Student Degree Planner Page</a>
          <a class="{{ isActiveRoute 'Student_MentorSpace_Page'}} item" href="{{ pathFor 'Student_MentorSpace_Page' }}">Student MentorSpace Page</a>

        </div>
      </div>
    </div>
  </div>

  <div class="header-body">
    {{>Template.dynamic template=main}}
  </div>
  {{> Footer}}
</template>
