<template name="First_Menu">
  <div class="ui top fixed borderless menu radgrad-first-menu">
    <a class="item" href="/"><img src="/images/radgrad_logo.png"></a>
    <a class="item" href="{{pathFor 'Advisor_Home_Page'}}"><h1 class="radgrad-brand-font" style="text-transform: none !important;">RadGrad</h1></a>
    <div class="item"><h3>{{ role }}</h3></div>
    <div class="right menu radgrad-menu-profile">
      <div class="item">
        <img class="ui mini avatar image" src="/images/landing/shimoda.jpg">
        <div class="content">
          <div class="header">{{firstMenuFullName}} (LEVEL 2)</div>
          <span>
            <a class="ui blue circular label">10</a>
            <a class="ui olive circular label">30</a>
            <a class="ui orange circular label">25</a>
            {{#if useCAS}}
              {{> Cas_Login}}
            {{else}}
              {{> loginButtons align="right"}}
            {{/if}}
          </span>
        </div>
      </div>
      <a class="item radgrad-menu-icon-button"><i class="large fitted alarm icon"></i></a>
      <a class="item radgrad-menu-icon-button"><i class="large fitted setting icon"></i></a>
    </div>
  </div>
</template>
