<template name="First_Menu">
  <div class="ui top fixed menu" style="background-color: #6FBE44;">
    <a class="item" href="/"><img src="/images/radgrad_logo.png"></a>
    <a class="item" href="{{pathFor 'Advisor_Home_Page'}}"><h1 class="radgrad-brand-font" style="color:white;">RadGrad</h1></a>
    <div class="item"><h3 style="color: white;">{{ role }}</h3></div>
    <div class="right menu">
      <a class="ui right dropdown item">
        <img style="border-radius:50px; margin-right: 5px;" src="/images/landing/shimoda.jpg">
        <span style="font-weight: 600; color: white;">Michelle Shimoda</span>
        <div class="menu">
          <div class="item">Logout</div>
        </div>
      </a>
      <a class="item" style="padding-left: 0.6rem; padding-right: 0; margin: 0;"><i class="large alarm icon" style="color: #38840F;"></i>
        <div class="floating ui small circular label" style="position: relative; left: -0.3rem; top: -1rem; background-color: #CA4864">10</div>
      </a>
      <a class="item" style="padding-left: 0.6rem; padding-right: 0; margin: 0;"><i class="large setting icon" style="color: #38840F;"></i></a>
    </div>
  </div>
</template>