.layout-body {
  padding-top: 40px;
}

.layout-page {
  padding-top: 80px;
}

div.adminViewer div.layout-page {
  padding-top: 180px;
}

.layout-page-no-container {
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
}