@media only screen and (max-width: 767px) {
  .layout-page {
  padding-top: 103px !important;
  padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .layout-page {
    padding-top: 10rem !important;
    padding-bottom: 2rem;
  }
}

.radgrad-first-menu {
  min-height: 78px !important;
}

body.pushable {
  background-color: #F7F7F7 !important;
}

.pusher {
  background-color: #F7F7F7 !important;
}

div.adminViewer div.layout-page {
  padding-top: 180px;
}

div.adminViewer div.layout-page-no-container {
  padding-top: 180px;
}

.layout-page-no-container {
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
}