<template name="ICE_Badge">
  <div class="ui center aligned three column stackable grid" style="margin: 0;">

      <div class="column">
        <div class="radgrad-ice degree" style="margin: 0">
          <div class="radgrad-ice-circle radgrad-earn-innov p{{i ice}}">
            <div class="radgrad-ice-stat">
              <span>{{i ice}}</span>
            </div>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="radgrad-ice degree" style="margin: 0">
          <div class="radgrad-ice-circle radgrad-earn-comp p{{c ice}}">
            <div class="radgrad-ice-stat">
              <span>{{c ice}}</span>
            </div>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="radgrad-ice degree" style="margin: 0">
          <div class="radgrad-ice-circle radgrad-earn-exp p{{e ice}}">
            <div class="radgrad-ice-stat">
              <span>{{e ice}}</span>
            </div>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>

  </div>

  <!--
  <span class="ice-header ice-innovation-background">{{i ice}}</span>
  <span class="ice-header ice-competency-background">{{c ice}}</span>
  <span class="ice-header ice-experience-background">{{e ice}}</span> -->
</template>
