<template name="Landing_Section_3">
  <div class="landing-green-background">
    <div class="ui center aligned container">
      <h1 class="landing-green-background-header">Specify your degree, career goals, and interests</h1>
      <img class="ui image" src="/images/landing/abi-about-me.png">
    </div>

    <div class="ui text container">
      <p>Getting started with RadGrad is easy. Just meet with an ICS advisor, and they will set up your account and answer your questions.</p>

      <p>To start, you'll provide RadGrad with your desired degree, one or more career goals, and a few interests. Don't worry, you can change them later!</p>
    </div>
  </div>
</template>
