<template name="Landing_Section_2">
  <div class="header-section">
    <div class="ui stackable grid">
      <div class="three wide column">
      </div>

      <div class="five wide right aligned column">
        <h1 class="header-text">Why use {{> RadGrad_Logo_Text}}?</h1>

        <p class="header-description">
          <b>Discover</b> your interests. <br>
          <b>Build</b> your community. <br>
          <b>Strengthen</b> your preparation. <br>
          <b>Define</b>, then <b>achieve</b> your career goals. <br>
          <b>Pay it forward.</b> <br>
        </p>

      </div>

      <div class="five wide column vertical-align">
        <div class="ui huge horizontal statistics landing-stats" style="margin-top: 0px;">
          <div class="green statistic">
            <div class="value">
              {{publicStats 'careerGoalsTotal'}}
            </div>
            <div class="label">
              <a href="{{pathFor careerGoalsRouteName careerGoal=firstCareerGoal}}">Career Goals</a>
            </div>
          </div>
          <div class="green statistic">
            <div class="value">
              {{publicStats 'interestsTotal'}}
            </div>
            <div class="label">
              <a href="{{pathFor interestsRouteName interest=firstInterest}}">Interests</a>
            </div>
          </div>
          <div class="green statistic">
            <div class="value">
              {{publicStats 'opportunitiesTotal'}}
            </div>
            <div class="label">
              <a href="{{pathFor opportunitiesRouteName opportunity=firstOpportunity}}">Opportunities</a>
            </div>
          </div>
          <div class="green statistic">
            <div class="value">
              {{publicStats 'usersTotal'}}
            </div>
            <div class="label">
              Students, Faculty, Mentors
            </div>
          </div>
        </div>
      </div>

      <div class="three wide column">
      </div>

    </div>
    
  </div>


    

</template>
