<template name="Landing_Section_3">
  <div class="inverted-section" id="landing-section-3">
    <div class="ui container">
      <div class="ui two column centered padded stackable grid">

        <div class="column">
          <img class="ui rounded image" src="/images/landing/abi-about-me.png">
        </div>

        <div class="column">
          <h1 class="inverted-header">Specify your degree, career goals, and interests</h1>
          <p class="inverted-description">
            {{#markdown}}
Getting started with RadGrad is easy. Just meet with an ICS advisor, and they will set up your account and answer your questions.

To start, you'll select one of the **{{publicStats 'desiredDegreesTotal'}}** ICS degree programs, one out of **{{publicStats 'careerGoalsTotal'}}** career directions, and a few of the **{{publicStats 'interestsTotal'}}** ICS interest areas. Don't worry, you can change them later!
            {{/markdown}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
