<template name="Landing_Section_7">
  <div class="landing-green-background">
    <div class="ui center aligned container">
      <h1 class="landing-green-background-header">Discover new directions</h1>
      <img class="ui image" src="/images/landing/abi-explorer-career-goals.png">
    </div>

    <div style="margin-top: 20px" class="ui text container">
      <p>Computer science is changing all the time, and your interests and career goals will evolve as you progress through the program.</p>

      <p>RadGrad provides "Explorers" for career goals, interests, degrees, and more so you can stay on top of the latest trends.</p>
    </div>
  </div>
</template>
