<template name="Landing_Section_4">
  <div class="grey-section" id="landing-section-4">
    <div class="ui container">
      <div class="ui two column centered padded stackable grid">

        <div class="column">
          <h1 class="header-text">Generate a <span class="green-text">custom</span> degree experience</h1>
          <p class="header-description">Based on your degree, career goals, and interests, RadGrad helps you plan what you'll do each semester: not just the classes you'll take, but also
        extracurricular opportunities such as hackathons, internships, clubs, and more.</p>

          <p class="header-description">RadGrad recognizes that what you do outside of class is sometimes just as important as what you do in it.</p>
        </div>

        <div class="column">
          <img class="ui bordered rounded image" src="/images/landing/abi-degree-planner.png">
        </div>

      </div>
    </div>
  </div>
</template>
