<template name="Landing_Explorer_Menu">
  <div class="ui selection fluid dropdown">
    <i class="dropdown icon"></i>
    <div>{{getRouteName}}</div>
    <div class="menu">
      <a class="{{isActiveRoute academicPlansCardRouteName}} item"
         href="{{pathFor academicPlansCardRouteName}}">Academic Plans</a>
      <a class="{{isActiveRoute careerGoalsCardRouteName}} item"
         href="{{pathFor careerGoalsCardRouteName}}">Career Goals</a>
      <a class="{{isActiveRoute coursesCardRouteName}} item"
         href="{{pathFor coursesCardRouteName}}">Courses</a>
      <a class="{{isActiveRoute degreesCardRouteName}} item"
         href="{{pathFor degreesCardRouteName}}">Degrees</a>
      <a class="{{isActiveRoute interestsCardRouteName}} item"
         href="{{pathFor interestsCardRouteName}}">Interests</a>
      <a class="{{isActiveRoute opportunitiesCardRouteName}} item"
         href="{{pathFor opportunitiesCardRouteName}}">Opportunities</a>
    </div>
  </div>

  {{#unless equals getRouteName 'Users,Select Explorer'}}
    <div class="ui fluid selection search dropdown mobile only" style="margin-top: 1rem;">
      <i class="dropdown icon"></i>
      <span class="default text">Select Item</span>
      <div class="menu">
        {{#if isType type 'courses'}}
          {{#each listItem in menuAddedList}}
            <a class="{{classType (slugName listItem) 'course'}}" data-tab="tab-name"
               href="{{pathFor coursesRouteName course=(slugName listItem)}}">{{courseName listItem}}</a>
          {{/each}}
          {{#each listItem in menuNonAddedList}}
            <a class="{{classType (slugName listItem) 'course'}}" data-tab="tab-name"
               href="{{pathFor coursesRouteName course=(slugName listItem)}}">{{courseName listItem}}</a>
          {{/each}}
        {{else}}
          {{#if isType type 'careerGoals'}}
            {{#each listItem in menuAddedList}}
              {{#each listItem in menuAddedList}}
                <a class="{{classType (slugName listItem) 'careergoal'}}" data-tab="tab-name"
                   href="{{pathFor careerGoalsRouteName  careerGoal=(slugName listItem)}}">{{itemName listItem}}</a>
              {{/each}}
              {{#each listItem in menuNonAddedList}}
                <a class="{{classType (slugName listItem) 'careergoal'}}" data-tab="tab-name"
                   href="{{pathFor careerGoalsRouteName careerGoal=(slugName listItem)}}">{{itemName listItem}}</a>
              {{/each}}
            {{/each}}
          {{else}}
            {{#if isType type 'degrees'}}
              {{#each listItem in menuAddedList}}
                <a class="{{classType (slugName listItem) 'degree'}}" data-tab="tab-name"
                   href="{{pathFor degreesRouteName  degree=(slugName listItem)}}">{{itemName
                    listItem}}</a>
              {{/each}}
              {{#each listItem in menuNonAddedList}}
                <a class="{{classType (slugName listItem) 'degree'}}" data-tab="tab-name"
                   href="{{pathFor degreesRouteName  degree=(slugName listItem)}}">{{itemName
                    listItem}}</a>
              {{/each}}
            {{else}}
              {{#if isType type 'opportunities'}}
                {{#each listItem in menuAddedList}}
                  <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name"
                     href="{{pathFor opportunitiesRouteName
                                     opportunity=(slugName listItem)}}">{{itemName listItem}}</a>
                {{/each}}
                {{#each listItem in menuNonAddedList}}
                  <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name"
                     href="{{pathFor opportunitiesRouteName
                                     opportunity=(slugName listItem)}}">{{itemName listItem}}</a>
                {{/each}}
              {{else}}
                {{#if isType type 'interests'}}
                  {{#each listItem in menuAddedList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name"
                       href="{{pathFor interestsRouteName
                                       interest=(slugName listItem)}}">{{itemName listItem}}</a>
                  {{/each}}
                  {{#each listItem in menuCareerList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name"
                       href="{{pathFor interestsRouteName
                                       interest=(slugName listItem)}}">{{itemName listItem}}</a>
                  {{/each}}
                  {{#each listItem in menuNonAddedList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name"
                       href="{{pathFor interestsRouteName
                                       interest=(slugName listItem)}}">{{itemName listItem}}</a>
                  {{/each}}
                {{else}}
                  {{#if isType type 'plans'}}
                    {{#each listItem in menuAddedList}}
                      <a class="{{classType (slugName listItem) 'plan'}}" data-tab="tab-name"
                         href="{{pathFor academicPlansRouteName
                                         plan=(slugName listItem)}}">{{itemName listItem}}</a>
                    {{/each}}
                    {{#each listItem in menuNonAddedList}}
                      <a class="{{classType (slugName listItem) 'plan'}}" data-tab="tab-name"
                         href="{{pathFor academicPlansRouteName
                                         plan=(slugName listItem)}}">{{itemName listItem}}</a>
                    {{/each}}
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/unless}}

  <div class="ui vertical text menu mobile hidden">
    {{#if isType type 'courses'}}
      {{#if showBackButton}}
        <a class="ui button" href="{{pathFor coursesRouteName}}"><i class="chevron circle left icon"></i><br>Back to
          Courses</a>
      {{/if}}
    {{else}}
      {{#if isType type 'careerGoals'}}
        {{#if showBackButton}}
          <a class="ui button" href="{{pathFor careerGoalsCardRouteName}}"><i class="chevron circle left icon"></i><br>Back
            to Career Goals</a>
        {{/if}}
      {{else}}
        {{#if isType type 'degrees'}}
          {{#if showBackButton}}
            <a class="ui button" href="{{pathFor degreesCardRouteName}}"><i class="chevron circle left icon"></i><br>Back
              to Degrees</a>
          {{/if}}
        {{else}}
          {{#if isType type 'opportunities'}}
            {{#if showBackButton}}
              <a class="ui button" href="{{pathFor opportunitiesCardRouteName}}"><i
                  class="chevron circle left icon"></i><br>Back to Opportunities</a>
            {{/if}}
          {{else}}
            {{#if isType type 'interests'}}
              {{#if showBackButton}}
                <a class="ui button" href="{{pathFor interestsCardRouteName}}"><i
                    class="chevron circle left icon"></i><br>Back to Interests</a>
              {{/if}}
            {{else}}
              {{#if isType type 'plans'}}
                {{#if showBackButton}}
                  <a class="ui button" href="{{pathFor academicPlansCardRouteName}}"><i
                      class="chevron circle left icon"></i><br>Back
                    to Academic Plans</a>
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
