<template name="Landing_Section_2">
  <div class="landing-section-2 radgrad-background-color">
    <div class="ui center aligned text container">
      <div class="radgrad-foreground-color">
        <h1 class="landing-section-2-header">Why use {{> RadGrad_Logo_Text}}?</h1>
        <h3>Discover your interests.</h3>
        <h3>Build your community.</h3>
        <h3>Strengthen your preparation.</h3>
        <h3>Define, then achieve your career goals.</h3>
        <h3>Pay it forward.</h3>
      </div>
    </div>
  </div>
</template>
