.landing-section-2 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: green;
}

.landing-section-2-header {
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 72px;
}

.landing-section-2 h3 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 36px;
}