<template name="Landing_Section_7">

  <div class="inverted-section" id="landing-section-7">
    <div class="ui container">
      <div class="ui two column centered padded stackable grid">

        <div class="column">
          <h1 class="inverted-header">Discover new directions</h1>
          <p class="inverted-description">Computer science is changing all the time, and your interests and career goals will evolve as you progress through the program.
          </p>
        
          <p class="inverted-description">RadGrad provides "Explorers" for career goals, interests, degrees, and more so you can stay on top of the latest trends.
          </p>
        </div>

        <div class="column">
          <img class="ui rounded image" src="/images/landing/abi-explorer-career-goals.png">
        </div>
      </div>
    </div>
  </div>
</template>
