.landing-menu > .item, .landing-menu .right.menu > .item {
  position: initial !important;
}

#landing-section-1 {
  background-color: rgba(0,0,0,.8);
  padding-top: 68px;
}

.landing-ice {
  margin: 0;
}

.landing-ice > .column {
  padding-bottom: 0 !important;
}

.landing-section-1-welcome {
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 72px;
  color: white;
}

.landing-section-1-tagline {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 36px;
  color: white;
}
