<template name="Landing_Section_1">
  <div class="landing-section-1">
    <div class="ui container">

      <div style="padding-top: 10px" class="row">
        <div class="ui grid">
          <div class="ui left aligned two wide column">
            <img id="logo" src="/images/ICS-logo.png" class="ui image" width="64px">
          </div>

          <div class="ui center aligned twelve wide column">
            <h1 class="landing-section-1-welcome">Welcome to <span style="font-weight: 400" class="radgrad-brand-font">RadGrad</span></h1>
            <h3 class="landing-section-1-tagline">Developing awesome computer scientists, <br> one graduate at a time</h3>
          </div>

          <div class="ui right aligned two wide column">
            {{> loginButtons align="right"}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui six column grid">
          <div class="ui center aligned column">
            <img width="100px" src="/images/landing/garces.jpg" alt="" class="ui centered circular image">
            <p style="margin-bottom: 1px; margin-top:0px">Josephine G.<br>B.S. Comp. Sci.</p>
            {{> ICE_Badge ice=josephineICE }}
          </div>
          <div class="ui center aligned column">
            <img width="100px" src="/images/landing/boado.jpg" alt="" class="ui centered circular image">
            <p style="margin-bottom: 1px; margin-top:0px">Brian B.<br>B.S. Comp. Sci.</p>
            {{> ICE_Badge ice=brianICE }}
          </div>
          <div class="ui center aligned column">
            <img width="100px" src="/images/landing/shimoda.jpg" alt="" class="ui centered circular image">
            <p style="margin-bottom: 1px; margin-top:0px">Michele S.<br>B.S. Comp. Eng.</p>
            {{> ICE_Badge ice=micheleICE }}
          </div>
          <div class="ui center aligned column">
            <img width="100px" src="/images/landing/preza.png" alt="" class="ui centered circular image">
            <p style="margin-bottom: 1px; margin-top:0px">Aljon P.<br>B.A. Info. & Comp. Sci</p>
            {{> ICE_Badge ice=aljonICE }}
          </div>
          <div class="ui center aligned column">
            <img width="100px" src="/images/landing/yamakawa.jpg" alt="" class="ui centered circular image">
            <p style="margin-bottom: 1px; margin-top:0px">Kelsie Y.<br>B.S. Comp. Eng.</p>
            {{> ICE_Badge ice=kelsieICE }}
          </div>
          <div class="ui center aligned column">
            <img width="100px" src="/images/landing/morikawa.jpg" alt="" class="ui centered circular image">
            <p style="margin-bottom: 1px; margin-top:0px">Sy M.<br>B.S. Comp. Sci.</p>
            {{> ICE_Badge ice=syICE }}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>