<template name="Landing_Explorer_CareerGoals_Widget">

    <div class="ui segments" style="background-color: white;">
      <div class="ui padded segment container">

        <div class="ui clearing basic segment" style="margin: 0; padding: 0;">
          <h4 class="ui left floated header vertically aligned">{{toUpper name}}</h4>
        </div>

        <div class="ui divider" style="margin-top: 0;"></div>

        <div class="ui stackable grid">
          <div class="column">
            {{#each descriptionPair in descriptionPairs}}

              {{#if isLabel descriptionPair.label 'Description'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} {{{markdownify descriptionPair.value}}}
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'Interests'}}
                <div style="margin-top: 5px">
                  <!--{{#each interest in descriptionPair.value}}-->
                    <!--<a class="ui right aligned mini label" href="{{pathFor interestsRouteName username=routeUserName interest = (interestSlugName interest)}}"><i class="fitted star icon"></i>{{interest}}</a>-->
                  <!--{{/each}}-->
                </div>
              {{/if}}

            {{/each}}
          </div>
        </div>
      </div>
    </div>

</template>
