<template name="Landing_Section_3">
  <div class="inverted-section" id="landing-section-3">
    <div class="ui container">
      <div class="ui two column centered padded stackable grid">

        <div class="column">
          <img class="ui rounded image" src="/images/landing/abi-about-me.png">
        </div>

        <div class="column">
          <h1 class="inverted-header">Specify your degree, career goals, and interests</h1>
          <p class="inverted-description">
<p>Getting started with RadGrad is easy. Just meet with your advisor, and they will set up your account and answer your questions.</p>

          <p>To start, you'll select one of the <strong>{{publicStats 'desiredDegreesTotal'}}</strong> degree programs, one out of <strong>{{publicStats 'careerGoalsTotal'}}</strong> <a href="{{pathFor careerGoalsRouteName}}">career directions</a>, and a few of the <strong>{{publicStats 'interestsTotal'}}</strong> <a href="{{pathFor interestsRouteName}}">interest areas</a>. Don't worry, you can change them later!</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
