<template name="Landing_Section_2">
  <div style="background-color: #f7f7f7; padding-top: 60px; padding-bottom: 60px;">
    <div class="ui stackable grid">
      <div class="two wide column">
      </div>
      <div class="six wide column">
        <div class="ui large statistics">
          <div class="green statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Interests
            </div>
          </div>
          <div class="green statistic">
            <div class="value">
              31,200
            </div>
            <div class="label">
              Opportunities
            </div>
          </div>
          <div class="green statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Course Reviews
            </div>
          </div>
        </div>
      </div>

      <div class="six wide column">
        <h1 style="font-size: 42px;">Why use {{> RadGrad_Logo_Text}}?</h1>
        <p style="font-size: 18px;">Discover your interests. <br>
          Build your community. <br>
          Strengthen your preparation.<br>
          Define, then achieve your career goals.<br>
          Pay it forward.</p>
      </div>
    </div>
    <div class="two wide column">
      </div>
  </div>


    

</template>
