<template name="Landing_Section_9">

  <div class="inverted-section" id="landing-section-9">

    <div class="ui stackable grid container">

      <div class="center aligned column">
        <h1 class="inverted-header">Ready to get started?</h1>
        <p class="inverted-description">Take a guided tour!</p>

        <div class="ui grid">
          <div class="ui stackable four cards" style="padding-top: 1.2rem;">
            <div class="ui card" style="box-shadow: none;">
              <div class="image">
                <img src="/images/landing/grad-student.png">
              </div>
              <a class="ui bottom attached button" href="{{pathFor studentGuidedTourPageRouteName}}">
                Students
                <i class="chevron right icon"></i>
              </a>
            </div>

            <div class="ui card" style="box-shadow: none;">
              <div class="image">
                <img src="/images/landing/advisor.png">
              </div>
              <a class="ui bottom attached disabled button">
                Advisors
                (Coming Soon!)
              </a>
            </div>

            <div class="ui card" style="box-shadow: none;">
              <div class="image">
                <img src="/images/landing/ics-faculty-group.png">
              </div>
              <a class="ui bottom attached disabled button">
                Faculty
                (Coming Soon!)
              </a>
            </div>

            <div class="ui card" style="box-shadow: none;">
              <div class="image">
                <img src="/images/landing/nagashima.jpg">
              </div>
              <a class="ui bottom attached disabled button">
                Mentors
                (Coming Soon!)
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  {{>Footer}}
</template>
