<template name="Landing_Section_1">
  <div class="ui container">
    <div class="ui small top fixed menu landing-menu">
      <div class="item">
        <img class="ui image" src="/images/radgrad_logo.png" style="width: 45px;">
      </div>
      <div class="item">
        <h2>{{> RadGrad_Logo_Text}}</h2>
      </div>

      <div class="right menu">
        <div class="item">
          <div class="ui small compact green basic button">
            {{#if useCAS}}
              {{> Cas_Login align="right"}}
            {{else}}
              {{#if checkLanding}}
                {{#if currentUser}}
                  <a style="color: #6FBE44;" href="{{pathFor studentHomePageRouteName username=(currentUser.username)}}">Home</a>
                {{else}}
                  {{> loginButtons align="right"}}
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="landing-section-1">
    <div class="ui center aligned container" style="padding-top: 5rem;">
      <h1 style="color: white; font-size: 72px;">Welcome to <span style="color: #6FBE44">{{> RadGrad_Logo_Text}}</span></h1>
      <span style="color: rgba(255,255,255,.7); font-size: 20px;">Developing awesome computer scientists, <b>one</b> graduate at a time.</span>

      <div class="ui stackable doubling four cards" style="text-align: left !important; margin-top: 90px; padding-bottom: 80px;">

        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/landing/yamakawa.jpg">
            <div class="header">
              Kelsie Y. {{interestsCount}}+
            </div>
            <div class="meta">
              B.S. in Computer Science
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid">
                <div class="center aligned column">
                  {{> First_Menu_Ice earned="92" projected="100" iceType="innov"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="81" projected="100" iceType="comp"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="90" projected="100" iceType="exp"}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/landing/boado.jpg">
            <div class="header">
              Brian B.
            </div>
            <div class="meta">
              B.A. in Info. and Comp. Sciences
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid" style="margin: 0;">
                <div class="column">
                  {{> First_Menu_Ice earned="68" projected="100" iceType="innov"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="63" projected="100" iceType="comp"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="70" projected="100" iceType="exp"}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/landing/shimoda.jpg">
            <div class="header">
              Michele S.
            </div>
            <div class="meta">
              B.S. in Computer Science
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid">
                <div class="column">
                  {{> First_Menu_Ice earned="86" projected="100" iceType="innov"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="81" projected="100" iceType="comp"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="95" projected="100" iceType="exp"}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/landing/morikawa.jpg">
            <div class="header">
              Sy M.
            </div>
            <div class="meta">
              B.S. in Computer Science
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid">
                <div class="column">
                  {{> First_Menu_Ice earned="65" projected="100" iceType="innov"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="78" projected="100" iceType="comp"}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="74" projected="100" iceType="exp"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>