<template name="Landing_Section_8">

  <div class="grey-section" id="landing-section-8">
    <div class="ui container">
      <div class="ui two column centered padded grid">
        <div class="column center aligned">
          <h1 class="header-text">Pay it forward</h1>
          <p class="header-description">RadGrad offers opportunities for students to give back to the ICS community both during their degree program and after they graduate.</p>

          <p class="header-description">During your time as a student, you can provide advice about courses you've already taken to those coming after you. 
            After you graduate, you can become a mentor, and answer student questions about life after graduation and how to best prepare for it.</p>
        </div>
      </div>

      <div class="ui two column centered padded stackable grid">
        <div class="column">
          <img class="ui bordered rounded image" src="/images/landing/abi-course-reviews.png">
        </div>

        <div class="column">
          <img class="ui bordered rounded image" src="/images/landing/abi-mentor-space.png">
        </div>

      </div>
    </div>
  </div>
</template>
