<template name="Landing_Section_5">
  <div class="inverted-section" id="landing-section-5">
    <div class="ui container">
      <div class="ui two column centered padded stackable grid">

        <div class="column">
          <img class="ui rounded image" src="/images/landing/abi-home-ice.png">
        </div>

        <div class="column">
          <h1 class="inverted-header">Measure your progress with ICE</h1>
          <p class="inverted-description">A decent GPA is only one piece of the puzzle for a well-rounded computer science degree experience. RadGrad
            provides a self-assessment tool called "ICE", which stands for <span class="ice-innovation-color"><b>Innovation</b></span>, 
            <span class="ice-competency-color"><b>Competency</b></span>, and <span class="ice-experience-color"><b>Experience</b></span>.
          </p>
        
          <p class="inverted-description">To be competitive in the high tech job market, you want to demonstrate competency (through good grades in CS course
            work), innovation (through participation in research, hackathons, and the like), and real-world experience
            (through participation in internships and other professional experiences).
          </p>

          <p class="inverted-description">
            How do you know when you're well-rounded? Just accumulate 100 points in each of the three categories by the
            time you graduate.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
