<template name="Landing_Section_6">
  <div class="grey-section" id="landing-section-6">
    <div class="ui container">
      <div class="ui two column centered padded stackable grid">

        <div class="center aligned column">
          <div class="ui three column grid">
            <div class="column">
              <img class="ui small image" src="/images/level-icons/radgrad-level-1-icon.png">
            </div>
            <div class="column">
              <img class="ui small image" src="/images/level-icons/radgrad-level-2-icon.png">
            </div>
            <div class="column">
              <img class="ui small image" src="/images/level-icons/radgrad-level-3-icon.png">
            </div>
          </div>

          <h1 class="header-text">Level up</h1>
          <div class="header-description">
          {{#markdown}}
The RadGrad path to an improved degree experience is long and challenging. To recognize stages in your progress, RadGrad defines six levels of achievement: white, yellow, green, blue, brown and black.

Right now, there are **{{publicStats 'levelOneTotal'}}** student(s) at Level One, **{{publicStats 'levelTwoTotal'}}** at Level Two, **{{publicStats 'levelThreeTotal'}}** at Level Three, **{{publicStats 'levelFourTotal'}}** at Level Four, **{{publicStats 'levelFiveTotal'}}** at Level Five, and **{{publicStats 'levelSixTotal'}}** at Level Six.

Once you achieve a level, the corresponding badge appears in your profile and is visible to other community members. In addition, your ICS advisor will give you a laptop sticker representing your level. Congratulations, grasshopper!
            {{/markdown}}
          </div>

          <div class="ui three column grid" style="margin: 21px;">
            <div class="column">
              <img class="ui small image" src="/images/level-icons/radgrad-level-4-icon.png">
            </div>
            <div class="column">
              <img class="ui small image" src="/images/level-icons/radgrad-level-5-icon.png">
            </div>
            <div class="column">
              <img class="ui small image" src="/images/level-icons/radgrad-level-6-icon.png">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
