<template name="Landing_Section_1">
  <div class="ui container">
    <div class="ui small top fixed borderless menu landing-menu">
      <div class="item">
        <img class="ui image" src="/images/radgrad_logo.png" style="width: 45px;">
      </div>
      <div class="mobile hidden item">
        <h2>{{> RadGrad_Logo_Text}}</h2>
      </div>

      <div class="right item">
        <a href="#landing-section-9">GUIDED TOUR</a>
      </div>

      <div class="item">
        {{> RadGrad_Login_Buttons }}
      </div>

      <div class="item">
        {{> Logout }}
      </div>

      <div class="item">
        <div class="ui small compact green basic button">
          {{#if checkLanding}}
            {{#if currentUser}}
              {{#if isInRole 'FACULTY'}}
                <a style="color: #6FBE44;"
                   href="{{pathFor facultyHomePageRouteName username=(currentUser.username)}}">Home</a>
              {{/if}}
              {{#if isInRole 'STUDENT'}}
                <a style="color: #6FBE44;"
                   href="{{pathFor studentHomePageRouteName username=(currentUser.username)}}">Home</a>
              {{/if}}
              {{#if isInRole 'ADMIN'}}
                <a style="color: #6FBE44;" href="{{pathFor adminHomePageRouteName username=(currentUser.username)}}">Home</a>
              {{/if}}
              {{#if isInRole 'ADVISOR'}}
                <a style="color: #6FBE44;" href="{{pathFor advisorStudentConfigurationPageRouteName
                                                           username=(currentUser.username)}}">Home</a>
              {{/if}}
              {{#if isInRole 'MENTOR'}}
                <a style="color: #6FBE44;" href="{{pathFor mentorHomePageRouteName username=(currentUser.username)}}">Home</a>
              {{/if}}
            {{else}}
            Advisor<br>
              {{> loginButtons align="right"}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="inverted-section" id="landing-section-1">
    <div class="ui center aligned container">
      <h1 class="inverted-main-header mobile hidden">Welcome to <span class="green-text">{{> RadGrad_Logo_Text}}</span>
      </h1>
      <h2 class="inverted-main-header mobile only mobile-header">Welcome to <span
          class="green-text">{{> RadGrad_Logo_Text}}</span></h2>
      <span
          class="inverted-main-description">Developing awesome computer scientists, <b>one</b> graduate at a time.</span>

      <div class="ui stackable doubling four cards main-header-ice">

        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/landing/yamakawa.jpg">
            <div class="header">
              Kelsie Y.
            </div>
            <div class="meta">
              B.S. in Computer Science
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid">
                <div class="center aligned column">
                  {{> First_Menu_Ice earned="92" projected="100" iceType="innov" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="81" projected="100" iceType="comp" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="90" projected="100" iceType="exp" type='landing'}}
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="ui mini label"><i class="fitted suitcase icon"></i>Data Science</div>
            <div class="ui mini label"><i class="fitted suitcase icon"></i>Databases</div>
          </div>
        </div>

        <div class="card">
          <div class="content" style="padding-bottom: 0;">
            <img class="right floated mini ui image" src="/images/landing/boado.jpg">
            <div class="header">
              Brian B.
            </div>
            <div class="meta">
              B.A. in Info. &amp; Comp. Sci.
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid" style="margin: 0;">
                <div class="column">
                  {{> First_Menu_Ice earned="68" projected="100" iceType="innov" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="63" projected="100" iceType="comp" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="70" projected="100" iceType="exp" type='landing'}}
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="ui mini label"><i class="fitted suitcase icon"></i>Software Engineering</div>
            <div class="ui mini label"><i class="fitted star icon"></i>Research</div>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/landing/shimoda.jpg">
            <div class="header">
              Michele S.
            </div>
            <div class="meta">
              B.S. in Computer Science
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid">
                <div class="column">
                  {{> First_Menu_Ice earned="86" projected="100" iceType="innov" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="81" projected="100" iceType="comp" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="95" projected="100" iceType="exp" type='landing'}}
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="ui mini label"><i class="fitted suitcase icon"></i>Game Design</div>
            <div class="ui mini label"><i class="fitted star icon"></i>Unity</div>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/landing/morikawa.jpg">
            <div class="header">
              Sy M.
            </div>
            <div class="meta">
              B.S. in Computer Science
            </div>
            <div class="description">
              <div class="ui landing-ice three column grid">
                <div class="column">
                  {{> First_Menu_Ice earned="65" projected="100" iceType="innov" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="78" projected="100" iceType="comp" type='landing'}}
                </div>
                <div class="column">
                  {{> First_Menu_Ice earned="74" projected="100" iceType="exp" type='landing'}}
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="ui mini label"><i class="fitted suitcase icon"></i>Hardware</div>
            <div class="ui mini label"><i class="fitted suitcase icon"></i>Networks</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>