<template name="Landing_Section_9">

  <div class="inverted-section" id="landing-section-9">
    <div class="ui container">
      <div class="ui two column centered padded stackable grid">

        <div class="center aligned column">
          <h1 class="inverted-header">Ready to get started?</h1>
          <p class="inverted-description">Take the tour!</p>

          <div class="ui grid">
            <div class="ui stackable two cards" style="padding-top: 1.2rem;">
              <div class="ui card" style="box-shadow: none;">
                <div class="image">
                  <img src="/images/landing/grad-student.jpg">
                </div>
                <div class="ui bottom attached button">
                  Student Tour
                  <i class="chevron right icon"></i>
                </div>
              </div>

              <div class="ui card" style="box-shadow: none;">
                <div class="image">
                  <img src="/images/landing/advisor.png">
                </div>
                <div class="ui bottom attached button">
                  Advisor Tour
                  <i class="chevron right icon"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="ui horizontal bulleted list" style="margin-top: 3rem;">
            <a class="footer-item item">
              About Us
            </a>
            <a class="footer-item item">
              Sitemap
            </a>
            <a class="footer-item item">
              Contact
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!--
  <div class="landing-green-background">
    <div class="ui center aligned container">
      <h1 class="landing-green-background-header">Ready to get started?</h1>
      <h3>Contact your ICS advisor now!</h3>
    </div>

  </div>-->
</template>
