<template name="Admin_Layout">
  {{#if Template.subscriptionsReady}}
    {{> First_Menu role="Admin"}}
    {{#if isInRole 'ADMIN'}}
      {{> Second_Menu menuItems=secondMenuItems menuLength=secondMenuLength}}
      {{> Template.dynamic template=main}}
    {{else}}
      <div style="padding-top: 40px" class="ui text container">
        <p>You are not authorized to view this page.</p>
        <p>Please login as admin.</p>
      </div>
    {{/if}}
    {{> Footer}}
  {{else}}
    {{> Loading}}
  {{/if}}
</template>