<template name="Academic_Plan_2">
  <div class="ui equal width divided grid">
    <div class="stretched row">
      {{#each year in years}}
        <div class="column">
          <div class="ui top left attached label">Academic Year {{year.year}} - {{year.springYear}}</div>
          {{> Semester_List (fallArgs year)}}
        </div>
      {{/each}}
    </div>
    <div class="stretched row">
      {{#each year in years}}
        <div class="column">
          {{> Semester_List (springArgs year)}}
        </div>
      {{/each}}
    </div>
    <div class="stretched row">
      {{#each year in years}}
          <div class="column">
            {{> Semester_List (summerArgs year)}}
          </div>
      {{/each}}
    </div>
    <div class="stretched row">
      <div class="column">
        {{> Inspector_Panel}}
      </div>
    </div>
    <div class="stretched row">
      <div class="column">
        {{> Recommendations}}
      </div>
      <div class="column">
        {{> Warnings}}
      </div>
    </div>
  </div>
  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
//      ev.preventDefault();
      const data = ev.dataTransfer.getData("text");
      const tBody = ev.target.parentElement.parentElement;
      console.log(tBody.id);
      tBody.insertBefore(document.getElementById(data), ev.target.parentElement);
    }
  </script>
</template>