<template name="Academic_Semester">
  <table class="ui structured {{#if isFuture}}orange{{/if}} table">
    <thead>
    <tr>
      <th colspan="3">{{semesterName}}</th>
    </tr>
    </thead>
    <tbody class="bodyDrop" ondrop="drop(event)" ondragover="allowDrop(event)">
    {{#each course in icsCourses}}
      {{#if isFuture}}
        <tr id="{{course.note}}" class="courseInstance" data-position="right center" draggable="true" ondragstart="drag(event)">
          <td><strong>{{course.note}}</strong></td>
          <td><strong>{{course.creditHrs}}</strong></td>
          <td><strong>{{course.grade}}</strong></td>
        </tr>
        <div class="ui fluid popup transition hidden">
          <h4 class="ui header">{{course.note}}</h4>
          <div class="ui link list">
            <a class="item inspect">Inspect</a>
            <a class="item del">Delete</a>
          </div>
        </div>
      {{else}}
        <tr>
          <td><strong>{{course.note}}</strong></td>
          <td><strong>{{course.creditHrs}}</strong></td>
          <td><strong>{{course.grade}}</strong></td>
        </tr>
      {{/if}}
    {{/each}}
    {{#each course in nonIcsCourses}}
      <tr class="top aligned">
        <td>{{course.note}}</td>
        <td>{{course.creditHrs}}</td>
        <td>{{course.grade}}</td>
      </tr>
    {{/each}}
    <tr><td colspan="3"></td></tr>
    </tbody>
  </table>
</template>