<template name="Academic_Plan">
  <div class="ui stackable grid">
    <div class="stretched row">
      <div class="ui ten wide column" style="margin-right: 0">
        <div class="ui equal width grid" style="margin: 0;">
          <div class="stackable row">
            {{#each year in years}}
              <div class="center aligned mobile only column">
                <h3 class="ui horizontal divider header">{{getAcademicYear year.year}}</h3>
              </div>
              <div class="stretched column academicYear" style="padding: 0 0.6rem;">
                {{#if isPastFall year}}
                  {{> Past_Semester_List icsCourses=(icsCoursesFall year) semesterOpportunities=(opportunitiesFall year) semesterName='Fall' currentSemester=currentSemester semester=(fallSemester year)  dictionary=getDictionary year=year.year }}
                {{else}}
                  {{> Semester_List_2 currentSemester=currentSemester semester=(fallSemester year) dictionary=getDictionary isFuture=true isCurrentSemester=(isCurrentSemesterFall year) semesterName='Fall' year=year.year }}
                {{/if}}
                {{#if isPastSpring year}}
                  {{> Past_Semester_List icsCourses=(icsCoursesSpring year) semesterOpportunities=(opportunitiesSpring year) semesterName='Spring' currentSemester=currentSemester semester=(springSemester year)  dictionary=getDictionary year=(springYear year) }}
                {{else}}
                  {{> Semester_List_2  currentSemester=currentSemester semester=(springSemester year) dictionary=getDictionary isFuture=true isCurrentSemester=(isCurrentSemesterSpring year) semesterName='Spring' year=(springYear year)}}
                {{/if}}
                {{#if isPastSummer year}}
                  {{> Past_Semester_List icsCourses=(icsCoursesSummer year) semesterOpportunities=(opportunitiesSummer year) semesterName='Summer' currentSemester=currentSemester semester=(summerSemester year) dictionary=getDictionary year=(springYear year)}}
                {{else}}
                  {{> Semester_List_2 currentSemester=currentSemester semester=(summerSemester year) dictionary=getDictionary isFuture=true isCurrentSemester=(isCurrentSemesterSummer year) semesterName='Summer' year=(springYear year)}}
                {{/if}}
              </div>
            {{/each}}
          </div>
          <div class="row">
            <div class="column">
              {{#if hasPrevYear}}
                <button id="prevYear" class="ui icon green labeled button" data-content="View previous academic year">
                  <i class="ui arrow left icon"></i>Prev Year
                </button>
              {{/if}}
            </div>
            <div class="center aligned column">
              <button id="addAY" class="positive ui icon button"><i class="ui plus icon"></i> Add Academic Year</button>
            </div>
            <div class="right aligned column">
              {{#if hasNextYear}}
                <button id="nextYear" class="ui icon green right labeled button"><i
                    class="ui arrow right icon" data-content="View next academic year"></i>Next Year
                </button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui six wide column" style="padding-top: 1rem;">
        {{> Favorite_Tabs dictionary=getDictionary}}
        {{> Recommendations_And_Warnings}}
      </div>
    </div>
  </div>
  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      console.log('drag');
      ev.dataTransfer.setData("text", ev.target.id);
      console.log('start drag', ev.target.id);
    }
  </script>
</template>
