<template name="Academic_Year">
  <div class="ui segment">
    <div class="content">
      <span class="center aligned">
        <h2>
          {{#if hasPrevYear}}<a id="prevYear" href="#"><i class="ui green arrow left icon"></i></a>{{/if}}
          AY {{fallYear}} - {{springYear}}
          {{#if hasNextYear}}<a id="nextYear" href="#"><i class="ui green arrow right icon"></i></a>{{/if}}</h2>
        ICS Classes and Opportunities
      </span>
      <div class="ui divider"></div>
      <div style="height: 500px;">
        <table class="ui structured table" style="color: #388E3C !important;">
          <thead>
          <tr>
            <th style="color: #388E3C !important;">{{fallSemester fallYear}}</th>
            <th style="color: #388E3C !important;">{{springSemester springYear}}</th>
            <th class="disabled" style="color: #388E3C !important;">{{summerSemester springYear}}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="top aligned">
            <td>
              {{#each class in icsCoursesFallSemester}}
                {{class}}<br>
              {{/each}}
            </td>
            <td>
              {{#each class in icsCoursesSpringSemester}}
                {{class}}<i class="ui red remove circle outline icon"></i><br>
              {{/each}}
            </td>
            <td class="disabled">
              {{#each class in icsCoursesSummerSemester}}
                {{class}}<i class="ui red remove circle outline icon"></i><br>
              {{/each}}
            </td>
          </tr>
          <!--<tr class="top aligned">-->
          <!--<td>-->
              <!--{{#each class in nonIcsCoursesFallSemester}}-->
          <!--{{class}}<br>-->
              <!--{{/each}}-->
          <!--</td>-->
          <!--<td>-->
              <!--{{#each class in nonIcsCoursesSpringSemester}}-->
          <!--{{class}}<i class="ui red remove circle outline icon"></i><br>-->
              <!--{{/each}}-->
          <!--</td>-->
          <!--<td class="disabled">-->
              <!--{{#each class in nonIcsCoursesSummerSemester}}-->
          <!--{{class}}<i class="ui red remove circle outline icon"></i><br>-->
              <!--{{/each}}-->
          <!--</td>-->
          <!--</tr>-->
          <!--<tr class="top aligned">-->
          <!--<td>-->
          <!--{{jobFallSemester}}<i class="ui red pencil icon"></i>-->
          <!--</td>-->
          <!--<td>-->
          <!--{{jobSpringSemester}}<i class="ui red pencil icon"></i>-->
          <!--</td>-->
          <!--<td class="disabled">-->
          <!--{{jobSummerSemester}}<i class="ui red pencil icon"></i>-->
          <!--</td>-->
          <!--</tr>-->
          <tr class="top aligned">
            <td>
              {{#each opp in oppFallSemester}}
                {{opp}}<i class="ui red remove circle outline icon"></i><br>
              {{/each}}
            </td>
            <td>
              {{#each opp in oppSpringSemester}}
                {{opp}}<i class="ui red remove circle outline icon"></i><br>
              {{/each}}
            </td>
            <td class="disabled">
              {{#each opp in oppSummerSemester}}
                {{opp}}<i class="ui red remove circle outline icon"></i><br>
              {{/each}}
            </td>
          </tr>
          <tr>
            <td>
              {{> ICE_Badge ice=fallSemesterICE}}
            </td>
            <td>
              {{> ICE_Badge ice=springSemesterICE}}
            </td>
            <td>
              {{> ICE_Badge ice=summerSemesterICE}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</template>
