<template name="Add_Opportunity_Button">
  {{#if equals buttonType 'add'}}
    <div id="{{id}}" class="ui basic green mini right floated button" style="margin-bottom: 1rem; cursor: move;" draggable="true" ondragstart="dragOpportunity(event)" slug="{{slug}}">
      <div class="chooseSemester">{{name}}</div>
    </div>
  {{else}}
    {{#if equals buttonType 'remove'}}
      <div class="ui basic green mini right floated button removeFromPlan">
        <div class="chooseSemester">REMOVE FROM PLAN</div>
      </div>
    {{/if}}
  {{/if}}
  <script>
    function dragOpportunity(ev) {
      ev.dataTransfer.setData("slug", ev.target.getAttribute('slug'));
    }
  </script>
</template>