<template name="Add_Course_Button">
  {{#if equals buttonType 'add'}}
    <div id="{{id}}" class="ui basic green mini right floated button" style="margin-bottom: 1rem;" draggable="true" ondragstart="dragCourse(event)" slug="{{slug}}">
      <div data-tooltip="Drag to add to plan">{{courseName}}</div>
    </div>
  {{else}}
    {{#if equals buttonType 'remove'}}
      <div class="ui basic green right floated mini button chooseYear" style="margin-bottom: 1rem;">
        <div class="chooseYear">REMOVE FROM PLAN</div>
        <div class="ui fluid popup transition hidden">
          <div class="ui vertical mini menu">
            {{#each semester in existingSemesters}}
              <a class="item removeFromPlan" data-position="right center">{{semester}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    {{else}}
      {{#if equals buttonType 'taken'}}
        <h5 class="ui green right floated" style="margin-top: 0; color: #6FBE44">COMPLETED</h5>
      {{/if}}
    {{/if}}
  {{/if}}
  <script>
    function dragCourse(ev) {
      ev.dataTransfer.setData("slug", ev.target.getAttribute('slug'));
    }
  </script>
</template>