<template name="Add_Opportunity_Button">
  {{#if equals buttonType 'add'}}
    <div id="{{id}}" class="ui basic green mini right floated button" draggable="true" ondragstart="dragOpportunity(event)" slug="{{slug}}">
      <div class="chooseSemester">DRAG TO ADD TO PLAN</div>
    </div>
  {{else}}
    {{#if equals buttonType 'remove'}}
      <div class="ui basic green mini right floated button">
        <div class="chooseSemester">REMOVE FROM PLAN</div>
        <div class="ui fluid popup transition hidden">
          <div class="ui vertical mini menu">
            {{#each semester in existingSemesters}}
              <a class="item removeFromPlan" data-position="right center">{{semester}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
  <script>
    function dragOpportunity(ev) {
      ev.dataTransfer.setData("slug", ev.target.getAttribute('slug'));
    }
  </script>
</template>