<template name="Add_Course_Item">
  <div class="ui left aligned segment">
    <b>{{course.number}}</b><br>
    {{course.name}}<br>
    {{> ICE_Badge ice=ice }}
    {{#each recommendationStars}}
      <i style="margin: 0px 0px 3px; font-size: 18px; width: 19px; line-height: 1.5em" class="yellow star icon"></i>
    {{/each}}

    <div class="ui accordion">
      <div class="title">
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <p>
          <b>Catalog Descrption:</b> {{course.description}}
        </p>
        <p><b>When scheduled:</b> {{whenScheduled (course)}}</p>
        <p><b>ICE Value:</b> {{ice.i}} points for innovation, {{ice.c}} points for competency,
          {{ice.e}} points for experience.</p>
        <p><b>Recommendations:</b> TBD</p>
        <p><b>Warnings:</b> None</p>
      </div>
    </div>
  </div>
</template>