<template name="Detail_Course_Card">
  <div class="card">
    <div class="content">
      <div class="header">
        <h4>{{> ICE_header ice=ice }} {{courseNumber}}: {{name}}</h4>
      </div>
    </div>
    <div class="content">
      {{#if futureInstance}}
        {{> Add_Course_Button buttonType='remove' dictionary=dictionary course=course}}
      {{/if}}
      {{#if futureInstance}}
        <p><b>Scheduled:</b> {{semester}}</p>
        {{> Future_Participation type='courses' item=course}}
      {{else}}
        <p><b>Taken:</b> {{semester}}</p>
      {{/if}}
      <p style="text-align: right;">
        <a href="{{pathFor coursesRouteName username=routeUserName course=courseSlug}}"
           target="_blank">
          View in Explorer <i class="arrow right icon"></i>
        </a>
      </p>
    </div>
  </div>
</template>
