<template name="Detail_Card">
  <div class="ui left aligned segment">
    <b>{{course.number}}</b>
    {{course.name}}
    <div class="content">
      {{> ICE_Badge ice=course.ice }}
      {{#each recommendationStars}}
        <i style="margin: 0px 0px 3px; font-size: 18px; width: 19px; line-height: 1.5em" class="yellow star icon"></i>
      {{/each}}
      <p>
        <b>Catalog Descrption:</b> {{course.description}}
      </p>
      <p><b>When scheduled:</b></p>
      <p><b>ICE Value:</b>  points for innovation,  points for competency,
         points for experience.</p>
      <p><b>Recommendations:</b> TBD</p>
      <p><b>Warnings:</b> None</p>
    </div>

  </div>
</template>