<template name="Favorite_Opportunities_Widget">
  {{#if getOpportunities}}
    <div class="ui one cards segment" style="overflow-y: auto; height: 400px">
      {{#each opportunity in getOpportunities}}
        {{> Favorite_Opportunity_Card opportunity=opportunity}}
      {{/each}}
    </div>
  {{else}}
    <p style="margin-bottom: 0px">No opportunities favorited yet.</p>
    <p><a href="{{pathFor opportunityExplorerRouteName username=routeUserName}}">Update in opportunity
      explorer</a></p>
  {{/if}}
</template>
