<template name="Favorite_Tabs">
  <div class="ui segment">
    <div class="ui top attached tabular vertical stackable menu">
      <a class="{{#if showOpportunity}}active{{/if}} item jsInspectorTab" data-tab={{opportunityName}}><i class="red heart icon"></i> OPPORTUNITIES</a>
      <a class="{{#if showPlan}}active{{/if}} item jsInspectorTab" data-tab={{academicPlanName}}><i class="red heart icon"></i> ACADEMIC PLANS</a>
      <a class="{{#if showCourse}}active{{/if}} item jsInspectorTab" data-tab={{coursesName}}><i class="red heart icon"></i> COURSES</a>
      <a class="{{#if showDetails}}active{{/if}} item jsInspectorTab" data-tab={{detailsName}}>DETAILS</a>
    </div>
    <div class="ui bottom attached {{#if showOpportunity}}active{{/if}} tab segment" data-tab={{opportunityName}}>
      {{> Favorite_Opportunities_Widget dictionary=getDictionary}}
    </div>
    <div class="ui bottom attached {{#if showPlan}}active{{/if}} tab segment" data-tab={{academicPlanName}}>
      {{> Favorite_Academic_Plan_Viewer_Widget degreePlanner=true dictionary=getDictionary}}
    </div>
    <div class="ui bottom attached {{#if showCourse}}active{{/if}} tab segment" data-tab={{coursesName}}>
      {{> Favorite_Courses_Widget dictionary=getDictionary}}
    </div>
    <div class="ui bottom attached {{#if showDetails}}active{{/if}} tab segment" data-tab={{detailsName}}>
      {{> Details_Card dictionary=getDictionary}}
    </div>
  </div>
</template>
