<template name="Future_Enrollment_Widget">
  <b>Future Enrollment</b>
  <table>
    <tbody>
      <tr>
        <td>{{dataToString 0}}</td>
        <td>&nbsp;</td>
        <td>{{dataToString 1}}</td>
        <td>&nbsp;</td>
        <td>{{dataToString 2}}</td>
      </tr>
      <tr>
        <td>{{dataToString 3}}</td>
        <td>&nbsp;</td>
        <td>{{dataToString 4}}</td>
        <td>&nbsp;</td>
        <td>{{dataToString 5}}</td>
      </tr>
      <tr>
        <td>{{dataToString 6}}</td>
        <td>&nbsp;</td>
        <td>{{dataToString 7}}</td>
        <td>&nbsp;</td>
        <td>{{dataToString 8}}</td>
      </tr>
    </tbody>
  </table>
</template>