<template name="Inspector_Panel">
  <div class="ui segment">
    <div class="ui top left attached label">Inspector</div>
    <div class="ui grid container">
      <div class="three wide column">
        <div class="ui list" style="overflow:scroll; height: 100px;">
          {{#each course in courses}}
            <a id="{{course._id}}" class="course item">{{course.number}}</a>
          {{/each}}
        </div>
        <div class="ui divider"></div>
        <div class="ui list" style="overflow:scroll; height: 100px;">
          {{#each opportunity in opportunities}}
            <a id="{{opportunity._id}}" class="opportunity item">{{opportunity.name}}</a>
          {{/each}}
        </div>
      </div>
      <div class="thirteen wide column segment">
        <div class="ui left aligned segment">
          {{#if hasCourse}}
            <p><b>{{courseNumber}}</b>
            {{courseName}}</p>
            <div class="content">
              {{> ICE_Badge ice=courseIce }}
              {{#each recommendationStars}}
                <i style="margin: 0px 0px 3px; font-size: 18px; width: 19px; line-height: 1.5em"
                   class="yellow star icon"></i>
              {{/each}}
              <p>
                <b>Catalog Descrption:</b> {{courseDescription}}
              </p>
              <p><b>When scheduled:</b></p>
              <p><b>ICE Value:</b> points for innovation, points for competency,
                points for experience.</p>
              <p><b>Recommendations:</b> TBD</p>
              <p><b>Warnings:</b> None</p>
            </div>
          {{else}}
            {{#if hasOpportunity}}
              <p><b>Name: </b> {{opportunityName}}</p>
              <div class="content">
                <p><b>Description: </b> {{opportunityDescription}}</p>
                <p><b>When: </b> {{opportunityStart}} - {{opportunityEnd}}</p>
                <p><b>ICE Value: </b>{{> ICE_Badge ice=opportunityIce }}</p>
                <p><b>More: </b><a href="{{opportunityMore}}">{{opportunityMore}}</a></p>
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>