<template name="Inspector_Panel">
  <div class="ui segment">
    <div class="ui top left attached label">Inspector</div>
    <div class="ui grid container">
      <div class="three wide column">
        <div class="card" style="overflow:scroll; height: 150px;">
        <div class="ui list" >
          {{#each course in courses}}
            <a id="{{course.number}}" class="item">{{course.number}}</a>
          {{/each}}
        </div>
        </div>
      </div>
      <div class="thirteen wide column segment">
          {{> Detail_Card course=detailCourseNumber}}
      </div>
    </div>
  </div>
</template>