<template name="Inspector">
  <!--<div class="ui segment">-->
    <!--<div class="ui dividing header"><h4 style="color: rgba(0,0,0,.7); text-transform: uppercase">Inspector</h4></div>-->
    <div class="ui top attached buttons">
      <div class="ui floating dropdown icon button">Courses <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">1xx</span>
            <div class="menu">
              {{#each course in courses100}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">2xx</span>
            <div class="menu">
              {{#each course in courses200}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">31x - 34x</span>
            <div class="menu">
              {{#each course in courses300}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">35x - 39x</span>
            <div class="menu">
              {{#each course in courses350}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">41x - 42x</span>
            <div class="menu" style="overflow: auto; height: 300px">
              {{#each course in courses400_420}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">43x - 45x</span>
            <div class="menu" style="overflow: auto; height: 300px">
              {{#each course in courses430_450}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">46x - 47x</span>
            <div class="menu" style="overflow: auto; height: 300px">
              {{#each course in courses460_470}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">48x - 499</span>
            <div class="menu" style="overflow: auto; height: 300px">
              {{#each course in courses480}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">61x - 63x</span>
            <div class="menu" style="overflow: auto; height: 300px">
              {{#each course in courses610}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">64x - 66x</span>
            <div class="menu" style="overflow: auto; height: 300px">
              {{#each course in courses640}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">67x - 699</span>
            <div class="menu" style="overflow: auto; height: 300px">
              {{#each course in courses670}}
                <div id="{{course._id}}" class="course item">{{course.number}} {{course.shortName}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="or"></div>
      <div class="ui scrolling dropdown icon button">&nbsp;&nbsp;Opportunities <i class="dropdown icon"></i>
        <div class="menu">
          {{#each opportunity in opportunities}}
            <div id="{{opportunity._id}}" class="opportunity item">{{opportunityMenuName opportunity}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="ui grid container">
      <div class="row" style="padding-bottom: 0;">
        <div class="ui basic segment" style="padding: 0;">
          {{#if hasCourse}}
            <div class="ui dividing header">
              <h4>{{> ICE_header ice=courseIce }} {{courseNumber}}: {{courseName}}</h4>
            </div>
            <div class="content">
              {{#if isInPlan}}
                {{#if futureInstance}}
                  {{> Add_Course_Button buttonType='remove' dictionary=dictionary course=selectedCourse}}
                {{else}}
                  {{#if passedCourse}}
                    {{> Add_Course_Button buttonType='taken'}}
                  {{else}}
                    {{#if notFromSTAR}}
                      {{> Add_Course_Button buttonType='remove' dictionary=dictionary course=selectedCourse}}
                    {{else}}
                      {{> Add_Course_Button buttonType='add' dictionary=dictionary course=selectedCourse}}
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{else}}
                {{> Add_Course_Button buttonType='add' dictionary=dictionary course=selectedCourse}}
              {{/if}}

              {{#each recommendationStars}}
                <i style="margin: 0px 0px 3px; font-size: 18px; width: 19px; line-height: 1.5em"
                   class="yellow star icon"></i>
              {{/each}}
              <b>Scheduled:</b> {{#if instanceSemester}} {{instanceSemester}} {{else}} N/A {{/if}}
            <p><b>Prerequisites:</b>
              {{#if prerequisites}}
                <div class="ui bulleted list" style="margin-top: 0; margin-left: 25px;">
                  {{#each prerequisite in prerequisites}}
                    <div class="ui item">
                      <a href="{{pathFor coursesRouteName username=routeUserName course = prerequisite}}"
                         style="text-transform: uppercase;">{{prerequisite}}
                        {{#if missingPrerequisite prerequisite}}
                          <i class="red warning icon"></i>
                        {{else}}
                          <i class="green checkmark icon"></i>
                        {{/if}}
                      </a>
                    </div>
                  {{/each}}
                </div>
              {{else}}
                N/A
              {{/if}}
              </p>
              <p>
                <b>Catalog Description:</b> {{#markdown}}{{courseDescription}}{{/markdown}}
              </p>
              {{#if courseEnrollmentData}}
                {{> Future_Enrollment_Widget dictionary=dictionary}}
              {{/if}}
              {{#if interests}}
                {{> Interest_List item=getCourse size='mini'}}
              {{/if}}
              <p style="text-align: right;">
                <a href="{{pathFor coursesRouteName username=routeUserName course = courseSlugID}}">
                  View in Explorer <i class="arrow right icon"></i>
                </a>
              </p>
            </div>
          {{else}}
            {{#if hasOpportunity}}
              <div class="ui dividing header">
                <h4>{{> ICE_header ice=opportunityIce }} {{opportunityName}}</h4>
              </div>
              <div class="content">
                {{#if isInPlan}}
                  {{#if futureInstance}}
                    {{> Add_Opportunity_Button buttonType='remove' dictionary=dictionary opportunity=selectedOpportunity}}
                  {{else}}
                    {{#if unverified}}
                      {{> Add_Opportunity_Button buttonType='remove' dictionary=dictionary opportunity=selectedOpportunity}}
                    {{/if}}
                  {{/if}}
                {{/if}}
                {{> Add_Opportunity_Button buttonType='add' dictionary=dictionary opportunity=selectedOpportunity}}
                <b>When: </b> {{opportunitySemester}}
                <p>
                  <b>Description: </b>{{#markdown}}{{opportunityDescription}}{{/markdown}} <br>
                </p>
                {{> Interest_List item=getOpportunity size='mini'}}
                <p style="text-align: right;">
                  <a href="{{pathFor opportunitiesRouteName username=routeUserName opportunity = opportunitySlugID}}">
                    View in Explorer <i class="arrow right icon"></i>
                  </a>
                </p>

                {{#if isPastInstance}}
                  <div class="ui divider"></div>
                  <div style="text-align: center;">
                    <button class="ui tiny green basic button verifyInstance center aligned" id="{{instanceID}}">
                      Request Verification
                    </button>
                  </div>
                {{/if}}
                {{#if hasRequest}}
                  <div class="ui divider"></div>
                  <h4 class="ui center aligned header">REQUEST STATUS</h4>
                  <strong>Date Submitted:</strong> {{requestWhenSubmitted}} <br>
                  <strong>Status: </strong>{{requestStatus}}
                  <p>
                    {{#each processed in requestHistory}}
                      <span>Processed: {{processed.date}} by {{processed.verifier}}
                        ({{processed.status}}) <em>{{processed.feedback}}</em></span><br>
                    {{/each}}
                  </p>
                {{/if}}

              </div>
            {{else}}
              <p>Please select a course or opportunity from the menus above or click on a course or
                opportunity in your plan.</p>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  <!--</div>-->
</template>