<template name="Opportunity_Item">
  <div class="ui left aligned text">
    <b>{{opportunity.name}}</b><br>
    <span style="font-size: 10px" class="ice-header ice-innovation-background ui right">{{iceI opportunity}}</span>
    <span style="font-size: 10px" class="ice-header ice-competency-background">{{iceC opportunity}}</span>
    <span style="font-size: 10px" class="ice-header ice-experience-background">{{iceE opportunity}}</span>
    {{#each recommendationStars}}
      <i style="margin: 0px 0px 3px; font-size: 18px; width: 19px; line-height: 1.5em" class="yellow star icon"></i>
    {{/each}}
    <div class="ui accordion left aligned text">
      <div class="title">
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <p>
          <b>Descrption:</b> {{opportunity.description}}
          <a href="{{opportunity.moreInformation}}">More Information</a>
        </p>
        <p><b>When scheduled:</b></p>
        <p><b>ICE Value:</b>{{iceI opportunity}} points for innovation, {{iceC opportunity}} points for competency,
        {{iceE opportunity}} points for experience.</p>
        <p><b>Recommendations:</b> TBD</p>
        <p><b>Warnings:</b> None</p>
      </div>
    </div>
    <div class="ui divider"></div>

  </div>
</template>