<template name="Past_Semester_Card">
  <div class="ui center aligned segment">
    <div class="ui top left attached label">{{title}}</div>
    <div class="content">
      <table class="ui structured table">
        <tbody>
        {{#each class in icsCourses}}
          <tr>
            <td>
              {{class.note}}
            </td>
            <td>{{class.grade}}</td>
          </tr>
        {{/each}}
        {{#each class in nonIcsCourses}}
          <tr>
            <td>
              {{class.note}}
            </td>
            <td>{{class.grade}}</td>
          </tr>
        {{/each}}
        {{#each opp in opportunities}}
          <tr>
            <td>
              {{opp}}<br>
            </td>
            <td></td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>