@media only screen and (max-width: 767px) {
  .layout-page.degreePlanner {
  padding-top: 70px !important;
}
}

@media only screen and (min-width: 768px) {
  .layout-page.degreePlanner {
  padding-top: 118px !important;
}
}

.degreePlanner div.stretched.row {
  padding: 4px 4px;
}

.academicYear .segment {
  padding: 1em 1em 2em 1em;
}

.degreePlanner .ui.selection.dropdown {
  min-width: auto;
  min-height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.degreePlanner .ui.grid {
  margin: 4px 10px;
}

.degreePlanner .ui.grid>.column:not(.row) {
  padding: 4px 4px;
}

.degreePlanner .ui.table tr td {
  padding: 2px 4px;
}

body.waiting * {
  cursor: progress;
}

.jsDelCourse, .jsDelOpp {
  font-size: 1.2em ! important;
  margin-right: 0 !important;
}

.ui.very.basic.table tbody tr td strong {
  margin-left: 3px;
}