<template name="Semester_Add_Button">
  <div class="ui tiny green basic compact button" data-position="top center"
       style="flex-grow: 0; margin: 1em 0; position: absolute; bottom: 0; left: 50%; margin-left: -2.2em;">ADD
  </div>
  <div class="ui popup transition hidden">
    <div class="ui secondary vertical tiny menu">
      <a class="item addCourseMenu" data-position="right center">Add Course</a>
      <div class="ui popup transition hidden">
        <div class="ui secondary vertical tiny menu">
          {{#if hasCourses 100}}
            <a class="item oneHundredLevel" data-position="right center">1xx</a>
            <div class="ui popup transition hidden">
              <div class="ui secondary vertical tiny menu">
                {{#each course in (courses 100)}}
                  <a class="item addClass">{{course}}</a>
                {{/each}}
              </div>
            </div>
          {{/if}}
          {{#if hasCourses 200}}
            <a class="item 200" data-position="right center">2xx</a>
            <div class="ui popup transition hidden">
              <div class="ui secondary vertical tiny menu">
                {{#each course in (courses 200)}}
                  <a class="item addClass">{{course}}</a>
                {{/each}}
              </div>
            </div>
          {{/if}}
          {{#if hasCourses 300}}
            <a class="item 300" data-position="right center">3xx</a>
            <div class="ui popup transition hidden">
              <div class="ui secondary vertical tiny menu">
                {{#each course in (courses 300)}}
                  <a class="item addClass">{{course}}</a>
                {{/each}}
              </div>
            </div>
          {{/if}}
          {{#if hasCourses 400}}
            <a class="item 400" data-position="bottom right">4xx</a>
            <div class="ui popup transition hidden">
              <div class="ui secondary vertical tiny menu">
                {{#each course in (courses 400)}}
                  <a class="item addClass">{{course}}</a>
                {{/each}}
              </div>
            </div>
          {{/if}}
        </div>
      </div>
      <a class="item addOpportunityMenu" data-position="bottom right">Add Opportunity</a>
      <div class="ui popup transition hidden">
        <div class="ui secondary vertical tiny menu">
          {{#with opportunities}}
            <div class="ui secondary vertical tiny menu">
              <a class="item AToE" data-position="right center">A - E</a>
              <div class="ui popup transition hidden">
                <div class="ui secondary vertical tiny menu">
                  {{#if AToE}}
                    {{#each opportunity in AToE}}
                      <a class="item addOpportunity">{{opportunity.name}}</a>
                    {{/each}}
                  {{else}}
                    <div class="item">No opportunities at the moment.</div>
                  {{/if}}
                </div>
              </div>

              <a class="item FToJ" data-position="right center">F - J</a>
              <div class="ui popup transition hidden">
                <div class="ui secondary vertical tiny menu">
                  {{#if FToJ}}
                    {{#each opportunity in FToJ}}
                      <a class="item addOpportunity">{{opportunity.name}}</a>
                    {{/each}}
                  {{else}}
                    <div class="item">No opportunities at the moment.</div>
                  {{/if}}
                </div>
              </div>

              <a class="item KToO" data-position="right center">K - O</a>
              <div class="ui popup transition hidden">
                <div class="ui secondary vertical tiny menu">
                  {{#if KToO}}
                    {{#each opportunity in KToO}}
                      <a class="item addOpportunity">{{opportunity.name}}</a>
                    {{/each}}
                  {{else}}
                    <div class="item">No opportunities at the moment.</div>
                  {{/if}}
                </div>
              </div>

              <a class="item PToT" data-position="right center">P - T</a>
              <div class="ui popup transition hidden">
                <div class="ui secondary vertical tiny menu">
                  {{#if PToT}}
                    {{#each opportunity in PToT}}
                      <a class="item addOpportunity">{{opportunity.name}}</a>
                    {{/each}}
                  {{else}}
                    <div class="item">No opportunities at the moment.</div>
                  {{/if}}
                </div>
              </div>

              <a class="item UToZ" data-position="right center">U - Z</a>
              <div class="ui popup transition hidden">
                <div class="ui secondary vertical tiny menu">
                  {{#if UToZ}}
                    {{#each opportunity in UToZ}}
                      <a class="item addOpportunity">{{opportunity.name}}</a>
                    {{/each}}
                  {{else}}
                    <div class="item">No opportunities at the moment.</div>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
</template>