<template name="Faculty_Guided_Tour_Why_RadGrad">

  {{#Guided_Tour_Page_Layout stacked="true" image="/images/guidedtour/guidedtour-why-radgrad.png"}}

# Why use RadGrad?

So, you're a faculty member in computer science, and already overbooked and overwhelmed. Why should you spend the time to learn yet another online tool? In a nutshell, we believe RadGrad offers the following benefits to you:

* RadGrad helps you promote your research projects to motivated computer science students with compatible interests.

* RadGrad incentivizes students to participate effectively in your research.

* RadGrad allows you, along with other faculty, to collaboratively define and update disciplinary areas, career goals, and extra-curricular opportunities. This helps students stay abreast of the latest developments with only nominal effort on your part.

Before continuing with this Guided Tour, please check out the Student Guided Tour first. This Faculty Guided Tour builds off the one for students.

  {{/Guided_Tour_Page_Layout}}
</template>