<template name="Faculty_Guided_Tour_Whats_Next">

  {{#Guided_Tour_Page_Layout stacked="true" image="/images/radgrad_logo.png"}}

# What's next?

If you do not have a RadGrad account yet, please contact a RadGrad administrator at [radgrad@hawaii.edu](mailto:://radgrad@hawaii.edu) to request one.

If you have a RadGrad account, then please login, make sure your profile is accurate, and create one or more opportunities for your research projects or other activities of interest.

You might also want to join the [uhm-ics-community Slack team](http://uhm-ics-community.slack.com) and check out the #radgrad channel for the latest news and updates.

If you just have questions about RadGrad, feel free to contact us at [radgrad@hawaii.edu](mailto:://radgrad@hawaii.edu).

  {{/Guided_Tour_Page_Layout}}
</template>