<template name="Faculty_Guided_Tour_Set_Up">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-faculty-profile.png"}}

# Provide your profile

To start using RadGrad, an advisor or RadGrad admin must create a faculty account for you. Then you can login using your regular UH credentials.

It's useful to specify your disciplinary areas ("interests") as well as career goals for which you have some expertise. Your profile picture will then be associated with these interests and career goals, and students will know to come to you for advising.

  {{/Guided_Tour_Page_Layout}}
</template>