<template name="Faculty_Guided_Tour_Opportunities">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-faculty-opportunities.png"}}

# Promote your research

In RadGrad, opportunities are activities outside of regular coursework that enable students to earn "Innovation" and "Experience" points.

For faculty, opportunities provide a mechanism for you to advertise your research projects to students. Using RadGrad has several benefits:

* By associating one or more "interests" (i.e. disciplinary areas) with your research project, RadGrad can recommend your project to students who have also specified those interest areas.

* Students gain ICE points for completing opportunities, and students who wish to achieve the higher levels in RadGrad will almost certainly need to participate in a faculty research project.

* Students can pick your research project for multiple semesters and earn Innovation points for each semester.

  {{/Guided_Tour_Page_Layout}}
</template>