<template name="Faculty_Guided_Tour_Explorer">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-faculty-explorer.png"}}

# Curate the opportunities and career goals

As a faculty member, you are an invaluable source of insight into computer science disciplinary areas ("interests") as well as rewarding and/or emerging career goals.

The Explorer page allows you to review all of the defined Interests and Career Goals, as well as Opportunities, Academic Plans, Courses, and Users.

To request additions or modifications to any of these entities, you can contact a RadGrad Admin.

  {{/Guided_Tour_Page_Layout}}
</template>