<template name="Faculty_Guided_Tour_Why_RadGrad">

  {{#Guided_Tour_Page_Layout stacked="true" image="/images/guidedtour/guidedtour-why-radgrad.png"}}

# Why use RadGrad?

So, you're a faculty member in computer science, and already overbooked and overwhelmed. Why should you spend the time to learn yet another online tool? In a nutshell, we believe RadGrad offers the following benefits to you:

* RadGrad enables you to define "opportunities" for students to work with you on your research projects, and as part of that process, you specify the disciplinary areas ("interests") and career goals associated with that project. RadGrad will "recommend" your opportunity to those students with matching interests and career goals, raising the probability that compatible computer science students will find out about your research.

* We recommend that faculty-sponsored semester-long research projects be defined with the maximum number (25) of "Innovation" points.  Motivated students who want to achieve the goal ICE values (and the Level 6 "Black" laptop sticker) will almost always need to do a research project during at least one semester to get there. This means that the most motivated students in our program are incentivized to do research projects.

* Each semester that a student repeats a research project, they gain additional Innovation points.  This incentivizes them to stay with you if they are making progress.

* In addition to research participation, another benefit of RadGrad is the ability of faculty to "curate" the set of interests, career goals, and opportunities. This gives you the ability to help all of our students stay abreast of the latest developments in computer science with only nominal effort on your part.

Before continuing with this Guided Tour, please check out the Student Guided Tour first. This Faculty Guided Tour builds off the one for students.

  {{/Guided_Tour_Page_Layout}}
</template>