<template name="Faculty_Guided_Tour_Verification">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-faculty-verification.png"}}

# Verify student participation

When students choose an opportunity that you sponsor, such as one of your research projects, they must request "verification" in order to actually earn the points associated with that opportunity.

For you, this means that you can establish criteria for acceptable performance by the student, and only award them their ICE points when you are satisfied with their work.

  {{/Guided_Tour_Page_Layout}}
</template>