.mentorspace-item-padding{
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}


#mentorspace-question-inside-block{
  padding-top: 24px;
  margin: 0 12px 0 12px;
  border-radius: 5px;
}
