/* Global customizations go here.
   Note that we do not assume that every page will have a menubar at the top.
   If your page has a menubar, you will have to shift the body contents down 60 pixels or so.
   But you cannot globally alter the <body> element style here; you use a <div> and do it on a page-specific basis.
*/

/* Don't adjust body pabbing globally!  Do this on a per-layout basis.

body {
  padding-top: 47px;
}
*/

/*
.header-body {
  padding-top: 61px;
}
*/



.landing-gray-background {
  background-color: #eeeeee !important;
  color: #388E3C !important;
  /*height: 750px;*/
  padding: 20px;
}

.landing-green-background {
  background: url('/images/landing/gradbackground.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #2E7D32 !important;*/
  color: #FFFFFF !important;
  padding: 20px;
  /*height: 750px;*/
}

.ice-header {
  border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  color: #ffffff;
  display: inline-block;
  line-height: 1.8em;
  text-align: center;
  width: 1.8em;
}


.ice-landing {
  line-height: 1.0em;
  width: 1.0em;
}


