/* Global customizations go here.
   Note that we do not assume that every page will have a menubar at the top.
   If your page has a menubar, you will have to shift the body contents down 60 pixels or so.
   But you cannot globally alter the <body> element style here; you use a <div> and do it on a page-specific basis.
*/

#mentorspace-heading{
    alignment: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #C7C8CA;
    width: 100%;
}

#mentorspace-main-block{
    background-color: #E1E2E4;
    padding-right: 0 !important;
    padding-bottom: 40px !important;
    max-height:100vh !important;
}

#mentorspace-main-inside-block{
    background-color: white;
    margin: 0 12px 0 12px;
    border-radius: 5px;
    max-height: 90%;
    overflow: scroll;
}

#mentorspace-mentor-list{
    background-color: white;
    margin: 0 0 0 12px;
    border-radius: 5px;
}

.mentorspace-item-padding{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

#mentorspace-question-block{
    background-color: #FFFFFF;
    padding-bottom: 40px !important;
    max-height:100vh !important;
    overflow:hidden;
}

#mentorspace-question-inside-block{
    background-color: white;
    margin: 0 12px 0 12px;
    border-radius: 5px;
    max-height: 90%;
    overflow: scroll;
}
