<template name="Guided_Tour_Layout">
  <div style="background-color: #333333;">
    <div class="ui container" style="padding: 2.5rem 0;">
      <div class="ui basic padded segment">
        <div id="carousel">
          <div>
            <div class="ui two column stackable grid">
              <div class="nine wide column">
                <img class="ui image" src="/images/guidedtour/home-0.png">
              </div>
              <div class="seven wide column">
                <h1 style="color: white; font-size: 36px;">Student Home Page</h1>
                <p style="color: rgba(255,255,255,.7); font-size: 16px">I don't really like hedgehogs.</p>
              </div>
            </div>
          </div>

          <div>
            <div class="ui two column grid">
              <div class="nine wide column">
                <img class="ui image" src="/images/guidedtour/home-1.png">
              </div>
              <div class="seven wide column">
                <h1>This is a hedgehog</h1>
                <p>I don't really like hedgehogs.</p>
              </div>
            </div>
          </div>

          <div>
            <div class="ui two column grid">
              <div class="nine wide column">
                <img class="ui image" src="/images/guidedtour/home-2.png">
              </div>
              <div class="seven wide column">
                <h1>This is a hedgehog</h1>
                <p>I don't really like hedgehogs.</p>
              </div>
            </div>
          </div>

          <div>
            <div class="ui two column grid">
              <div class="nine wide column">
                <img class="ui image" src="/images/guidedtour/home-3.png">
              </div>
              <div class="seven wide column">
                <h1 style="color: white; font-size: 72px;">This is a hedgehog</h1>
                <p>I don't really like hedgehogs.</p>
              </div>
            </div>
          </div>

          <div>
            <div class="ui two column grid">
              <div class="nine wide column">
                <img class="ui image" src="/images/guidedtour/home-4.png">
              </div>
              <div class="seven wide column">
                <h1>This is a hedgehog</h1>
                <p>I don't really like hedgehogs.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>