# Spring 2017 Usability Test Results

## Subject A (March 13, 2007)

Subject A is a Senior in ICS who plans to graduate this year. Subject A had a significant amount of extra-curricular activities and coursework; A's initial ICE score was 80/132/115 (Level 4).
 
Here are some observations from review of the screencast:
 
1. On the ICE Points page, the "100" in the circles was confusing (since the subject's ICE score was over 100 in two categories). Recommend showing only the actual ICE value in the circle. The explanatory boxes provide enough breakdown.

2. Opportunities scroll off top of screen (already addressed by Aljon).

3. "Recommended opportunities is really useful. It's hard to know what's out there unless you watch the emails from Gerald."

4. Rating widget for reviews should display all five star options without scrolling.

5. "You're the kind of student who didn't need RadGrad."  "Yes, but I had to put in a lot of extra work to get there. This makes it much simpler to see what you have to do."

6. What are three good things about RadGrad?  

    * Degree Planner: it makes it easier to see where you want to go.  

    * Recommended opportunities is really useful.  

    * I don't think it's expressed enough to students to do more than just take classes.  
    
    * I like the idea of gamifying the process. The stickers can be a signifier of who you might want to talk to.
     
7. What are three things that could be improved?

    * Figuring out where to find things seems difficult, but maybe after a training with Gerald it would be OK.
    
    * Performance is an issue.