<template name="Degree_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Degree</label>
    <select class="ui dropdown" name="desiredDegree">
      <option value="">Select Degree</option>
      {{#each desiredDegree in desiredDegrees}}
        <option value="{{desiredDegree._id}}" selected="{{isSelected desiredDegree._id selectedDesiredDegreeID}}">{{desiredDegree.shortName}}</option>
      {{/each}}
    </select>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>