<template name="Academic_Plan_Viewer_Component">
  <div class="ui padded container" style="margin-bottom: 0 !important;">
    {{#if getPlan}}
      <!--<div class="ui header"><h4 style="color: rgba(0,0,0,.7); text-transform: uppercase">{{name}} {{fallYear}}-->
      <!--- {{springYear}}</h4>-->
      <!--</div>-->
      <form class="ui form">
        <div class="ui stackable grid">
          <div class="column">
            <div class="ui equal width grid" style="margin: 0;">
              <div class="stackable row">
                {{#each year in years}}
                  <div class=" column academicYear" style="padding: 0 0.6rem;">
                    <div class="ui header">Fall</div>
                    {{> Academic_Plan_Semester courses=(courses @index 0) plan=getPlan degreePlanner=degreePlanner dictionary=dictionary}}
                    <div class="ui header">Spring</div>
                    {{> Academic_Plan_Semester courses=(courses @index 1) plan=getPlan degreePlanner=degreePlanner dictionary=dictionary}}
                    {{#if hasSummer @index}}
                      <div class="ui header">Summer</div>
                      {{> Academic_Plan_Semester courses=(courses @index 2) plan=getPlan degreePlanner=degreePlanner dictionary=dictionary}}
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </form>
    {{/if}}
  </div>
  <script>
    function dragCourse(ev) {
      ev.dataTransfer.setData("slug", ev.target.getAttribute('course-slug'));
    }
  </script>
</template>