<template name="Add_Student_Widget">
  <div class="ui padded segment">
    <div class="ui dividing header"><h4>ADD STUDENT</h4></div>
    <form class="ui form jsNewStudent {{ successClass }} {{ errorClass }}">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input id="firstName" type="text" name="firstName" placeholder="First Name">
            {{#if displayFieldError 'firstName' }}
              <div class="ui error message">
                <p>{{fieldErrorMessage 'firstName'}}.</p>
              </div>
            {{/if}}
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" name="lastName" placeholder="Last Name">
            {{#if displayFieldError 'lastName' }}
              <div class="ui error message">
                <p>{{fieldErrorMessage 'lastName'}}.</p>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username">
          {{#if displayFieldError 'username' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'username'}}.</p>
            </div>
          {{/if}}
        </div>
        <div class="field">
          <label>UH ID</label>
          <input type="text" name="uhID" placeholder="1234-5678">
          {{#if displayFieldError 'uhID' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'uhID'}} ####-####.</p>
            </div>
          {{/if}}
        </div>
      </div>
      {{#if usernameAlreadyDefined }}
        <div class="ui error message">
          <p>User {{username}} is already defined.</p>
        </div>
      {{/if}}
      {{#if uhIdAlreadyDefined }}
        <div class="ui error message">
          <p>UH ID {{uhID}} is already defined.</p>
        </div>
      {{/if}}
      {{#if displaySuccessMessage}}
        <div class="ui success message">
          <p>Student {{username}} successfully added.</p>
        </div>
      {{/if}}
      <button class="ui bottom attached basic green button container jsNewStudent" type="submit" tabindex="0">Add</button>
    </form>
  </div>
</template>