<template name="Add_Student_Widget">
  <div class="ui padded segment">
    <div class="ui dividing header"><h4>ADD STUDENT</h4></div>
    <form class="ui form jsNewStudent {{ successClass }} {{ errorClass }}">
      <div class="field">
        <label>Name</label>
        <div class="two fields">
          <div class="field">
            <input id="firstName" type="text" name="firstName" placeholder="First Name">
            {{#if displayFieldError 'firstName' }}
              <div class="ui error message">
                <p>{{fieldErrorMessage 'firstName'}}.</p>
              </div>
            {{/if}}
          </div>
          <div class="field">
            <input type="text" name="lastName" placeholder="Last Name">
            {{#if displayFieldError 'lastName' }}
              <div class="ui error message">
                <p>{{fieldErrorMessage 'lastName'}}.</p>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Username</label>
          <input type="text" name="userName" placeholder="Username">
          {{#if displayFieldError 'userName' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'userName'}}.</p>
            </div>
          {{/if}}
        </div>
        <div class="field">
          <label>UH ID</label>
          <input type="text" name="uhID" placeholder="1234-5678">
          {{#if displayFieldError 'uhID' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'uhID'}} ####-####.</p>
            </div>
          {{/if}}
        </div>
      </div>
      <button class="ui blue button jsNewStudent" type="submit">Submit</button>
      <button class="ui red button jsCancelAdd"><i class="remove icon"></i>Cancel</button>
      {{#if alreadyDefined }}
        <div class="ui error message">
          <p>User {{username}} is already defined.</p>
        </div>
      {{/if}}
    </form>
    {{#if displaySuccessMessage}}
      <div class="ui success message">
        <p>Student {{username}} successfully added.</p>
      </div>
    {{/if}}
  </div>
</template>