<template name="Advisor_Log_Entry_Widget">
  <div class="ui padded container segment" style="margin-bottom: 0 !important;">
    <div class="ui dividing header"><h4 style="color: rgba(0,0,0,.7); text-transform: uppercase">Advisor Log</h4></div>
    <div class="ui equal width form">
      <div class="field">
        <label>Comments</label>
        <textarea></textarea>
      </div>
      <div class="ui tiny basic green submit button jsComment">ADD COMMENTS</div>

      <div class="field">
        <!-- Past Advisor Log -->
        <label style="margin-top: 15px">Past Advisor Logs</label>
        <div style="height: 200px">
          <div style="height:100%; overflow-y: auto; ">
            {{#if advisorLogs}}
              {{#each log in advisorLogs}}
                <div class="ui segment">
                  <p><strong>{{displayDate log}}:</strong> {{log.text}} <i>({{advisorName log}})</i></p>
                </div>
              {{/each}}
            {{else}}
              <p><i>No past advisor logs with this student.</i></p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>