<template name="Degree_Plan_Generator">
  <div class="ui padded container segment" style="margin-bottom: 0 !important;">
    <div class="ui dividing header"><h4 style="color: rgba(0,0,0,.7); text-transform: uppercase">Template degree plan generator</h4></div>

          <p>Generate template degree plan given:</p>
            <b class="radgrad-dimGrey-text">Student:</b> {{userFullName}} <br>
            <b class="radgrad-dimGrey-text">Desired Degree:</b> {{desiredDegree}} <br>
            <div class="ui grid">
              <div class="eight wide column">
                <b class="radgrad-dimGrey-text">Interests:</b><span class="left floated"> <br>
                  {{#each interest in interests}}
                    <label class="ui mini label"><i class="fitted star icon"></i>{{interest.name}}</label>
                  {{/each}}
                </span>
              </div>
              <div class="eight wide column">
                <b class="radgrad-dimGrey-text">Career Goals:</b><span class="left floated"> <br>
                  {{#each goal in careerGoals}}
                    <label class="ui mini label"><i class="fitted suitcase icon"></i>{{goal.name}}</label>
                  {{/each}}
                </span>
              </div>
            </div>

        <div class="ui warning message">
          <div class="header">
            Warning!
          </div>
          This will delete any courses and opportunities currently planned for future semesters!
        </div>

  </div>
  <div class="ui bottom attached olive button container" tabindex="0">Generate Degree Plan</div>

</template>
