<template name="Degree_Plan_Generator_Widget">
  <div class="ui padded container segment" style="margin-bottom: 0 !important;">
    <div class="ui dividing header"><h4 style="color: rgba(0,0,0,.7); text-transform: uppercase">Template degree plan
      generator</h4></div>
    <div class="field">
      <label>Starting Semester</label>
      <div class="ui action input">
        <div class="ui selection dropdown">
          <input type="hidden" name="role">
          <i class="dropdown icon"></i>
          <div class="default text">{{currentSemesterName}}</div>
          <div class="menu">
            {{#each semester in futureSemesters}}
              <div class="item{{#if selectedSemester semester}} active selected{{/if}}"
                   data-value="{{semesterSlug semester}}">{{semesterName semester}}</div>
            {{/each}}
          </div>
        </div>
        <button class="ui basic green button jsSemester" type="submit">Update</button>
      </div>
    </div>

    <p>Generate template degree plan given:</p>
    <b class="radgrad-dimGrey-text">Student:</b> {{userFullName}} <br>
    <b class="radgrad-dimGrey-text">Desired Degree:</b> {{desiredDegree}} <br>
    <b class="radgrad-dimGrey-text">Start Semester:</b> {{startSemester}} <br>
    <div class="ui grid">
      <div class="eight wide column">
        <b class="radgrad-dimGrey-text">Interests:</b><span class="left floated"> <br>
        {{#each interest in interests}}
          <label class="ui mini label"><i class="inverted olive fitted star icon"></i>{{interest.name}}</label>
        {{/each}}
                </span>
      </div>
      <div class="eight wide column">
        <b class="radgrad-dimGrey-text">Career Goals:</b><span class="left floated"> <br>
        {{#each goal in careerGoals}}
          <label class="ui mini label"><i class="inverted yellow fitted suitcase icon"></i>{{goal.name}}</label>
        {{/each}}
                </span>
      </div>
    </div>

    <div class="ui error message">
      <div class="header">
        Warning!
      </div>
      This will delete any courses and opportunities currently planned for future semesters!
    </div>


  </div>
  <div class="ui bottom attached button container jsGeneratePlan" tabindex="0">Generate Degree Plan</div>

</template>
