<template name="Level_Sticker_Log">
  <div class="ui raised padded container segment">
    <div class="ui top left attached green label">Level Sticker Log</div>
    <div class="ui equal width grid container">
      <div class="row">
        <div class="centerd column">
          <h3 class="ui centered blue header">Innovation</h3>
          <div style="margin-left:auto; margin-right:auto" class="c100 p{{projectedICE.i}} center lightblue">
            <span>{{earnedICE.i}}/{{projectedICE.i}}</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div
              style="position: relative; background-color:transparent; top: -120px; margin-left:auto; margin-right:auto"
              class="c100 p{{earnedICE.i}} center blue">
            <span></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="ui centered green header">Competency</h3>
          <div style="margin-left:auto; margin-right:auto" class="c100 p{{projectedICE.c}} center lightgreen">
            <span>{{earnedICE.c}}/{{projectedICE.c}}</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div
              style="position: relative; background-color:transparent; top:-120px; margin-left:auto; margin-right:auto"
              class="c100 p{{earnedICE.c}} center green">
            <span></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="ui centered orange header">Experience</h3>
          <div style="margin-left:auto; margin-right:auto" class="c100 p{{projectedICE.e}} center lightorange">
            <span>{{earnedICE.e}}/{{projectedICE.e}}</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div
              style="position: relative; background-color:transparent; top:-120px; margin-left:auto; margin-right:auto"
              class="c100 p{{earnedICE.e}} center orange">
            <span></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
        <div class="column">
          <img class="ui centered image" src="/images/levels/{{studentLevelImageName}}.png" width="120px">
          <h3 class="ui {{studentLevelColor}} centered header noTopMargin">{{studentLevelName}}</h3>
          <form class="ui form">
            <div class="inline field">
              <label>Received:</label>
              <div class="ui action input">
                <select multiple="" class="ui dropdown">
                  <option value="">Stickers</option>
                  <option value="1" selected="{{stickerEarned 1}}">White (1)</option>
                  <option value="2" selected="{{stickerEarned 2}}">Yellow (2)</option>
                  <option value="3" selected="{{stickerEarned 3}}">Blue (3)</option>
                  <option value="4" selected="{{stickerEarned 4}}">Red (4)</option>
                  <option value="5" selected="{{stickerEarned 5}}">Brown (5)</option>
                  <option value="6" selected="{{stickerEarned 6}}">Black (6)</option>
                </select>
              </div>
              <button class="ui green button jsLevelSticker" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</template>