<template name="Plan_Starting_Semester_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Starting Semester</label>
    <select id="planningSemester" class="ui dropdown" name="semester">
      <option value="">Select Semester</option>
      {{#each semester in semesters}}
        <option value="{{semester._id}}" selected="{{isSelected semester._id selectedSemesterID}}">{{semester.term}} {{semester.year}}</option>
      {{/each}}
    </select>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>