<template name="Student_Profile_Widget">
  <!-- Form -->
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>UPDATE STUDENT PROFILE</h4></div>
    {{> Student_Selector dictionary=getDictionary}}
    <div class="ui equal width form">
      <div class="fields">
        <div class="field">
          <label>First Name</label>
          <input id="firstName" type="text" name="firstName" placeholder="{{firstName}}">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input id="lastName" type="text" name="lastName" placeholder="{{lastName}}">
        </div>
      </div>
      <div class="fields">
        <div class="field">
          <label>UH Account</label>
          <input type="text" name="username" placeholder="{{username}}">
        </div>
        <div class="field">
          <label>UH ID</label>
          <input type="text" name="uhID" placeholder="{{uhID}}">
        </div>
      </div>
      <div class="fields">
        <!-- Role -->
        <div class="field">
          <label>Role</label>
          <div class="ui action input">
            <div class="ui selection dropdown">
              <input type="hidden" name="role">
              <i class="dropdown icon"></i>
              <div class="text">{{userRole}}</div>
              <div class="menu">
                {{#each role in roles}}
                  <div class="item{{#if inRole role}} active selected{{/if}}"
                       data-value="{{role.key}}">{{role.value}}</div>
                {{/each}}
              </div>
            </div>
            <!--<button class="ui basic green attached button" type="submit">Update</button>-->
          </div>
        </div>
        <!-- Degree -->
        <div class="field">
          <label>Degree</label>
          <div class="ui action input">
            <div class="ui selection dropdown">
              <input type="hidden" name="role">
              <i class="dropdown icon"></i>
              <div class="default text">{{desiredDegree}}</div>
              <div class="menu">
                <div class="item{{#if desireBS}} active selected{{/if}}" data-value="BS_CS">B.S. CS</div>
                <div class="item{{#if desireBA}} active selected{{/if}}" data-value="BA_ICS">B.A. ICS</div>
              </div>
            </div>
            <!--<button class="ui basic green button jsDegree" type="submit">Update</button>-->
          </div>
        </div>
      </div>
      <div class="fields">
        <!-- Interest -->
        <div class="field">
          <label>Interests</label>
          <div class="ui action input">
            <select multiple="" class="ui dropdown">
              <option value="">Select Interests</option>
              {{#each interest in interests}}
                <option value="{{interest._id}}" selected="{{interestSelected interest}}">{{interest.name}}</option>
              {{/each}}
            </select>
            <!--<button class="ui basic green button jsInterests" type="submit">Add</button>-->
          </div>
        </div>
        <!-- Degree -->
        <div class="field">
          <label>Career Goals</label>
          <div class="ui action input">
            <select multiple="" class="ui dropdown">
              <option value="">Select Career Goals</option>
              {{#each goal in careerGoals}}
                <option value="{{goal._id}}" selected="{{careerGoalSelected goal}}">{{goal.name}}</option>
              {{/each}}
            </select>
            <!--<button class="ui green basic button jsCareers" type="submit">Add</button>-->
          </div>
        </div>
      </div>
      <button class="ui bottom attached basic green button container jsNewStudent" type="submit">Update</button>

    </div>
  </div>

</template>
