<template name="Student_Selector_Tabs">
  <div class="ui top attached tabular stackable menu">
    <a class="active item" data-tab="students">Students</a>
    <a class="item" data-tab="add">Add New</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="students">
    <div class="ui top attached tabular stackable menu">
      {{#each group in alphabeticalGroups}}
      <a class="item" data-tab={{group}}>{{group}}</a>
      {{/each}}
    </div>
  {{#each group in alphabeticalGroups}}
    <div class="ui bottom attached {{isActive group}} tab segment" data-tab={{group}}>
        {{#if (users studentRole group)}}
          <div class="ui stackable grid">
            {{#each user in (users studentRole group)}}
              <div class="two wide column" style="padding: 2px;" data-tooltip={{name user true}}>
                <button id="{{user.username}}" class="ui basic grey fluid label jsRetrieve"
                   href="{{url user}}">{{name user false}}<br>({{studentUsername user}})</button>
              </div>
            {{/each}}
          </div>
        {{else}}
          <i>No students in this category</i>
        {{/if}}
    </div>
  {{/each}}
  </div>
  <div class="ui bottom attached tab segment" data-tab="add">
    <form class="ui form jsNewStudent {{ successClass }} {{ errorClass }}">
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input id="firstName" type="text" name="firstName" placeholder="First Name">
          {{#if displayFieldError 'firstName' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'firstName'}}.</p>
            </div>
          {{/if}}
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" name="lastName" placeholder="Last Name">
          {{#if displayFieldError 'lastName' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'lastName'}}.</p>
            </div>
          {{/if}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username">
          {{#if displayFieldError 'userName' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'userName'}}.</p>
            </div>
          {{/if}}
        </div>
        <div class="field">
          <label>UH ID</label>
          <input type="text" name="uhID" placeholder="1234-5678">
          {{#if displayFieldError 'uhID' }}
            <div class="ui error message">
              <p>{{fieldErrorMessage 'uhID'}} ####-####.</p>
            </div>
          {{/if}}
        </div>
      </div>
      <button class="ui basic green button jsNewStudent" type="submit">Submit</button>
      {{#if alreadyDefined }}
        <div class="ui error message">
          <p>User {{username}} is already defined.</p>
        </div>
      {{/if}}
      {{#if badUsername }}
        <div class="ui error message">
          <p>Username {{username}} is not a valid username.</p>
        </div>
      {{/if}}
      {{#if otherError }}
        <div class="ui error message">
          <p>{{errorMessage}}</p>
        </div>
      {{/if}}
    </form>
  </div>
</template>