<template name="Student_Selector_Tabs">
  <div class="ui top attached tabular stackable menu">
    <a class="active item" data-tab="students">Update Existing</a>
    <a class="item add-new-student" data-tab="add">Add New</a>
    <a class="item bulk-star-upload" data-tab="bulk">Bulk STAR Upload</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="students">
    <div class="ui top attached tabular stackable menu">
      {{#each group in alphabeticalGroups}}
      <a class="item" data-tab={{group}}>{{group}}</a>
      {{/each}}
    </div>
  {{#each group in alphabeticalGroups}}
    <div class="ui bottom attached {{isActive group}} tab segment" data-tab={{group}}>
        {{#if (users studentRole group)}}
          <div class="ui stackable grid">
            {{#each user in (users studentRole group)}}
              <div class="two wide column" style="padding: 2px;" data-tooltip={{name user true}}>
                <button id="{{user.username}}" class="ui basic grey fluid label jsRetrieve">
                  {{name user false}}<br>({{studentUsername user}})
                </button>
              </div>
            {{/each}}
          </div>
        {{else}}
          <i>No students in this category</i>
        {{/if}}
    </div>
  {{/each}}
  </div>
  <div class="ui bottom attached tab segment" data-tab="add">
    {{> Add_Student_Widget}}
  </div>
  <div class="ui bottom attached tab segment" data-tab="bulk">
    {{> Star_Bulk_Upload_Widget}}
  </div>
</template>