<template name="Update_Degree_Plan_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>UPDATE DEGREE PLAN</h4></div>

      <form class="ui equal width form {{successClass}} {{errorClass}}">
        <div class="fields">
          {{> Input_Form_Field label="First" name="firstName" value=user.firstName errorMessage=(fieldError "firstName") required=true}}
          {{> Input_Form_Field label="Last" name="lastName" value=user.lastName errorMessage=(fieldError "lastName") required=true}}
          {{> Input_Form_Field label="Slug (Username)" name="slug" value=slug errorMessage=(fieldError "slug") disabled=true}}
        </div>

        <div class="fields">
          {{> Input_Form_Field label="UH ID" name="uhID" value=user.uhID errorMessage=(fieldError "uhID") disabled=true}}
          {{> Input_Form_Field label="Email" name="email" value=user.email errorMessage=(fieldError "email") disabled=true}}
          {{> Input_Form_Field label="Picture" name="picture" value=user.picture errorMessage=(fieldError "picture") }}
        </div>

        <div class="fields">
          {{> Input_Form_Field label="Website" name="website" value=user.website errorMessage=(fieldError "website") }}
          {{> Role_Form_Field roles=roles selectedRole=selectedRole errorMessage=(fieldError "role") disabled="true" }}
        </div>
        <div class="fields">
          {{> Career_Goals_Form_Field careerGoals=careerGoals selectedCareerGoalIDs=selectedCareerGoalIDs errorMessage=(fieldError "careerGoals")}}
          {{> Interests_Form_Field interests=interests selectedInterestIDs=selectedInterestIDs errorMessage=(fieldError "interests")}}
        </div>
        {{> Desired_Degree_Form_Field desiredDegrees=desiredDegrees selectedDesiredDegreeID=selectedDesiredDegreeID errorMessage=(fieldError "desiredDegree")}}

        {{> Plan_Starting_Semester_Form_Field semesters=semesters errorMessage=(fieldError "semesters") required="true" }}

      </form>
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>