<template name="Mentor_About_Me_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header">PROFILE</div>
    <div class="ui stackable grid">
      <div class="row">
        <div class="two wide column">
          <p><b>Name</b></p>
        </div>
        <div class="six wide column">
          <p>{{name}}</p>
        </div>
        <div class="two wide column">
          <p><b>Email</b></p>
        </div>
        <div class="six wide column">
          <p>{{email}}</p>
        </div>
      </div>

      <div class="row">
        <div class="two wide column">
          <p><b>Interests</b></p>
        </div>
        <div class="six wide column">
          {{#if interests}}
            {{#each interest in interests}}
              <a class="ui tiny label"
                 href="{{pathFor interestsRouteName username=routeUserName interest=(slugName interest)}}"><i
                  class="fitted star icon"></i>{{interestName interest}}</a>
            {{/each}}
            <br>
          {{else}}
            <p style="margin-bottom: 0px">No interests added yet.</p>
          {{/if}}
          <a href="{{pathFor interestsRouteName username=routeUserName interest=firstInterest}}">Edit in interest
            explorer</a>
        </div>
        <div class="two wide column">
          <p><b>Career Goals</b></p>
        </div>
        <div class="six wide column">
          {{#if careerGoals}}
            {{#each goal in careerGoals}}
              <a class="ui tiny label"
                 href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName goal)}}"><i
                  class="fitted suitcase icon"></i>{{goalName goal}}</a>
            {{/each}}
            <br>
          {{else}}
            <p style="margin-bottom: 0px">No career goals added yet.</p>
          {{/if}}
          <a href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=firstCareerGoal}}">Edit in career
            explorer</a>
        </div>
      </div>
    </div>

    {{#if edit}}
      <form name="mentorProfile" class="ui equal width form {{successClass}} {{errorClass}}">
        <div class="fields">
          {{> Input_Form_Field label='Website URL' name='website' value=website }}
          {{> Input_Form_Field label='Company' name='company' value=company }}
        </div>
        <div class="fields">
          {{> Input_Form_Field label='Title' name='career' value=career }}
          {{> Input_Form_Field label='Location' name='location' value=location }}
        </div>
        <div class="fields">
          {{> Input_Form_Field label='LinkedIn Username' name='linkedin' value=linkedin }}
          {{> Picture_Form_Field value=picture }}
        </div>
        <div class="field">
          {{> TextArea_Form_Field label='Motivation' rows=10 name='motivation' value=motivation }}
        </div>
        <button class="ui button basic green doneEdit" type="submit">Save Profile</button>
        <button class="ui button basic green cancel">Cancel</button>
      </form>

    {{else}}
      <div class="ui stackable grid">
        <div class="row">
          <div class="two wide column">
            <p><b>Website URL</b></p>
          </div>
          <div class="six wide column">
            {{#if website}}
              <a href="{{website}}">{{website}}</a>
            {{else}}
              No website specified.
            {{/if}}
          </div>
          <div class="two wide column">
            <p><b>Company</b></p>
          </div>
          <div class="six wide column">
            <p>{{company}}</p>
          </div>
        </div>

        <div class="row">
          <div class="two wide column">
            <p><b>Title</b></p>
          </div>
          <div class="six wide column">
            <p>{{career}}</p>
          </div>
          <div class="two wide column">
            <p><b>Location</b></p>
          </div>
          <div class="six wide column">
            <p>{{location}}</p>
          </div>
        </div>

        <div class="row">
          <div class="two wide column">
            <p><b>LinkedIn Username</b></p>
          </div>
          <div class="six wide column">
            <p>{{linkedin}}</p>
          </div>
          <div class="two wide column">
            <p><b>Picture URL</b></p>
          </div>
          <div class="six wide column">
            <p>{{picture}}</p>
          </div>
        </div>

        <div class="row">
          <div class="two wide column">
            <p><b>Motivation</b></p>
          </div>
          <div class="fourteen wide column">
            <p>{{motivation}}</p>
          </div>
        </div>
      </div>
      <button class="ui button basic green editProfile">Edit Profile</button>
    {{/if}}
  </div>
</template>