<template name="Career_Goals">
    <div class="card">
      <div class="ui top attached label">Career Goals</div>
      <div class="content">
        <div class="ui segments">
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Silicon Valley
            </p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Graduate School</p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Software Engineer</p>
          </div>

          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Data Scientist
            </p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Full Stack Developer</p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Security Officer</p>
          </div>
        </div>
        <div class="ui action input">
          <input type="text" placeholder="Add career goal">
          <button class="ui icon button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>
    </div>
</template>