<template name="Explore_User_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>{{role}} PROFILE</h4></div>
      <div class="ui card">
        <div class="image">
          <img src="{{picture}}">
        </div>
        <div class="content">
          <a class="header">
            <div style='position:relative;'>
              {{name}}
            </div>
            {{#if isStudent}}
              <div style="background-image: url('/images/level-icons/radgrad-level-{{level}}-icon.png'); background-repeat: no-repeat; width: 55px; height: 55px; margin: 0 0 2px 5px; padding: 0; background-size: 100% 100%;position:absolute;right:5px;top:5px"></div>
            {{/if}}
          </a>
          <div class="meta">
            <span class="date">{{email}}</span>
            {{#if isStudent}}
            <br>
            <span class="date">Desired Degree: {{desiredDegree}}</span>
            {{/if}}
            {{#if website}}
              <br>
              <span class="date"><a href="{{website}}">{{firstName}}'s Professional Website</a></span>
            {{/if}}
          </div>
          <div class="description">
            <div class="ui divider"></div>
              {{> User_Career_Goals_Component labelSize='mini' userID=userID}}
              {{> User_Interests_Component labelSize='mini' userID=userID}}
            {{#if isStudent}}
              {{> User_Course_Component userID=userID}}
              {{> User_Opportunity_Component userID=userID opportunitiesCompleted=opportunitiesCompleted opportunitiesPlanned = opportunitiesPlanned}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>