<template name="Explore_User_Widget">
  <div class="ui fluid card">
    <div class="content">
      <img class="right floated tiny ui image" src="{{picture}}" style="width: 90px; margin-bottom: 0;">
      <div class="header">
        {{name}}
      </div>
      <div class="meta">
        {{role}}<br>
        {{#if or isStudent isAlumni}}{{desiredDegree}} <br>{{/if}}
        {{email}}
        {{#if or isStudent isAlumni}}
          <br>
          <img class="ui mini image" src='/images/level-icons/radgrad-level-{{level}}-icon.png'>
        {{/if}}
        {{#if website}}
          <a class="ui compact basic mini green button" href="{{website}}">
            WEBSITE
          </a>
        {{/if}}
      </div>
    </div>
    <div class="content">
      {{#if isMentor}}
        {{> User_Answers_Component userID=userID}}
      {{/if}}
      {{#if or isStudent isAlumni}}
        {{> User_Course_Component userID=userID}}
      {{/if}}
    </div>
    {{#if or isStudent isAlumni}}
      <div class="content">
        {{> User_Opportunity_Component userID=userID}}
      </div>
    {{/if}}
    <div class="extra content">
      {{> User_Career_Goals_Component labelSize='mini' userID=userID}}
      {{> User_Interests_Component labelSize='mini' userID=userID}}
    </div>
  </div>
</template>