<template name="Explorer_Dropdown">
    <div class="ui compact menu">
      <div class="ui simple dropdown item">
        Select Explorer
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{{pathFor 'Student_Explorer_Degree_Page' username=routeUserName}}">Degree Explorer</a>
          <a class="item" href="{{pathFor 'Student_Explorer_Course_Page' username=routeUserName}}">Course Explorer</a>
          <a class="item" href="{{pathFor 'Student_Explorer_Interest_Page' username=routeUserName}}">Interest Explorer</a>
          <a class="item" href="{{pathFor 'Student_Explorer_Opportunity_Page' username=routeUserName}}">Opportunity Explorer</a>
          <a class="item" href="{{pathFor 'Student_Explorer_Career_Page' username=routeUserName}}">Career Explorer</a>
        </div>
      </div>
    </div>
</template>