<template name="Home_Menu">
  <div style="margin-top: 120px; margin-left: 60px;" class="ui left fixed vertical text menu">
    <a class="item" href="{{pathFor 'Student_Home_Page'}}">
    Feed
    </a>
    <a class="item" href="{{pathFor 'Student_AboutMe'}}">
      About Me
    </a>
    <a class="item" href="{{pathFor 'Student_Levels'}}">
      My ICS Levels
    </a>
    <a class="item" href="{{pathFor 'Student_About_Levels'}}">
      About ICS Levels
    </a>
    <a class="item" href="{{pathFor 'Student_Ice'}}">
      My ICE Points
    </a>
    <a class="item" href="{{pathFor 'Student_About_Ice'}}">
      About ICE Points
    </a>
  </div>
</template>