<template name="Home_Menu">
  <div  class="ui left vertical text menu">
    <a class="{{isActiveRoute 'Student_Home_Page'}} item" href="{{pathFor 'Student_Home_Page' username=routeUserName}}">Home</a>
    <a class="{{isActiveRoute 'Student_AboutMe'}} item" href="{{pathFor 'Student_AboutMe' username=routeUserName}}">About Me</a>
    <a class="{{isActiveRoute 'Student_Ice'}} item" href="{{pathFor 'Student_Ice' username=routeUserName}}">ICE Points</a>
    <a class="{{isActiveRoute 'Student_Levels'}} item" href="{{pathFor 'Student_Levels' username=routeUserName}}">Level</a>

  </div>
</template>