<template name="Ice">

    <div class="card">
      <div class="ui top attached label">Current ICE points</div>

      <div style="margin-bottom:20px; padding-top:20px; padding-left:20px;" class="ui container"> 
        <div style="background: lightblue" class="iceCircle"><h2>I</h2></div>
         
        <div class="icePercent">10%</div>
         
        <div class="smallIceBattery"></div>
         
        <div class="iceBattery"> 
          <div style="width: 10px;" class="iceBatteryFill"></div>
           
        </div>
         
      </div>
        
      <div style="margin-bottom:20px; padding-left:20px;" class="ui container"> 
        <div style="background: lightgreen" class="iceCircle"><h2>C</h2></div>
         
        <div class="icePercent">77%</div>
         
        <div class="smallIceBattery"></div>
         
        <div class="iceBattery"> 
          <div style="width: 77px;" class="iceBatteryFill"></div>
           
        </div>
         
      </div>
        
      <div style="margin-bottom:20px; padding-left:20px;" class="ui container"> 
        <div style="background: orange" class="iceCircle"><h2>E</h2></div>
         
        <div class="icePercent">40%</div>
         
        <div class="smallIceBattery"></div>
         
        <div class="iceBattery"> 
          <div style="width: 40px;" class="iceBatteryFill"></div>
           
        </div>
         
      </div>
        <a style="padding-left:20px;" href="#">What is ICE?</a> 
    </div>
   
</template>
