<template name="Ice">

  <div class="ui segment">
    <div class="ui top attached label">Current ICE points</div>
    <div class="ui equal width center aligned grid">
      <div class="column">
          <div class="ui blue statistic">
            <div class="value">
              20
            </div>
            <div class="label">
              Innovation
            </div>
        </div>
      </div>

      <div class="column">
          <div class="ui red statistic">
            <div class="value">
              35
            </div>
            <div class="label">
              Competency
            </div>
          </div>
      </div>

      <div class="column">
          <div class="ui orange statistic">
            <div class="value">
              60
            </div>
            <div class="label">
              Experience
            </div>
          </div>
      </div>

    </div>
  </div>
</template>
