<template name="Interests">


    <div class="card">
      <div class="ui top attached label">Interests</div>
      <div class="content">
        <div class="ui segments">
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Software Engineering
            </p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Big Data</p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Artificial Intelligence</p>
          </div>

          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Machine Learning
            </p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Natural Language Processing</p>
          </div>
          <div class="ui segment">
            <p><i class="thumbs up icon"></i>Web Development</p>
          </div>
        </div>

        <div class="ui action input">
          <input type="text" placeholder="Add interest">
          <button class="ui icon button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>
    </div>
</template>