<template name="Student_Levels_Widget">
    <div class="ui padded segment">
      <div class="ui dividing header"><h4>CURRENT LEVEL</h4></div>
      <div class="ui center aligned container">
        <img class="ui centered small image" src="/images/levels/{{studentLevelImageName}}.png">
        <h3 class="ui {{studentLevelColor}} header">{{studentLevelName}}
        </h3>
        <div class="ui mini circular images">
          <img style="height:30px; width: auto;" class="ui image" src="/images/levels/level1.png">
          <img style="height:30px; width: auto;" class="ui image" src="/images/levels/level2.png">
          <img style="height:30px; width: auto;" class="ui image" src="/images/levels/level3.png">
          <img style="height:30px; width: auto;" class="ui image" src="/images/levels/level4.png">
          <img style="height:30px; width: auto;" class="ui image" src="/images/levels/level5.png">
          <img style="height:30px; width: auto;" class="ui image" src="/images/levels/level6.png">
        </div>
      </div>
    </div>
</template>