<template name="Student_Level_Hints">
  <div class="ui padded segment">
    <div class="ui dividing header"><h4>LEVELING UP HINTS</h4></div>
    <div class="ui relaxed list">
      <div class="item">
        <div class="content">
          <div class="header">Eight is the magic number and B is the magic letter.</div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <div class="header">Hello World! This is my professional self.</div>
          <div class="description">Tell RadGrad where recruiters should go to learn about you. Would you hire you?
          </div>
        </div>
      </div>
    </div>
  </div>
</template>