<template name="Student_MentorSpace_Hidden_Questions">
  <div>
    {{#each question in questions}}
      {{#with moderated question}}
        <div class="ui visible {{color}} message">
          <div class="header">
            <i class="{{icon}} icon"></i> {{message}}
          </div>
          <p>{{question.question}}</p>
          <button value="{{question._id}}" class="ui red basic mini button discard">DELETE THIS QUESTION</button>
        </div>
      {{/with}}
    {{/each}}
  </div>
</template>