<template name="Student_Explorer_Courses_Add_Review_Widget">

  <div class="ui accordion">
    <div class="title" style="text-align: center; text-decoration: underline; color: #38840F;">
      <i class="dropdown icon"></i><a>Add Review</a>
    </div>
    <div class="content">
      <div style="padding-bottom:1.5em;" class="ui padded container">
        <form class="ui equal width form {{successClass}} {{errorClass}}">

          <div class="fields">
            {{> Semesters_Single_Form_Field semesters=semesters name="semester" errorMessage=(fieldError "semester") required="true" }}

            {{> Rating_Form_Field label="Rating" name="rating" ratings=ratings errorMessage=(fieldError "rating") required=false}}
          </div>

          {{> TextArea_Form_Field label="Comments" rows=5 name="comments" placeholder="Explain the reasoning behind your rating here." errorMessage=(fieldError "comments") required=true}}

          <button class="ui green basic mini button" type="submit">ADD</button>
          {{> Success_Message_Form_Field message="Your review was successfully added."}}
        </form>
      </div>
    </div>
  </div>

</template>