<template name="Student_Share_Info_Widget">
  <div class="ui dividing header"><h4>Share your Information with others</h4></div>
  <div class="ui stackable grid">
    <form class="ui form shareInfo">
      <div class="fields">
        {{> Boolean_Form_Field label='Email' name='shareUsername' trueValue=trueValueUsername falseValue=falseValueUsername errorMessage=(fieldError "shareUsername")}}
        {{> Boolean_Form_Field label='Picture' name='sharePicture' trueValue=trueValuePicture falseValue=falseValuePicture errorMessage=(fieldError "sharePicture")}}
        {{> Boolean_Form_Field label='Website' name='shareWebsite' trueValue=trueValueWebsite falseValue=falseValueWebsite errorMessage=(fieldError "shareWebsite")}}
        {{> Boolean_Form_Field label='Career Goals' name='shareCareerGoals' trueValue=trueValueCareerGoals falseValue=falseValueCareerGoals errorMessage=(fieldError "shareCareerGoals")}}
        {{> Boolean_Form_Field label='Interests' name='shareInterests' trueValue=trueValueInterests falseValue=falseValueInterests errorMessage=(fieldError "shareInterests")}}
        {{> Boolean_Form_Field label='Academic Plan' name='shareAcademicPlan' trueValue=trueValueAcademicPlan falseValue=falseValueAcademicPlan errorMessage=(fieldError "shareAcademicPlan")}}
        {{> Boolean_Form_Field label='Courses' name='shareCourses' trueValue=trueValueCourses falseValue=falseValueCourses errorMessage=(fieldError "shareCourses")}}
        {{> Boolean_Form_Field label='Opportunities' name='shareOpportunities' trueValue=trueValueOpportunities falseValue=falseValueOpportunities errorMessage=(fieldError "shareOpportunities")}}
      </div>
      <button class="ui basic green button shareInfo" type="submit">Update Sharing</button>
    </form>
  </div>
</template>
