<template name="Student_Update_Website_Widget">
  <div class="two wide column">
    <b>Website</b>
  </div>
  <div class="six wide column">
    <form class="ui form website">
      <div class="fluid field">
        <div class="ui action input">
          <input id="website" type="text" name="website" placeholder="Enter website url" value="{{website}}">
          <button class="ui basic green button website" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
</template>
