<template name="Student_Ice_Widget">
  <div class="ui padded segment">
    <div class="ui dividing header"><h4>YOUR ICE POINTS</h4></div>
    <div class="ui equal width grid stackable container">
      <div class="column">

        <div class="ui segment">
          <div class="radgrad-ice">
            <div class="radgrad-ice-circle p{{projectedICE.i}} radgrad-proj-innov">
              <div class="radgrad-ice-stat">
                <span>{{earnedICE.i}}</span>
                <hr>
                <span>{{projectedICE.i}}</span>
              </div>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <div class="radgrad-ice-circle p{{earnedICE.i}} radgrad-earn-innov">
              <span></span>
              <div class="slice">
                <div class="bar" ></div>
                <div class="fill" style="background-color: red"></div>
              </div>
            </div>
           </div>

          <h3 class="ui centered header ice-innovation-color">
            Innovation
          </h3>

          <div class="ui styled fluid accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              Achieved ({{innovationPoints earnedICE}} points)
            </div>

            <div class="active content">
              <p>You have achieved {{innovationPoints earnedICE}} Innovation points for the following:</p>
              <div class="ui list">
                {{#each event in earnedEventsI}}
                  <div class="item">
                    <b>+{{event.ice.i}}</b>
                    {{#if (isCourse event)}}
                      {{ courseName event }} ({{ courseName event }})
                    {{ else }}
                      {{ opportunityName event }} ({{opportunitySem event}})
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Projected ({{innovationPoints projectedICE}} points)
            </div>
            <div class="content">
              <p>You have a total of {{innovationPoints projectedICE}} projected Innovation points. The
                remaining {{remainingICE (innovationPoints earnedICE) (innovationPoints projectedICE) }} points are for the following:</p>
              <div class="ui list">
                {{#each event in projectedEventsI}}
                  <div class="item">
                    <b>+{{innovationPoints (eventIce event)}}</b>
                    {{#if (isCourse event)}}
                      {{ courseName event }} ({{ courseName event }})
                    {{ else }}
                      {{ opportunityName event }} ({{opportunitySem event}})
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Get to 100
            </div>
            <div class="content">
              <p>Consider the following to complete the full 100 Innovation points.</p>
              <div class="ui list">
                {{#each event in recommendedEventsI}}
                  <div class="item">
                    <b>+{{innovationPoints (eventIce event)}}</b>
                    {{#if (isCourse event)}}
                      {{ courseName event }} ({{ courseName event }})
                    {{ else }}
                      {{ opportunityName event }} ({{opportunitySem event}})
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="ui segment">
          <div class="radgrad-ice">
            <div class="radgrad-ice-circle p{{projectedICE.c}} radgrad-proj-comp">
              <div class="radgrad-ice-stat">
                <span>{{earnedICE.c}}</span>
                <hr>
                <span>{{projectedICE.c}}</span>
              </div>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <div class="radgrad-ice-circle p{{earnedICE.c}} radgrad-earn-comp">
              <span></span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        </div>


          <h3 class="ui centered header ice-competency-color">
            Competency
          </h3>

          <div class="ui styled fluid accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              Achieved ({{competencyPoints earnedICE}} points)
            </div>
            <div class="active content">
              <p>You have achieved {{competencyPoints earnedICE}} Competency points for the following:</p>
              <div class="ui list">
                {{#each event in earnedEventsC}}
                  <div class="item">
                    <b>+{{competencyPoints (eventIce event)}}</b> {{ courseName event }}
                  </div>
                {{/each}}
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Projected ({{competencyPoints projectedICE}} points)
            </div>
            <div class="content">
              <p>You have a total of {{competencyPoints projectedICE}} projected Competency points. The
                remaining {{remainingICE (competencyPoints earnedICE) (competencyPoints projectedICE) }} points are for the following:</p>
              <div class="ui list">
                {{#each event in projectedEventsC}}
                  <div class="item">
                    <b>+{{competencyPoints (eventIce event)}}</b> {{ courseName event }}
                  </div>
                {{/each}}
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Get to 100
            </div>
            <div class="content">
              <p>Consider the following to complete the full 100 Competency points.</p>
              <div class="ui list">
                <a class="item">
                  <div class="content">
                    <div class="header">Achieve an overall GPA of 3.0+. (Fall 2016)</div>
                    <div class="description"><b>+5</b> Competency points</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">

        <div class="ui segment">
          <div class="radgrad-ice">
            <div class="radgrad-ice-circle p{{projectedICE.e}} radgrad-proj-exp">
              <div class="radgrad-ice-stat">
                <span>{{earnedICE.e}}</span>
                <hr>
                <span>{{projectedICE.e}}</span>
              </div>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <div class="radgrad-ice-circle p{{earnedICE.e}} orange">
              <span></span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>

          <h3 class="ui centered header ice-experience-color">
            Experience
          </h3>

          <div class="ui styled fluid accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              Achieved ({{experiencePoints earnedICE}} points)
            </div>
            <div class="active content">
              <p>You have achieved {{experiencePoints earnedICE}} Experience points for the following:</p>
              <div class="ui list">
                {{#each event in earnedEventsE}}
                  <div class="item">
                    <b>+{{experiencePoints (eventIce event)}}</b>
                    {{#if (isCourse event)}}
                      {{ courseName event }} ({{ courseName event }})
                    {{ else }}
                      {{ opportunityName event }} ({{opportunitySem event}})
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Projected ({{experiencePoints projectedICE}} points)
            </div>
            <div class="content">
              <p>You have a total of {{experiencePoints projectedICE}} projected Experience points. The
                remaining {{remainingICE (experiencePoints earnedICE) (experiencePoints projectedICE) }} points are for the following:</p>
              <div class="ui list">
                {{#each event in projectedEventsE}}
                  <div class="item">
                    <b>+{{experiencePoints (eventIce event)}}</b>
                    {{#if (isCourse event)}}
                      {{ courseName event }} ({{ courseName event }})
                    {{ else }}
                      {{ opportunityName event }} ({{opportunitySem event}})
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Get to 100
            </div>
            <div class="content">
              <p>Consider the following to complete the full 100 Experience points.</p>
              <div class="ui list">
                <a class="item">
                  <div class="content">
                    <div class="header">Participate in the monk seal tracker app development internship with Cam
                      Moore. (Spring 2017)
                    </div>
                    <div class="description"><b>+25</b> Experience points</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
