<template name="Student_Feed_Widget">
  {{#if Template.subscriptionsReady}}
<div class="ui padded segment container">
  <div class="ui dividing header"><h4>RADGRAD COMMUNITY ACTIVITY</h4></div>

  <div style="max-height: 488px; overflow:scroll; margin-top: 10px;" class="ui feed">
    {{#each feed in feeds}}
    <div class="event">
      <div class="label">
        <img src={{studentPicture feed}}>
      </div>
      <div class="content">
        <div class="summary">
          {{feedDescription feed}}
          <div class="date">
            {{feedTimestamp feed}}
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
    {{/each}}
  </div>

</div>

  {{else}}
  {{> Loading}}
  {{/if}}
</template>