<template name="Student_Courses_Of_Interest_Widget">
  {{#if Template.subscriptionsReady}}
  <div class="ui padded segment container">
    <div class="ui dividing header">
      <h4>SUGGESTED COURSES ({{coursesCount}})</h4>
    </div>

    <div style="max-height: 500px; overflow:scroll; margin-top: 10px;" class="ui two cards">
      {{#each course in courses}}
      {{> Student_Courses_Of_Interest_Card course = course}}
      {{/each}}
    </div>
  </div>
  {{else}}
  {{> Loading}}
  {{/if}}
</template>