<template name="Student_Courses_Of_Interest_Widget">
  {{#if Template.subscriptionsReady}}
  <div class="ui padded segment container">
    <div class="ui dividing header">
      <h4>RECOMMENDED COURSES {{> Widget_Header_Number inputValue = coursesCount}}</h4>
    </div>
    {{#if hidden}}
      <div class="ui basic green mini button showHidden">SHOW HIDDEN RECOMMENDED COURSES</div>
    {{else}}
      <div class="ui basic green mini button hideHidden">HIDE HIDDEN RECOMMENDED COURSES</div>
    {{/if}}
    {{#if courses}}
    <div style="max-height: 500px; overflow:scroll; margin-top: 10px;" class="ui two cards">
      {{#each course in courses}}
      {{> Student_Courses_Of_Interest_Card course = course}}
      {{/each}}
    </div>
    {{else}}
      <p>Add interests to see recommendations here.</p>
    {{/if}}
  </div>
  {{else}}
  {{> Loading}}
  {{/if}}
</template>