<template name="Student_MentorSpace_Mentor_Directory">
  <div class="item mentorspace-item-padding">
    <!--<div class="ui vertical accordion">-->
    <div class="ui styled fluid accordion">

      <div class="ui selection list title">
        <div class="item">
          <i class="dropdown icon"></i>
          <img class="ui mini image" src="{{picture}}">
          <div class="content">
            <a href="{{pathFor usersRouteName username=routeUserName explorerUserName=mentorID}}" class="header">{{firstName}} {{lastName}}</a>
            <div class="description mentorspace-title-size">{{profile.career}}, {{profile.company}}</div>
          </div>
        </div>
      </div>

      <div class="right aligned content">
        <div class="ui divider"></div>
        <div class="ui basic segment mentorspace-description">
          "{{profile.motivation}}" <br><br>
          {{firstName}} {{lastName}} is based in {{profile.location}}<br>

          <i class="mail outline icon"></i><a href="mailto:{{email}}">{{email}}</a><br>
          <i class="linkedin icon"></i><a href="https://www.linkedin.com/in/{{profile.linkedin}}">{{profile.linkedin}}</a><br>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="ui divider"></div>-->
</template>
