<template name="Student_Ice_Column">
    <div class="ui styled fluid accordion">
      <!-- Earned -->
      <div class="active title">
      <i class="dropdown icon"></i>
      Earned <div class="ui right floated {{#with getTypeColors}}{{color}}{{/with}}">{{points earnedICE}} pts</div>
    </div>

    <div class="active content">
      {{#if matchingPoints (points earnedICE) 0}}
        <p>You have not yet earned any {{type}} points.</p>
      {{else}}
        <p>You have earned {{points earnedICE}} {{type}} points for the following:</p>
        <div class="ui very relaxed list">
          {{#each year in years}}
            {{#each semester in semesters year}}
              {{#if hasEvents true semester}}
                <div class="item">
                  <div class="header">{{printSemester semester}}</div>
                  {{#each event in getEvents 'opportunity' true semester}}
                    <a href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(opportunitySlug event)}}"><b>+{{points (eventIce event)}}</b> {{ opportunityName event }}<br></a>
                  {{/each}}
                  {{#each event in getEvents 'course' true semester}}
                    <a href="{{pathFor coursesRouteName username=routeUserName course=(courseSlug event)}}"><b>+{{points (eventIce event)}}</b> {{ courseName event }}<br></a>
                  {{/each}}
                </div>
              {{/if}}
            {{/each}}
          {{/each}}
        </div>
      {{/if}}
    </div>

      <!-- Planned -->
      <div class="title">
      <i class="dropdown icon"></i>
      Planned <div class="ui right floated {{#with getTypeColors}}{{projColor}}{{/with}}">{{points plannedICE}} pts</div>
    </div>
    <div class="content">
      {{#if matchingPoints (points plannedICE) (points earnedICE)}}
        <p>You have earned all of your {{points plannedICE}} planned {{type}} points.</p>
      {{else}}
        <p>You have a total of {{points plannedICE}} planned {{type}} points, with {{remainingICE (points earnedICE) (points plannedICE) }} unearned points for the following:</p>
        <div class="ui very relaxed list">
          {{#each year in years}}
            {{#each semester in semesters year}}
              {{#if hasEvents false semester}}
                <div class="item">
                  <div class="header">{{printSemester semester}}</div>
                  {{#each event in getEvents 'opportunity' false semester}}
                    <a href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(opportunitySlug event)}}"><b>+{{points (eventIce event)}}</b> {{ opportunityName event }} <br></a>
                  {{/each}}
                  {{#each event in getEvents 'course' false semester}}
                    <a href="{{pathFor coursesRouteName username=routeUserName course=(courseSlug event)}}"><b>+{{points (eventIce event)}}</b> {{ courseName event }}<br></a>
                  {{/each}}
                </div>
              {{/if}}
            {{/each}}
          {{/each}}
        </div>
      {{/if}}
    </div>

      <!-- Recommended -->
      <div class="title">
      <i class="dropdown icon"></i>
      Get to 100
    </div>
    <div class="content">
      {{#if matchingPoints 100 (points earnedICE) }}
        <p>Congratulations! You have earned 100 {{type}} points!</p>
      {{else}}
        {{#if matchingPoints 100 (points plannedICE) }}
          <p>You already have 100 planned {{type}} points.</p>
        {{else}}
          {{#if hasNoInterests}}
            <p>Consider adding interests to see recommendations here.</p>
          {{else}}
            <p>Consider the following to complete the full 100 {{type}} points.</p>
            <div class="ui list">
              {{#each event in recommendedEvents (points plannedICE)}}
                <div class="item">
                  {{#if isType 'Competency'}}
                    <a href="{{pathFor coursesRouteName username=routeUserName course=(courseSlug event)}}"><div class="item">
                      <b>+9</b> {{ event.shortName }}
                    </div></a>
                  {{else}}
                    <a href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(opportunitySlug event)}}"><b>+{{points (eventIce event)}}</b> {{ event.name }}</a>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>