<template name="Student_Home_Help">
  <div class="sixteen wide column">
    <div class="ui info floating message">
      <i class="close icon"></i>
      <div class="ui accordion">
        <div class="active title">
          <i class="big green help circle icon"></i>
          <i class="green dropdown icon"></i>
          Learn about your home page
        </div>
        <div class="active content">
          <p>Your home page provides the latest information on your degree plan.</p>

          <p>The Content of Interest pane provides information on selected opportunities and courses that we hope will be of interest to you based on your selected interests and career goals. Click "View More" to go to a page with details, "Add to plan" to add it to your Degree Plan, and "Hide" if you're not interested in this content and don't want to see it in your feed.</p>

          <p>The ICS Teaser pane provides very short videos by ICS community members. When you have a spare moment, take a look at a video or two! </p>

          <p>Finally, the Recent Community Activity pane gives you a sense of what other ICS students are doing.</p>

          <p>(If you want to remove this help pane from this page, click on the "X" in the upper right corner to hide it. You can always bring it back from your profile page.)</p>
        </div>
      </div>
    </div>
  </div>
</template>