<template name="Student_Explorer_Interests_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded segment container">
      <div class="ui dividing header">
        <h4>{{name}}</h4>
      </div>
      {{#each descriptionPair in descriptionPairs}}
        {{#if isLabel descriptionPair.label 'Related Career Goals'}}
          <p>
            {{#each careerGoal in descriptionPair.value}}
              <a class="ui mini label"><i style="color:white !important"
                                          class="fitted suitcase icon"></i>{{careerGoalName careerGoal}}</a>
            {{/each}}
          </p>
        {{else}}
          {{#if isLabel descriptionPair.label 'Related Courses'}}
            {{#if descriptionPair.value}}
              <b>{{descriptionPair.label}}:</b>
              <div class="ui padded equal width grid">
                {{#each table in descriptionPair.value}}
                  {{#if table}}
                    <div class="column">
                      <table class="ui collapsing compact small table">
                        <tbody>
                        {{#each relatedCourse in table}}
                          <tr class="{{rowColorCourse relatedCourse.course}}">
                            <td><a class="{{isActiveRoute coursesRouteName}} item" href="{{pathFor coursesRouteName username=routeUserName course = relatedCourse.course}}">{{courseNameFromSlug relatedCourse.course}} </a></td>
                            <td><i class="{{iconCourse relatedCourse.course}}"></i>{{passedCourse relatedCourse.course}}</td>
                          </tr>
                        {{/each}}
                        </tbody>
                      </table>
                    </div>
                  {{/if}}
                {{/each}}
              </div>
              <br>

            {{else}}
              <p><b>{{descriptionPair.label}}:</b> None</p>
            {{/if}}
          {{else}}
            {{#if isLabel descriptionPair.label 'Related Opportunities'}}
              {{#if descriptionPair.value}}
                <b>{{descriptionPair.label}}:</b>
                <div class="ui padded equal width grid">
                  {{#each table in descriptionPair.value}}
                    {{#if table}}
                      <div class="column">
                        <table class="ui collapsing compact small table">
                          <tbody>
                          {{#each relatedOpp in table}}
                            <tr class="{{rowColorOpportunity relatedOpp.opportunity}}">
                              <td><a class="{{isActiveRoute opportunitiesRouteName}} item" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity = relatedOpp.opportunity}}">{{opportunityNameFromSlug relatedOpp.opportunity}} </a></td>
                              <td><i class="{{iconOpportunity relatedOpp.opportunity}}"></i>{{verifiedOpportunity relatedOpp.opportunity}}</td>
                            </tr>
                          {{/each}}
                          </tbody>
                        </table>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
                <br>
              {{else}}
                <p><b>{{descriptionPair.label}}:</b> None</p>
              {{/if}}
            {{else}}
              {{#if descriptionPair.value }}
                <p><b>{{descriptionPair.label}}:</b> {{{descriptionPair.value}}}</p>
              {{else}}
                <p><b>{{descriptionPair.label}}:</b> N/A</p>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}


      <div class="ui three column grid">
        {{#each socialPair in socialPairs}}
          <div class="stretched column">
            <table class="ui small table">
              <thead>
              <tr>
                {{#if isLabel socialPair.label 'students'}}
                  <th>Interested {{socialPair.label}} ({{socialPair.amount}})</th>
                {{else}}
                  <th>Experienced {{socialPair.label}} ({{socialPair.amount}})</th>
                {{/if}}
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="ui circular mini bordered images">
                    {{#each user in socialPair.value}}
                      <img style="height:30px; width: auto;" class="ui image" src={{userPicture user}}>
                    {{/each}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        {{/each}}
      </div>
      <br>
      <p>
        {{#if userStatus item}}
          <button value="{{id}}" class="ui green basic mini button deleteItem">Remove</button>
        {{else}}
          <button value="{{id}}" class="ui green basic mini button addItem">Add</button>
        {{/if}}
      </p>
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>
