<template name="Student_Explorer_Menu">
  <div class="ui compact menu">
    <div class="ui simple dropdown item">
      Select Explorer
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="{{isActiveRoute careerGoalsRouteName}} item" href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=firstCareerGoal}}">Career Goals</a>
        <a class="{{isActiveRoute coursesRouteName}} item" href="{{pathFor coursesRouteName username=routeUserName course=firstCourse}}">Courses</a>
        <a class="{{isActiveRoute degreesRouteName}} item" href="{{pathFor degreesRouteName username=routeUserName degree=firstDegree}}">Degrees</a>
        <a class="{{isActiveRoute interestsRouteName}} item" href="{{pathFor interestsRouteName username=routeUserName interest=firstInterest}}">Interests</a>
        <a class="{{isActiveRoute opportunitiesRouteName}} item" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=firstOpportunity}}">Opportunities</a>
      </div>
    </div>
  </div>

  <div class="ui vertical text menu">
      {{#if isType type 'courses'}}
        {{#each listItem in menuList}}
        <a class="active item" data-tab="tab-name" href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem)}}">{{courseName listItem}}</a>
        {{/each}}
      {{else}}
        {{#if isType type 'careerGoals'}}
          {{#each listItem in menuList}}
            <a class="active item" data-tab="tab-name" href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem)}}">{{itemName listItem}}</a>
          {{/each}}
          {{else}}
            {{#if isType type 'degrees'}}
              {{#each listItem in menuList}}
                <a class="active item" data-tab="tab-name" href="{{pathFor degreesRouteName username=routeUserName degree=(slugName listItem)}}">{{itemName listItem}}</a>
              {{/each}}
            {{else}}
              {{#if isType type 'opportunities'}}
                {{#each listItem in menuList}}
                  <a class="active item" data-tab="tab-name" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(slugName listItem)}}">{{itemName listItem}}</a>
                {{/each}}
              {{else}}
                {{#if isType type 'interests'}}
                  {{#each listItem in menuList}}
                    <a class="active item" data-tab="tab-name" href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}">{{itemName listItem}}</a>
                  {{/each}}
                {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
  </div>
</template>

