<template name="Student_Explorer_Degrees_Widget">
  <div class="ui segments" style="background-color: white;">
    <div class="ui padded segment container">

      <div class="ui clearing basic segment"
           style="margin: 0; padding-left: 0; padding-right: 0; padding-top: 0; padding-bottom: 0;">
        <h4 class="ui left floated header">{{toUpper name}}</h4>
        {{#if isInRole 'student'}}
          <div class="ui right floated">
            {{> Academic_Plan_Form_Field plans=plans selectedPlan=selectedPlan label='Set Academic Plan'}}
          </div>
        {{/if}}
      </div>

      <div class="ui divider" style="margin-top: 0;"></div>
    </div>

  </div>
</template>
