<template name="Student_Explorer_Social_Widget">
  {{#each socialPair in socialPairs}}
    <div class="ui padded center aligned segment">
      <div class="ui dividing header">
        <h4>IN DEGREE PLAN {{> Widget_Header_Number inputValue = socialPair.amount}}</h4>
      </div>

      <div class="ui circular mini bordered images" style="overflow: visible;">
        {{#each user in socialPair.value}}
          <a href="{{pathFor usersRouteName username=routeUserName explorerUserName=(userUsername user)}}" data-position="bottom left" data-tooltip="{{fullName user}}"><img style="height:30px; width: auto;" class="ui image" src={{userPicture user}}></a>
        {{/each}}
      </div>
    </div>
  {{/each}}
</template>