<template name="Student_Opportunities_Of_Interest_Widget">
  {{#if Template.subscriptionsReady}}
  <div class="ui padded segment container">
    <div class="ui dividing header">
      <h4>CONTENT OF INTEREST</h4>
    </div>

    <div class="ui two cards">
      {{#each opp in opportunities}}
      {{> Student_Content_Of_Interest_Card opportunity = opp}}
      {{/each}}
    </div>
    <div class="ui center aligned container">
      <div class="ui mini compact pagination menu bottom">
        <a class="active item">
          1
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item">
          6
        </a>
        <a class="item">
          7
        </a>
        <a class="item">
          8
        </a>
      </div>
    </div>
  </div>
  {{else}}
  {{> Loading}}
  {{/if}}
</template>