<template name="Student_Of_Interest_Card">
  <div class="ui card">
    <div class="content">
      <div class="header">{{itemName item}}</div>
      <div class="meta">
        {{#each semester in itemSemesters}}
          {{semester}}&nbsp;
        {{/each}}
      </div>
    </div>
    <div class="content">
      {{itemShortDescription item}}<a>...</a>
    </div>
    <div class="content">
      {{numberStudents item}} students plan to participate
      <div class="ui circular mini bordered images">
        {{#each student in interestedStudents item}}
        <a href="{{pathFor usersRouteName username=routeUserName explorerUserName=(userSlug student)}}"><img class="ui image" src={{studentPicture student}}></a>
        {{/each}}
      </div>
    </div>
    <div class="content">
      {{> Interest_List item=item size='mini'}}
    </div>

    <div class="radgrad-home-buttons ui center aligned three bottom attached {{hidden}} buttons">
      {{#if typeCourse}}
        <a class="ui button" href="{{pathFor coursesRouteName username=routeUserName course=(itemSlug item)}}"><i class="chevron circle right icon"></i><br>View More</a>
        <div class="ui button chooseYear"><div class="chooseYear"><i class="plus icon"></i><br>Add to Plan</div>
          <div class="ui fluid popup transition hidden">
            <div class="ui vertical menu">
              {{#each year in nextYears 4}}
                <a class="item chooseSemester" data-position="right center">{{year}}</a>
                <div class="ui fluid popup transition hidden">
                  <div class="ui vertical menu">
                    {{#each semester in yearSemesters year}}
                      <a class="item addToPlan" data-position="right center">{{semester}}</a>
                    {{/each}}
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{else}}
        <a class="ui button" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(itemSlug item)}}"><i class="chevron circle right icon"></i><br>View More</a>
        <div class="ui button"><div class="chooseSemester"><i class="plus icon"></i><br>Add to plan</div>
          <div class="ui fluid popup transition hidden">
            <div class="ui vertical menu">
              {{#each semester in itemSemesters item}}
                <a class="item addToPlan" data-position="right center">{{semester}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      {{/if}}

      {{#if hidden}}
        <div class="ui button unhide"><i class="unhide icon"></i><br>Unhide</div>
      {{else}}
        <div class="ui button hide"><i class="hide icon"></i><br>Hide</div>
      {{/if}}
    </div>
  </div>
</template>