<template name="Student_Teaser_Widget">
  {{#if Template.subscriptionsReady}}
  <div class="ui padded segment container">
    <div class="ui dividing header">
      <h4>ICS TEASER VIDEOS</h4>
    </div>

    <div class="ui cards">
      {{#each teaser in getTeasers}}
        <div class="ui card">
          <div class="content">
            <div class="header">{{teaser.title}}</div>
            <div class="meta">By {{teaser.author}}</div>
          </div>
          <div style="padding:0px;" class="content">
            <div class="ui embed active" width="290" height="auto"
                 data-url="{{teaser.url}}">
            </div>

          </div>
          <div class="content">
                <span class="left floated">
                  {{#each interest in getTeaserInterests teaser}}
                    <a class="ui mini label"><i style="color:white !important" class="fitted star icon"></i>{{interest}}</a>
                  {{/each}}
                </span>
          </div>
          <div class="content bottom">
            <a>View more details</a>
          </div>
        </div>

      {{/each}}
    </div>

    <div class="ui center aligned container">
      <div class="ui mini compact pagination menu bottom">
        <a class="active item">
          1
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item">
          6
        </a>
        <a class="item">
          7
        </a>
        <a class="item">
          8
        </a>
      </div>
    </div>
  </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>