<template name="Student_Update_Picture_Widget">
  <div class="two wide column">
    <p><b>Picture</b> (<a id="image-upload-widget" href="">Upload</a>)</p>
  </div>
  <div class="six wide column">
    <form class="ui form picture">
      <div class="fluid field">
        <div class="ui action input">
          <input type="text" name="picture" placeholder="Enter picture url" value="{{picture}}">
          <button class="ui basic green button picture" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
</template>
