<template name="Student_Feed_Widget">
  {{#if Template.subscriptionsReady}}
  <div class="ui padded segment container">
    <div class="ui dividing header"><h4>RADGRAD COMMUNITY ACTIVITY</h4></div>

    {{#if feeds}}
      <div style="max-height: 488px; overflow:scroll; margin-top: 10px;" class="ui feed">
        {{#each feed in feeds}}
          <div class="event">
            <div class="label">
              <img src={{feedPicture feed}}>
            </div>
            <div class="content">
              <div class="summary">
                {{#if isType feed 'new-course'}}
                  <a href="{{pathFor courseRouteName username=routeUserName course=(courseSlug feed)}}">{{feed.description.item}}</a> {{feed.description.description}}
                {{/if}}
                {{#if isType feed 'new-opportunity'}}
                  <a href="{{pathFor opportunityRouteName username=routeUserName opportunity=(opportunitySlug feed)}}">{{feed.description.item}}</a> {{feed.description.description}}
                {{/if}}
                {{#if isType feed 'new-user'}}
                  {{#if multipleUsers feed}}
                    <a href="{{pathFor userRouteName username=routeUserName explorerUserName=(userSlug feed)}}">{{feed.description.user}}</a> and {{> Student_Feed_Modal students = (students feed) number = feed.description.numUsers feedID = feed._id}}{{feed.description.description}}
                  {{else}}
                    <a href="{{pathFor userRouteName username=routeUserName explorerUserName=(userSlug feed)}}">{{feed.description.user}}</a> {{feed.description.description}}
                  {{/if}}
                {{/if}}
                {{#if isType feed 'new-course-review'}}
                  <a href="{{pathFor userRouteName username=routeUserName explorerUserName=(userSlug feed)}}">{{feed.description.user}}</a> {{feed.description.description}} <a href="{{pathFor courseRouteName username=routeUserName course=(courseSlug feed)}}">{{feed.description.item}}</a>
                {{/if}}
                {{#if isType feed 'new-opportunity-review'}}
                  <a href="{{pathFor userRouteName username=routeUserName explorerUserName=(userSlug feed)}}">{{feed.description.user}}</a> {{feed.description.description}} <a href="{{pathFor opportunityRouteName username=routeUserName opportunity=(opportunitySlug feed)}}">{{feed.description.item}}</a>
                {{/if}}
                {{#if isType feed 'verified-opportunity'}}
                  {{#if multipleUsers feed}}
                    <a href="{{pathFor userRouteName username=routeUserName explorerUserName=(userSlug feed)}}">{{feed.description.user}}</a> and {{> Student_Feed_Modal students=(students feed) number = feed.description.numUsers feedID = feed._id}} {{feed.description.description}} <a href="{{pathFor opportunityRouteName username=routeUserName opportunity=(opportunitySlug feed)}}">{{feed.description.item}}</a> ({{feed.description.semester}})
                  {{else}}
                    <a href="{{pathFor userRouteName username=routeUserName explorerUserName=(userSlug feed)}}">{{feed.description.user}}</a> {{feed.description.description}} <a href="{{pathFor opportunityRouteName username=routeUserName opportunity=(opportunitySlug feed)}}">{{feed.description.item}}</a> ({{feed.description.semester}})
                  {{/if}}
                {{/if}}
                <div class="date">
                  {{feedTimestamp feed}}
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
        {{/each}}
      </div>
    {{else}}
      <p>No recent feeds.</p>
    {{/if}}
  </div>
  {{/if}}
</template>