<template name="Student_Feed_Modal">
  <a class="modal">View all users</a>
  <div id="{{feed._id}}" class="ui small modal">
    <i class="close icon"></i>
    <div class="ui small header">STUDENTS</div>
    <div class="content">
      <div class="ui three column grid">
        {{#each student in (students feed)}}
          <div class="column">
            <div class="ui items">
              <div class="item">
                <img class="ui avatar image" src={{student.picture}} height="28">
                <div class="middle aligned content">
                  {{fullName student}}
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
