<template name="Student_Explorer_Menu">
    <div class="ui selection fluid dropdown">
      <i class="dropdown icon"></i>
      <div>{{getRouteName}}</div>
      <div class="menu">
        <a class="{{isActiveRoute careerGoalsRouteName}} item" href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=firstCareerGoal}}">Career Goals</a>
        <a class="{{isActiveRoute coursesRouteName}} item" href="{{pathFor coursesRouteName username=routeUserName course=firstCourse}}">Courses</a>
        <a class="{{isActiveRoute degreesRouteName}} item" href="{{pathFor degreesRouteName username=routeUserName degree=firstDegree}}">Degrees</a>
        <a class="{{isActiveRoute interestsRouteName}} item" href="{{pathFor interestsRouteName username=routeUserName interest=firstInterest}}">Interests</a>
        <a class="{{isActiveRoute opportunitiesRouteName}} item" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=firstOpportunity}}">Opportunities</a>
        <a class="{{isActiveRoute usersRouteName}} item" href="{{pathFor usersRouteName username=routeUserName explorerUserName=routeUserName}}">Users</a>
      </div>
    </div>
  
  {{#unless equals getRouteName 'Users,Select Explorer'}}
  <div class="ui fluid selection search dropdown mobile only" style="margin-top: 1rem;">
    <i class="dropdown icon"></i>
    <span class="default text">Select Item</span>
    <div class="menu">
      {{#if isType type 'courses'}}
        <div class="header">
          COURSES IN MY PLAN
        </div>
        <div class="divider"></div>
        {{#each listItem in menuAddedList}}
        <a class="{{classType (slugName listItem) 'course'}}" data-tab="tab-name" href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem)}}"><i class="{{userCourses listItem}}"></i>{{courseName listItem}}</a>
        {{/each}}
        <div class="header">
          ALL OTHER COURSES
        </div>
        <div class="divider"></div>
        {{#each listItem in menuNonAddedList}}
          <a class="{{classType (slugName listItem) 'course'}}" data-tab="tab-name" href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem)}}"><i class="{{userCourses listItem}}"></i>{{courseName listItem}}</a>
        {{/each}}
      {{else}}
        {{#if isType type 'careerGoals'}}
          <div class="header">
            MY CAREER GOALS
          </div>
          <div class="divider"></div>
          {{#each listItem in menuAddedList}}
            <a class="{{classType (slugName listItem) 'careerGoal'}}" data-tab="tab-name" href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem)}}"><i class="{{userCareerGoals listItem}}"></i>{{itemName listItem}}</a>
          {{/each}}
          <div class="header">
            ALL OTHER CAREER GOALS
          </div>
          <div class="divider"></div>
          {{#each listItem in menuNonAddedList}}
            <a class="{{classType (slugName listItem) 'careerGoal'}}" data-tab="tab-name" href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem)}}"><i class="{{userCareerGoals listItem}}"></i>{{itemName listItem}}</a>
          {{/each}}
          {{else}}
            {{#if isType type 'degrees'}}
              <div class="header">
                MY DESIRED DEGREE
              </div>
              <div class="divider"></div>
              {{#each listItem in menuAddedList}}
                <a class="{{classType (slugName listItem) 'degree'}}" data-tab="tab-name" href="{{pathFor degreesRouteName username=routeUserName degree=(slugName listItem)}}"><i class="{{userDegrees listItem}}"></i>{{itemName listItem}}</a>
              {{/each}}
              <div class="header">
                ALL OTHER DEGREES
              </div>
              <div class="divider"></div>
              {{#each listItem in menuNonAddedList}}
                <a class="{{classType (slugName listItem) 'degree'}}" data-tab="tab-name" href="{{pathFor degreesRouteName username=routeUserName degree=(slugName listItem)}}"><i class="{{userDegrees listItem}}"></i>{{itemName listItem}}</a>
              {{/each}}
            {{else}}
              {{#if isType type 'opportunities'}}
                <div class="header">
                  OPPORTUNITIES IN MY PLAN
                </div>
                <div class="divider"></div>
                {{#each listItem in menuAddedList}}
                  <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(slugName listItem)}}"><i class="{{userOpportunities listItem}}"></i>{{itemName listItem}}</a>
                {{/each}}
                <div class="header">
                  ALL OTHER OPPORTUNITIES
                </div>
                <div class="divider"></div>
                {{#each listItem in menuNonAddedList}}
                  <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(slugName listItem)}}"><i class="{{userOpportunities listItem}}"></i>{{itemName listItem}}</a>
                {{/each}}
              {{else}}
                {{#if isType type 'interests'}}
                  <div class="header">
                    MY INTERESTS
                  </div>
                  <div class="divider"></div>
                  {{#each listItem in menuAddedList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name" href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}"><i class="{{userInterests listItem}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                  <div class="header">
                    CAREER GOAL INTERESTS
                  </div>
                  <div class="divider"></div>
                  {{#each listItem in menuCareerList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name" href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}"><i class="{{userInterests listItem}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                  <div class="header">
                    ALL OTHER INTERESTS
                  </div>
                  <div class="divider"></div>
                  {{#each listItem in menuNonAddedList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name" href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}"><i class="{{userInterests listItem}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{/unless}}

  <div class="ui vertical text menu mobile hidden">
      {{#if isType type 'courses'}}
        <h4 class="ui dividing header">
          COURSES IN MY PLAN
        </h4>
        {{#each listItem in menuAddedList}}
        <a class="{{classType (slugName listItem) 'course'}}" data-tab="tab-name" href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userCourses listItem}}"></i>{{courseName listItem}}</a>
        {{/each}}
        <h4 class="ui dividing header">
          ALL OTHER COURSES
        </h4>
        {{#each listItem in menuNonAddedList}}
          <a class="{{classType (slugName listItem) 'course'}}" data-tab="tab-name" href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userCourses listItem}}"></i>{{courseName listItem}}</a>
        {{/each}}
      {{else}}
        {{#if isType type 'careerGoals'}}
          <h4 class="ui dividing header">
            MY CAREER GOALS
          </h4>
          {{#each listItem in menuAddedList}}
            <a class="{{classType (slugName listItem) 'careerGoal'}}" data-tab="tab-name" href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userCareerGoals listItem}}"></i>{{itemName listItem}}</a>
          {{/each}}
          <h4 class="ui dividing header">
            ALL OTHER CAREER GOALS
          </h4>
          {{#each listItem in menuNonAddedList}}
            <a class="{{classType (slugName listItem) 'careerGoal'}}" data-tab="tab-name" href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userCareerGoals listItem}}"></i>{{itemName listItem}}</a>
          {{/each}}
          {{else}}
            {{#if isType type 'degrees'}}
              <h4 class="ui dividing header">
                MY DESIRED DEGREE
              </h4>
              {{#each listItem in menuAddedList}}
                <a class="{{classType (slugName listItem) 'degree'}}" data-tab="tab-name" href="{{pathFor degreesRouteName username=routeUserName degree=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userDegrees listItem}}"></i>{{itemName listItem}}</a>
              {{/each}}
              <h4 class="ui dividing header">
                ALL OTHER DEGREES
              </h4>
              {{#each listItem in menuNonAddedList}}
                <a class="{{classType (slugName listItem) 'degree'}}" data-tab="tab-name" href="{{pathFor degreesRouteName username=routeUserName degree=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userDegrees listItem}}"></i>{{itemName listItem}}</a>
              {{/each}}
            {{else}}
              {{#if isType type 'opportunities'}}
                <h4 class="ui dividing header">
                  OPPORTUNITIES IN MY PLAN
                </h4>
                {{#each listItem in menuAddedList}}
                  <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userOpportunities listItem}}"></i>{{itemName listItem}}</a>
                {{/each}}
                <h4 class="ui dividing header">
                  ALL OTHER OPPORTUNITIES
                </h4>
                {{#each listItem in menuNonAddedList}}
                  <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userOpportunities listItem}}"></i>{{itemName listItem}}</a>
                {{/each}}
              {{else}}
                {{#if isType type 'interests'}}
                  <h4 class="ui dividing header">
                    MY INTERESTS
                  </h4>
                  {{#each listItem in menuAddedList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name" href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userInterests listItem}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                  <h4 class="ui dividing header">
                    CAREER GOAL INTERESTS
                  </h4>
                  {{#each listItem in menuCareerList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name" href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userInterests listItem}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                  <h4 class="ui dividing header">
                    ALL OTHER INTERESTS
                  </h4>
                  {{#each listItem in menuNonAddedList}}
                    <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name" href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}"><i style="position: absolute; margin-left: -20px;" class="{{userInterests listItem}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
  </div>
</template>

