<template name="Student_MentorSpace_Questions_Accordion">
  <div class="ui segments">
    <div class="ui segment">
      <div class="ui vertical accordion">

        <div class="ui active list title">
          <div class="item">
            <i class="dropdown icon"></i>
            {{title}} ({{answerCount (questionID)}} answers)
          </div>
        </div>

        <div class="active content">

          {{#each listAnswers (questionID)}}
          <div class="ui divider"></div>
          <div class="author">
            <img class="ui left floated mini image" src="{{picture (mentorID)}}">
            {{text}}
          </div>
          {{/each}}

        </div>


      </div>

    </div>
  </div>

</template>