<template name="Student_About_Me_Widget">
  <div class="ui padded container segment">
    <div class="ui dividing header"><h4>ABOUT ME</h4></div>

    <div class="ui stackable grid">

      <div class="row">
        <div class="two wide column">
          <b>Name</b>
        </div>
        <div class="six wide column">
          {{name}}
        </div>
        <div class="two wide column">
          <b>Email</b>
        </div>
        <div class="six wide column">
          {{email}}
        </div>
      </div>

      <div class="row">
        {{> Student_Update_Picture_Widget}}
        {{> Student_Update_Website_Widget}}
      </div>

      <div class="row">
        <div class="two wide column">
          <p><b>My Favorite Career Goals</b></p>
        </div>
        <div class="six wide column">
          {{#if careerGoals}}
            {{#each goal in careerGoals}}
              <a class="ui tiny label"
                 href="{{pathFor careerGoalRouteName username=routeUserName careerGoal=(slugName goal)}}"><i
                  class="fitted suitcase icon"></i>{{goalName goal}}</a>
            {{/each}}
            <br>
          {{else}}
            <p style="margin-bottom: 0px">No career goals added yet.</p>
          {{/if}}
          <a href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=firstCareerGoal}}">Update in
            career goal explorer</a>
        </div>
        <div class="two wide column">
          <p><b>My Favorite Interests</b></p>
        </div>
        <div class="five wide column">
          {{#if interests}}
            {{#each interest in interests}}
              <a class="ui tiny label"
                 href="{{pathFor interestRouteName username=routeUserName interest=(slugName interest)}}"><i
                  class="fitted star icon"></i>{{interestName interest}}</a>
            {{/each}}
            <br>
          {{else}}
            <p style="margin-bottom: 0px">No interests favorited yet.</p>
          {{/if}}
          <a href="{{pathFor interestsRouteName username=routeUserName}}">Update in interest
            explorer</a>
        </div>
      </div>

      <div class="row">
        <div class="two wide column">
          <b>My Favorite Academic Plans</b>
        </div>
        <div class="six wide column">
          {{#if desiredDegrees}}
            {{#each plan in desiredDegrees}}
              <a class="ui tiny label" href="{{pathFor degreeRouteName username=routeUserName plan=(slugName plan)}}"><i class="fitted map outline icon"></i>{{planName plan}}</a>
            {{/each}}
          {{else}}
            <p style="margin-bottom: 0px">No academic plans favorited yet.</p>
          {{/if}}
          <p><a href="{{pathFor degreesRouteName username=routeUserName degree=firstDegree}}">Update in academic plan
            explorer</a></p>
        </div>
      </div>
    </div>
    {{> Student_Share_Info_Widget}}
  </div>
</template>
