<template name="Student_Levels_Others">
  <div class="ui padded stretched segment">
    <div class="ui dividing header"><h4>OTHER {{studentLevelName}} STUDENTS</h4></div>
    <div class="ui circular mini images">
      {{#each student in students studentLevelNumber}}
      <a href="{{pathFor usersRouteName username=routeUserName explorerUserName=(userUsername student)}}" data-position="bottom left" data-tooltip="{{fullName student}}"><img style="height:30px; width: auto;" class="ui image" src={{studentPicture student}}></a>
      {{/each}}
    </div>
  </div>
</template>