<template name="Student_Teaser_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded segment container">
      <div class="ui dividing header">
        <h4>TEASER VIDEOS ({{teaserCount}})</h4>
      </div>

      <div style="max-height: 500px; overflow:scroll; margin-top: 10px;" class="ui cards">
        {{#each teaser in teasers}}
          <div class="ui card">
            <div class="content">
              <div class="header">{{teaserTitle teaser}}</div>
              <div class="meta">By {{teaserAuthor teaser}}</div>
            </div>
            <div style="padding:0;" class="content">
              <div class="ui embed active" style="width:290px; height:auto" data-url="{{teaserUrl teaser}}">
              </div>
            </div>
            <div class="content">
                <span class="left floated">
                  {{#each interest in matchingInterests teaser}}
                    <a class="ui mini label"><i style="color:white !important" class="fitted star icon"></i>{{interestName interest}}</a>
                  {{/each}}
                  {{#each interest in otherInterests teaser}}
                    <a class="ui mini grey label"><i style="color:white !important" class="fitted star icon"></i>{{interestName interest}}</a>
                  {{/each}}
                </span>
            </div>
            <div class="content bottom">
              <a>View more details</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  {{else}}
    {{> Loading}}
  {{/if}}
</template>