<template name="Student_Explorer_List_Career_Goals_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>CAREER GOAL EXPLORER ({{ count }})</h4></div>

      {{#each careerGoal in careerGoals}}
        {{> Student_Explorer_Accordion name=careerGoal.name slug=(slugName careerGoal.slugID) descriptionPairs=(descriptionPairs careerGoal) id=careerGoal._id updateID=updateID item=careerGoal}}
      {{/each}}
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>
