<template name="Student_Plan_Card">
  <div class="ui card radgrad-interest-card">
    <div class="content">
      <div class="header">{{itemName item}}</div>
      <div class="meta">
      </div>
    </div>
    <div class="content">
      <p>{{itemShortDescription item}}...</p>
      {{> Academic_Plan_Static_Viewer plan=item}}
    </div>
    <div class="content">
      <span>STUDENTS PARTICIPATING {{> Widget_Header_Number inputValue=(numberStudents item)}}</span>
      <div class="ui circular mini bordered images">
        {{#each student in interestedStudents item}}
          <img class="ui image" data-content="{{studentFullName student}}" src={{studentPicture student}}>
        {{/each}}
      </div>
    </div>

    <div class="radgrad-home-buttons ui center aligned three bottom attached {{hidden}} buttons">
      <a class="ui button"
         href="{{pathFor plansRouteName username=routeUserName plan=(itemSlug item)}}"><i
          class="chevron circle right icon"></i><br>View More</a>
      {{#if canAdd}}
        {{> Student_Profile_Add item=item type=type}}
      {{/if}}


    </div>
  </div>
</template>
