<template name="Student_Opportunities_Of_Interest_Widget">
  {{#if Template.subscriptionsReady}}
  <div class="ui padded segment container">
    <div class="ui dividing header">
      <h4>RECOMMENDED OPPORTUNITIES {{> Widget_Header_Number inputValue = opportunityCount}}</h4>
    </div>
    {{#if opportunities}}
      <div style="max-height: 500px; overflow:scroll; margin-top: 10px;" class="ui two cards">
        {{#each opp in opportunities}}
        {{> Student_Opportunities_Of_Interest_Card opportunity = opp opportunityList = opportunities}}
        {{/each}}
      </div>
    {{else}}
      <p>Add interests to see recommendations here.</p>
    {{/if}}
  </div>
  {{else}}
  {{> Loading}}
  {{/if}}
</template>
