<template name="Student_Log_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>ADVISOR LOG</h4></div>
      {{#each log in logs}}
      <div class="ui relaxed divided items">
        <div class="item">
          <div class="ui tiny image">
            <a  href="{{pathFor usersRouteName username=routeUserName explorerUserName=(advisorUsername log)}}"><img src="{{advisorImage log}}"></a>
          </div>
          <div class="content">
            <a class="header">{{displayDate log}}</a>
            <div class="meta">
              <span>{{advisorName log}} says:</span>
            </div>
            <div class="description">
              <p>{{log.text}}</p>
            </div>
          </div>
        </div>
      </div>
        <div class="ui divider"></div>
      {{/each}}
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>