<template name="Student_Teaser_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded segment container">
      <div class="ui dividing header">
        <h4>TEASERS {{> Widget_Header_Number inputValue = teaserCount}}</h4>
      </div>
      {{#if teasers}}
      <div style="max-height: 500px; overflow:scroll; margin-top: 10px;" class="ui cards">
        {{#each teaser in teasers}}
          <div class="ui card">
            <div class="content">
              <div class="header"><a>{{teaserTitle teaser}}</a></div>
              <div class="meta">By {{teaserAuthor teaser}}</div>
            </div>
            <div style="padding:0;" class="content">
              <div class="ui embed active" style="width:290px; height:auto" data-url="{{teaserUrl teaser}}">
              </div>
            </div>
            <div class="content">
              {{> Interest_List item=teaser size='mini'}}
            </div>
            {{#if teaser.opportunityID}}
              <a class="ui bottom attached button" href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(opportunitySlug teaser)}}">
                <i class="chevron circle right icon" style="margin-right: 1px;"></i>View More</a>
                <!--
            {{else}}
              <a class="ui bottom attached disabled button">
                <i class="chevron circle right icon" style="margin-right: 1px;"></i>View More</a>
                -->
            {{/if}}
          </div>
        {{/each}}
      </div>
      {{else}}
        <p>Add interests to see recommendations here.</p>
      {{/if}}
    </div>

  {{else}}
    {{> Loading}}
  {{/if}}
</template>