<template name="Student_Explorer_Courses_Widget_Button">
  {{#if Template.subscriptionsReady}}
    {{#if equals buttonType 'add'}}
      <div class="ui basic green mini right floated button chooseYear"><div class="chooseYear">ADD TO PLAN</div>
        <div class="ui fluid popup transition hidden">
          <div class="ui vertical menu">
            {{#each year in nextYears 4}}
              <a class="item chooseSemester" data-position="right center">{{year}}</a>
              <div class="ui fluid popup transition hidden">
                <div class="ui vertical menu">
                  {{#each semester in yearSemesters year}}
                    {{#if semesterNotInPlan semester}}
                      <a class="item addToPlan" data-position="right center">{{semester}}</a>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{else}}
        {{#if equals buttonType 'remove'}}
          <div class="ui basic green right floated mini button chooseYear"><div class="chooseYear">REMOVE FROM PLAN</div>
            <div class="ui fluid popup transition hidden">
              <div class="ui vertical menu">
                {{#each semester in existingSemesters}}
                  <a class="item removeFromPlan" data-position="right center">{{semester}}</a>
                {{/each}}
              </div>
            </div>
          </div>
        {{/if}}
    {{/if}}
  {{else}}
    {{> Loading}}
  {{/if}}
</template>
