<template name="Student_Explorer_Opportunities_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui segments">
      <div class="ui padded segment container">

        <div class="ui clearing basic segment" style="margin: 0; padding-left: 0; padding-right: 0; padding-top: 0; padding-bottom: 0;">
          <h4 class="ui left floated header">{{toUpper name}}</h4>
          {{#if userStatus item}}
            {{#if futureInstance item}}
              {{> Student_Explorer_Opportunities_Widget_Button buttonType='remove' opportunity=item}}
            {{else}}
              {{#if unverified item}}
                {{> Student_Explorer_Opportunities_Widget_Button buttonType='remove' opportunity=item}}
              {{/if}}
            {{/if}}
          {{/if}}
          {{> Student_Explorer_Opportunities_Widget_Button buttonType='add' opportunity=item}}
          {{#each descriptionPair in descriptionPairs}}
            {{#if isLabel descriptionPair.label 'ICE'}}
              {{> ICE_header ice=descriptionPair.value}}
            {{/if}}
          {{/each}}  
        </div>
        <div class="ui divider" style="margin-top: 0;"></div>

        <div class="ui stackable two column grid">
          <div class="column">
            {{#each descriptionPair in descriptionPairs}}

              {{#if isLabel descriptionPair.label 'Opportunity Type'}}
                <b>{{descriptionPair.label}}:</b> 
                {{#if descriptionPair.value}} {{descriptionPair.value}} <br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'Description'}}
              <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} {{descriptionPair.value}} <br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'More Information'}}
              <br><b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}}<span style="word-wrap: break-word;">{{{descriptionPair.value}}}</span>
                  {{else}}
                    N/A
                {{/if}}
              {{/if}}

            {{/each}}
          </div>

          <div class="column">
            {{#each descriptionPair in descriptionPairs}}

              {{#if isLabel descriptionPair.label 'Semesters'}}
              <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} <span style="word-wrap: break-word;">{{replaceSemString descriptionPair.value}}</span> <br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'Event Date'}}
              <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} <span style="word-wrap: break-word;">{{descriptionPair.value}}</span> <br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'Sponsor'}}
              <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} <span style="word-wrap: break-word;">{{descriptionPair.value}}</span> <br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'Teaser'}}
              <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}}
                  {{> Student_Explorer_Opportunities_Widget_Teaser teaser=descriptionPair.value}}<br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

            {{/each}}
          </div>
        </div>
      </div>

      {{#each descriptionPair in descriptionPairs}}
        {{#if isLabel descriptionPair.label 'Interests'}}
          <div class="ui right aligned secondary segment">
            {{#each interest in descriptionPair.value}}
              <a class="ui mini label" href="{{pathFor interestsRouteName username=routeUserName interest = (interestSlugName interest)}}"><i class="fitted star icon"></i>{{interestName interest}}</a>
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
    </div>

    <div class="ui stackable two column grid">
      <div class="ten wide column">
        <div class="ui padded segment">
          {{> Student_Explorer_Review_Widget event=item userReview=review completed=completed reviewType='opportunity'}}
        </div>
      </div>

      <div class="six wide column">
        {{#each socialPair in socialPairs}}
          <div class="ui padded segment">
            <div class="ui dividing header">
              <h4>{{toUpper socialPair.label}} {{> Widget_Header_Number inputValue = socialPair.amount}}</h4>
            </div>

            <div class="ui circular mini bordered images" style="overflow: visible;">
              {{#each user in socialPair.value}}
                <a href="{{pathFor usersRouteName username=routeUserName explorerUserName=(userUsername user)}}" data-position="bottom left" data-tooltip="{{fullName user}}"><img style="height:30px; width: auto;" class="ui image" src={{userPicture user}}></a>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    {{> Back_To_Top_Button}}

  {{else}}
    {{> Loading}}
  {{/if}}
  
</template>
