<template name="Student_Courses_Of_Interest_Card">
  <div class="ui card">
    <div class="content">
      <div class="header">{{course.name}}</div>
      <div class="meta">
        {{#each semester in course.semesterIDs}}
        {{courseSemesters semester}}&nbsp;
        {{/each}}
      </div>
    </div>
    <div class="content">
      {{courseShortDescription course.description}}
    </div>
    <div class="content">
      23 students plan to participate
      <div class="ui circular mini images">
        <img class="ui image" src="/images/landing/boado.jpg">
        <img class="ui image" src="/images/landing/garces.jpg">
        <img class="ui image" src="/images/landing/khongnawang.jpg">
        <img class="ui image" src="/images/landing/boado.jpg">
        <img class="ui image" src="/images/landing/garces.jpg">
        <img class="ui image" src="/images/landing/khongnawang.jpg">
        <img class="ui image" src="/images/landing/boado.jpg">
        <img class="ui image" src="/images/landing/garces.jpg">
        <a><img class="ui bordered image" src="/images/elipsis.png"></a>
      </div>
    </div>
    <div class="content">
                <span class="left floated">
                  {{#each interest in courseInterests course}}
                  <a class="ui mini label"><i style="color:white !important"
                                              class="fitted star icon"></i>{{interest}}</a>
                  {{/each}}
                </span>
    </div>
    <div class="content bottom">
                <span class="left floated">
                <a>View more</a>
                </span>
      <span class="right floated">
                <a>Hide</a>
                </span>
      <span>
                  <a class="chooseSemester">Add to plan</a>
              <div class="ui fluid popup transition hidden">
              <div class="ui vertical menu">
                {{#each semester in course.semesterIDs}}
                <a class="item addToPlan" data-position="right center">{{courseSemesters semester}}</a>
                {{/each}}

              </div>
            </div>
                </span>


    </div>
  </div>
</template>