<template name="Student_Card_Explorer_Opportunities_Widget">
  <div class="ui padded segment">
    <div class="ui dividing header">
      <h4><span
          style="text-transform: uppercase;">{{type}}</span> {{> Widget_Header_Number inputValue = itemCount}}</h4>
    </div>
    {{#if hiddenExists}}
      {{#if hidden}}
        <div class="ui basic green mini button showHidden"><i class="chevron up icon"></i> HIDDEN <span
            style="text-transform: uppercase;">{{type}}</span></div>
      {{else}}
        <div class="ui basic green mini button hideHidden"><i class="chevron down icon"></i> HIDDEN <span
            style="text-transform: uppercase;">{{type}}</span></div>
      {{/if}}
    {{/if}}
    {{#if courses}}
      <div style="max-height: 750px; overflow-x:hidden; overflow-y:scroll; margin-top: 10px;"
           class="ui stackable two cards">
        {{#if typeCourse}}
          {{#each course in courses}}
            {{> Student_Of_Interest_Card item = course type = type}}
          {{/each}}
        {{else}}
          {{#each opp in opportunities}}
            {{> Student_Of_Interest_Card item = opp type = type}}
          {{/each}}
        {{/if}}
      </div>
    {{else}}
      <p>Add interests to see recommendations here. To add interests, click on the "Explorer" tab, then select "Interests" in the pull-down menu on that page.</p>
    {{/if}}
  </div>

  {{> Back_To_Top_Button}}

</template>
