<template name="Student_Explorer_CareerGoals_Widget">
  {{#if Template.subscriptionsReady}}
    <div class="ui padded segment container">
      <div class="ui dividing header">
        <h4>{{name}}</h4>
      </div>
      {{#each descriptionPair in descriptionPairs}}
        {{#if isLabel descriptionPair.label 'Interests'}}
          <p>
            {{#each interest in descriptionPair.value}}
              <a class="ui mini label"><i style="color:white !important" class="fitted star icon"></i>{{interest}}</a>
            {{/each}}
          </p>
        {{else}}
          {{#if descriptionPair.value }}
              <p><b>{{descriptionPair.label}}:</b> {{{descriptionPair.value}}}</p>
          {{else}}
              <p><b>{{descriptionPair.label}}:</b> N/A</p>
          {{/if}}
        {{/if}}
      {{/each}}

      <div class="ui three column grid">
        {{#each socialPair in socialPairs}}
          <div class="stretched column">
            <table class="ui small table">
              <thead>
              <tr>
                {{#if isLabel socialPair.label 'students'}}
                  <th>Interested {{socialPair.label}} ({{socialPair.amount}})</th>
                {{else}}
                  <th>Experienced {{socialPair.label}} ({{socialPair.amount}})</th>
                {{/if}}
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="ui circular mini bordered images">
                    {{#each user in socialPair.value}}
                      <img style="height:30px; width: auto;" class="ui image" src={{userPicture user}}>
                    {{/each}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        {{/each}}
      </div>

      <br>
      <p>
        {{#if userStatus item}}
          <button value="{{id}}" class="ui green basic mini button deleteItem">Remove</button>
        {{else}}
          <button value="{{id}}" class="ui green basic mini button addItem">Add</button>
        {{/if}}
      </p>
    </div>
  {{else}}
    {{> Loading}}
  {{/if}}
</template>
