<template name="Student_Courses_Of_Interest_Card">
  <div class="ui card">
    <div class="content">
      <div class="header">{{courseName course}}</div>
      <div class="meta">
        {{#each semester in courseSemesters course}}
          {{semester}}&nbsp;
        {{/each}}
      </div>
    </div>
    <div class="content">
      {{courseShortDescription course}}
    </div>
    <div class="content">
      {{numberStudents course}} students plan to participate
      <div class="ui circular mini images">
        {{#each student in interestedStudents course}}
        <img class="ui image" src={{studentPicture student}}>
        {{/each}}
        <a><img class="ui bordered image" src="/images/elipsis.png"></a>
      </div>
    </div>
    <div class="content">
      <span class="left floated">
        {{#each interest in matchingInterests course}}
          <a class="ui mini label"><i style="color:white !important" class="fitted star icon"></i>{{interestName interest}}</a>
        {{/each}}
      </span>
    </div>
    <div class="content bottom">
      <span class="left floated">
        <a>View more</a>
      </span>
      <span class="right floated">
        <a>Hide</a>
      </span>
      <span>
        <a class="chooseSemester">Add to plan</a>
        <div class="ui fluid popup transition hidden">
          <div class="ui vertical menu">
            {{#each semester in courseSemesters}}
              <a class="item addToPlan" data-position="right center">{{semester}}</a>
            {{/each}}
          </div>
        </div>
      </span>
    </div>
  </div>
</template>