<template name="Student_Explorer_CareerGoals_Widget">
    
    {{#if Template.subscriptionsReady}}
    <div class="ui segments">
      <div class="ui padded segment container">

        <div class="ui clearing basic segment" style="margin: 0; padding-left: 0; padding-right: 0; padding-top: 0; padding-bottom: 0;">
          <h4 class="ui left floated header">{{toUpper name}}</h4>
            {{#if userStatus item}}
              <button value="{{id}}" class="ui basic green mini right floated button deleteItem">REMOVE FROM CAREER GOALS</button>
            {{else}}
              <button value="{{id}}" class="ui basic green mini right floated button addItem">ADD TO CAREER GOALS</button>
            {{/if}}
        </div>

        <div class="ui divider" style="margin-top: 0;"></div>

        <div class="ui stackable grid">
          <div class="column">
            {{#each descriptionPair in descriptionPairs}}

              {{#if isLabel descriptionPair.label 'Description'}}
                <b>{{descriptionPair.label}}:</b> 
                {{#if descriptionPair.value}} {{descriptionPair.value}} <br> <br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'More Information'}}
              <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} <span style="word-wrap: break-word;">{{{descriptionPair.value}}}</span> <br>
                  {{else}}
                    N/A <br>
                {{/if}}
              {{/if}}

            {{/each}}
          </div>
        </div>
      </div>

      <div class="ui horizontal segments" style="background-color: white;">
        {{#each socialPair in socialPairs}}
        <div class="ui segment">
            <h5 style="text-align: center;">{{toUpper socialPair.label}} {{> Widget_Header_Number inputValue = socialPair.amount}}</h5>

          <div class="ui circular mini bordered images" style="overflow: visible;">
            {{#each user in socialPair.value}}
              <a href="#" data-position="bottom left" data-tooltip="{{fullName user}}"><img style="height:30px; width: auto;" class="ui image" src={{userPicture user}}></a>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>

      {{#each descriptionPair in descriptionPairs}}
        {{#if isLabel descriptionPair.label 'Interests'}}
          <div class="ui right aligned secondary segment">
            {{#each interest in descriptionPair.value}}
              <a class="ui mini label"><i style="color:white !important" class="fitted star icon"></i>{{interest}}</a>
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
    </div>

  {{else}}
    {{> Loading}}
  {{/if}}

</template>
