<template name="Student_Courses_Of_Interest_Card">
  <div class="ui card">
    <div class="content">
      <div class="header">{{courseName course}}</div>
      <div class="meta">
        {{#each semester in courseSemesters course}}
          {{semester}}&nbsp;
        {{/each}}
      </div>
    </div>
    <div class="content">
      {{courseShortDescription course}}
    </div>
    <div class="content">
      {{numberStudents course}} students plan to participate
      <div class="ui circular mini images">
        {{#each student in interestedStudents course}}
        <img class="ui image" src={{studentPicture student}}>
        {{/each}}
        <a><img class="ui bordered image" src="/images/elipsis.png"></a>
      </div>
    </div>
    <div class="content">
      <span class="left floated">
        {{#each interest in matchingInterests course}}
          <a class="ui mini label"><i style="color:white !important" class="fitted star icon"></i>{{interestName interest}}</a>
        {{/each}}
      </span>
    </div>
    <div class="ui three bottom attached buttons">
      <div class="ui button">View more</div>
      <div class="ui button chooseSemester"><div class="chooseSemester">Add to plan</div>
        <div class="ui fluid popup transition hidden">
          <div class="ui vertical menu">
            {{#each semester in nextYears 2}}
              <a class="item addToPlan" data-position="right center">{{semester}}</a>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="ui button">Hide</div>
    </div>
  </div>
</template>