<template name="Warn_Recommend">

    <div class="card">
      <div class="ui top attached label">Warnings</div>
      <div class="content">
        <div class="ui segments">
          <div class="ui segment">
            <p><i class="warning sign icon"></i>ICS 331 will no longer be offered in Spring 2017.</p>
          </div>
          <div class="ui segment">
            <p><i class="warning sign icon"></i>You must receive a passing grade in ICS 311 to get credit for the
              course.</p>
          </div>
          <div class="ui segment">
            <p><i class="warning sign icon"></i>Your Spring 2018 workload exceeds recommended workload amounts.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="ui top attached label">Recommendations</div>
      <div class="content">
        <div class="ui segments">
          <div class="ui segment">
            <p><i class="asterisk icon"></i>Participate in the AT&T Hackathon on March 11 to earn more Innovation
              points.
            </p>
          </div>
          <div class="ui segment">
            <p><i class="asterisk icon"></i>You need to receive at least a 3.0 this semester to earn more Competency
              points.</p>
          </div>
          <div class="ui segment">
            <p><i class="asterisk icon"></i>See your ICS adviser to upload STAR data from Fall 2015.</p>
          </div>
        </div>
      </div>
    </div>

</template>
