<template name="Add_Course_Item">
  <div class="ui left aligned text">
    {{course.number}}<br>
    {{course.name}}<br>
    <span style="font-size: 10px" class="ice-header ice-innovation-background ui right">0</span>
    <span style="font-size: 10px" class="ice-header ice-competency-background">?</span>
    <span style="font-size: 10px" class="ice-header ice-experience-background">?</span>
    <i style="margin: 0px 0px 3px; font-size: 18px; width: 19px; line-height: 1.5em" class="yellow star icon"></i>
  </div>
  <div class="ui accordion left aligned text">
    <div class="title">
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
      <p>
      <b>Catalog Descrption:</b> {{course.description}}
      </p>
      <p><b>When scheduled:</b> {{whenScheduled (course)}}</p>
      <p><b>ICE Value:</b> ???</p>
      <p><b>Recommendations:</b> TBD</p>
      <p><b>Warnings:</b> None</p>
    </div>
  </div>
  <div class="ui divider"></div>
</template>