<template name="Verification_Requests_Completed">

  <div class="ui raised padded container segment">
    <div class="ui top left attached label">Completed Requests</div>
    <div class="ui divided items">

      <div class="item">
        <div class="content">
          <a class="header">OPQ Research Project, Summer 2016</a>
          <div class="ui equal width grid">
            <div class="column">
              <div class="meta">
                <span>Student: Abigail Kealoha</span>
              </div>
              <div class="meta">
                <span>Owner: Philip Johnson</span>
              </div>
            </div>
            <div class="column">
              <div class="meta">
                <span>Submitted: October 1 (2 weeks ago)</span>
              </div>
              <div class="meta">
                <span>Processed: October 8 (1 week ago) by Gerald Lau (accepted)</span>
              </div>
            </div>
          </div>
          <div class="description">
            <form class="ui form">
              <button class="ui green button" type="submit">Reopen</button>
            </form>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <a class="header">Live Action Internship, Summer 2016</a>
          <div class="ui equal width grid">
            <div class="column">
              <div class="meta">
                <span>Student: Fenton Maluhia</span>
              </div>
              <div class="meta">
                <span>Owner: Gerald Lau</span>
              </div>
            </div>
            <div class="column">
              <div class="meta">
                <span>Submitted: October 1 (2 weeks ago)</span>
              </div>
              <div class="meta">
                <span>Processed: October 11 (2 days ago) by Philip Johnson (declined)</span>
              </div>
              <div class="meta">
                <span>Processed: October 12 (1 day ago) by Philip Johnson (accepted)</span>
              </div>
            </div>
          </div>
          <div class="description">
            <form class="ui form">
              <button class="ui green button" type="submit">Reopen</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
