<template name="Mentor_Guided_Tour_MentorSpace">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-mentor-mentorspace.png"}}

# MentorSpace

RadGrad provides an area called "MentorSpace" to make your contributions as efficient and effective as possible.

Students can submit questions to a RadGrad administrator, and if appropriate they will be posted in the MentorSpace area. One or more mentors can answer each question, providing students with a variety of perspectives on issues of interest to them.

Questions and answers persist as long as they are relevant, which means your advice can be used by hundreds of students over multiple years.

  {{/Guided_Tour_Page_Layout}}
</template>