<template name="Mentor_Guided_Tour_Explorer">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-mentor-explorer.png"}}

# Review our courses, academic plans, opportunities, and career goals

As a mentor, you are an invaluable source of insight into the relevance of our program in today's high tech job market.

The Explorer page allows you to review all of the defined Interests and Career Goals, as well as Opportunities, Academic Plans, Courses, and Users.

To request additions or modifications to any of these entities, you can contact a RadGrad Admin.

  {{/Guided_Tour_Page_Layout}}
</template>