<template name="Mentor_Guided_Tour_Why_RadGrad">

  {{#Guided_Tour_Page_Layout stacked="true" image="/images/guidedtour/guidedtour-why-radgrad.png"}}

# Why use RadGrad?

So, you're a high tech professional, with not enough hours in the day for all your responsibilities. Here's why you still might want to get involved with RadGrad:

* Do you have a list of "things I wish I'd known when I was a student?" RadGrad gives you the chance to let today's students know about it.

* You can "pay it forward" in gratitude for the mentoring you received as a student.

* RadGrad is designed in a question-answer format that enables you to reach the most students possible for your time investment.

* If your company offers internships, RadGrad can be an effective way to promote them to students.

Before continuing with this Guided Tour, please check out the Student Guided Tour first. This Mentor Guided Tour builds off the one for students.

  {{/Guided_Tour_Page_Layout}}
</template>