<template name="Mentor_Guided_Tour_Set_Up">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-mentor-profile.png"}}

# Provide your profile

To start using RadGrad, an advisor or RadGrad admin must create a mentor account for you, and provide you with login credentials.

Upon first login, it's important to update your profile.  This lets students know about your areas of expertise and career goals. When students come across those interest areas and career goals elsewhere in the system, they will know that there is a mentor who can speak about them from professional experience.



  {{/Guided_Tour_Page_Layout}}
</template>