<template name="Advisor_Guided_Tour_Degree_Plan">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-degreeplan.png"}}

# Collaborative degree planning

Without RadGrad, a CS degree plan could be nothing more than some notes on paper.  RadGrad provides a simple, online representation that focuses on just the computer science part of their university program.  RadGrad augments but does not replace systems like STAR, which must also represent College and University degree requirements.

Where RadGrad goes beyond STAR is in its representation of "opportunities": experiences outside the classroom. Advisors and faculty can add and modify the set of opportunities at any time, and those students whose interests match will be automatically notified by RadGrad that a new opportunity of interest to them is available.

  {{/Guided_Tour_Page_Layout}}
</template>