<template name="Advisor_Guided_Tour_Review_Moderation">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-reviewmoderation.png"}}

# Encompassing the social circle.

Advisors will not only be a part of every student's opportunity, but also be a part of their journey.  RadGrad provides the ability for students to write reviews for courses and opportunities.  Not only will this help students wishing to take the course or opportunity, but it also aids in prospecting the wants and needs of the "social circle".

Advisors would have full access in learning about the thoughts of how students felt about a course or opportunity.  Advisors can then discuss through meetings for improvements or suggestions towards a course they may have struggled with or even an opportunity that they would have liked better.  RadGrad hopes to build many bridges between students and advisors that is both welcoming and beneficial for both parties.  

  {{/Guided_Tour_Page_Layout}}
</template>