<template name="Advisor_Guided_Tour_Why_RadGrad">

  {{#Guided_Tour_Page_Layout stacked="true" image="/images/guidedtour/guidedtour-why-radgrad.png"}}

# Why use RadGrad?

So, you're a computer science program advisor, and already overbooked and overwhelmed. Why should you spend the time to learn yet another online tool? In a nutshell, we believe RadGrad offers the following benefits to you:

* You'll spend more time getting to know the student, and less time on degree logistics.

* You can provide the student with detailed, current information about computer science disciplinary areas and career goals.

* You can access detailed, useful demographics about the student population. For example, how many students are interested in Artificial Intelligence? How is that number changing over time?  What 400-level courses do students want to take next year, and how many students are interested in each?

* By getting students involved with RadGrad, the advising process should become both more efficient and more effective. Students can use RadGrad to answer simple questions ("What career involves web development?") and even some complicated ones ("Which academic plan will enable me to graduate with the fewest possible additional courses?")

* RadGrad provides "ground truth" for students about the degree programs.  You will spend less time addressing rumors and/or incorrect information that has gotten onto the coconut wireless.

Before continuing with this Guided Tour, please check out the Student Guided Tour first. This Advisor Guided Tour builds off the one for students.

  {{/Guided_Tour_Page_Layout}}
</template>