<template name="Advisor_Guided_Tour_Opportunities">

  {{#Guided_Tour_Page_Layout leftColumns="six" rightColumns="ten" image="/images/guidedtour/guidedtour-pendingverifications.png"}}

# Verifying participation

RadGrad notifies students of opportunities, and when students participate, these experiences augment their ICE (Innovation, Competency, Experience) score.  The student's ICE score provides a concrete metric of progress, and RadGrad incentivizes students to achieve 100 innovation, competency and experience points by the time they graduate.

But planning to experience a hackathon by adding it to your RadGrad degree plan does not mean that you will show up on the day and participate. RadGrad requires that opportunities be **verified** before the points associated with them are actually awarded to students.

The verification workflow is as follows: after a student experiences an opportunity, they can click on that opportunity in their degree plan and press the "Request Verification" button.  That adds the student's opportunity verification request to a queue as illustrated in the attached screenshot.  Both advisors and faculty have access to the queue and can accept or decline the verification request. (Note that a request can be initially declined but later accepted if the student provides new evidence that they participated.)

The goal of verification is not to make it difficult for students to achieve ICE points, but to simply ensure that ICE points have meaning. Without verification, anyone can get 100 innovation and experience points by simply loading up their plan with opportunities regardless of whether they actually take part in them or not.

  {{/Guided_Tour_Page_Layout}}
</template>