<template name="Advisor_Guided_Tour_Degree_Plan">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-degreeplan.png"}}

# Providing an unisolated environment for degree planning.

Often times, the degree planner is written through paper or is shared to a student on a single monitor.  RadGrad removes this isolation by providing the ability for both the advisor and student to view their degree plan.  Students may freely add courses and opportunities within their plan, thus allowing advisors to quickly review upon the next meeting.

RadGrad also offers recommendations and warnings for students to keep them up to track with their degree goal.  When there are more than hundreds of students in a given department, it may be difficult to keep track on what to offer courses and opportunities for each individual student.  Fortunately, simple measures like required courses and proposed opportunities are provided by the system.

  {{/Guided_Tour_Page_Layout}}
</template>