<template name="Advisor_Guided_Tour_Welcome">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-studentconfig.png"}}

# Welcome to Computer Science!

Advisors assist students in clarifying their life and career goals, developing meaningful educational plans, and preparing for productive lives, enlightened citizenship, and life-long learning.

A primary goal of RadGrad is to help advisors do their job better.

Students are always introduced to RadGrad in the presence of an advisor.  After discussing their desired degree, current interests, and current career goals, the advisor configures the student's account and generates a customized degree plan.

Of course, many students might only have a vague idea of the range of interests and career goals in computer science, and RadGrad provides an opportunity for the advisor to start this discussion and show them how RadGrad enables them to learn more about the field at their own pace.

  {{/Guided_Tour_Page_Layout}}
</template>