<template name="Advisor_Guided_Tour_Welcome">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-studentconfig.png"}}

# Welcoming students to RadGrad.

Advisors assist students in clarifying their life and career goals, developing meaningful educational plans, and preparing for productive lives, enlightened citizenship, and life-long learning.

Here at RadGrad, we strive to deliver an environment where students and advisors can connect and discuss these goals in an effortless manner.  This system will allow students to dive in to potential career experiences while also providing growth as a computer scientist.  As with all initial meetings, an advisor would have some idea towards what career goal a student would like to seek.  By simply adding the career goals and interests for new students, RadGrad will be able to offer courses and opportunities that are of relation to them.

  {{/Guided_Tour_Page_Layout}}
</template>