<template name="Advisor_Guided_Tour_Opportunities">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-pendingverifications.png"}}

# Growing opportunitistic students.

RadGrad provides up to date career goals and opportunities for computer science students.  It has become increasingly notable that not many students have attended events or any out-of-school opportunities.  Through the use of our grading system, called ICE, we hope to remove the notion that grades are the only factors for graduation.

Students should have achieved 100 points of innovation and experience prior to graduation where projects and internships have the most accumulation points.  To rightfully earn them, students must request verification that they have attended or completed an opportunity.  Advisors will be able to see requests made by students and completed verifications for every opportunity.

  {{/Guided_Tour_Page_Layout}}
</template>