<template name="Student_Guided_Tour_Mentor">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-mentorspace.png"}}

# Rocket through MentorSpace.

A primary goal of RadGrad is to build community among computer science students, faculty, advisors, and professionals already in the workforce.  RadGrad enables those latter people to volunteer their time to you by becoming RadGrad mentors.

In the MentorSpace page, you will find mentors in a variety of job areas ready to answer your questions about life after your degree.  RadGrad currently has **{{publicStats 'usersMentorsTotal'}}** mentors, working in locations including:  **{{publicStats 'usersMentorsLocations'}}**.  Your questions are anonymous so you aren't put on the spot.

After you graduate, if you want to pay it forward, you can contact a RadGrad admin and ask to become a mentor yourself.

  {{/Guided_Tour_Page_Layout}}

</template>