<template name="Student_Guided_Tour_Ice">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-ice.png"}}

# ICE, ICE, baby.

You may have been noticing three colored circles in your menu bar.  These circles represent your **ICE** score.  ICE stands for: Innovation, Competency, and Experience.

The goal of ICE is to help you realize that developing your chops in innovation, and acquiring real-world experience, are just as important as coursework in a high quality undergraduate CS education.  ICE also provides students and advisors with a new means to assess gaps in a student's preparation, and to provide students with a sense for a "good" ICE value through the ranking system.  ICE is measured within your degree planner by the following:

* **Innovation:** You gain innovation points by completing opportunities that have a research (or some other innovative) component. The number of points depends upon the nature of the opportunity.

* **Competency:** You gain 10 competency points when you get an A in a degree-related course, and 6 points when you get a B.  No points are awarded for grades below B-.

* **Experience:** You gain experience points by completing opportunities that expose you to real-world organizations and work processes. The number of points depends upon the nature of the opportunity.

  {{/Guided_Tour_Page_Layout}}

</template>