<template name="Student_Guided_Tour_Why_RadGrad">

  {{#Guided_Tour_Page_Layout stacked="true" image="/images/guidedtour/guidedtour-why-radgrad.png"}}

# Why use RadGrad?

So, you're a computer science student. Why should you use RadGrad? In a nutshell:

* You'll learn what this field has to offer.

* You'll be better prepared for life after graduation.

* You'll more easily find students with similar interests.

* The laptop stickers are pretty cool.

Continue with this guided tour for more details...

  {{/Guided_Tour_Page_Layout}}
</template>