<template name="Student_Guided_Tour_Career_Goal">
  <div>
    <div class="ui two column stackable grid">
      <div class="ten wide column">
        <img class="ui rounded image" src="/images/guidedtour/guidedtour-career.png">
      </div>
      <div class="six wide column guided-tour-description">
        {{#markdown}}
# Defining your career path.
Choosing a degree plan is just one of the steps in becoming a rad graduate.  There are many paths that one can take while fulfilling their degree - what many like to call, their main focus.  RadGrad provides a list of **career goals** within the ICS program like: software developer, data scientist, UX designer, and many more.

In the explore page, career goals include a brief description of the job and recommended courses that will give an outlook of the necessary skills.  There are also sets of interests that are related to the career goals, which will be used in recommending courses and opportunities on the home page.  If you find that the list of interests is appealing, perhaps this career goal is destined for you? 
        {{/markdown}}
      </div>
    </div>
  </div>
</template>