<template name="Student_Guided_Tour_Set_Up">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-setup.png"}}

# Set up for awesomeness.

RadGrad supports students with different interests in Information and Computer Sciences.  Before stepping into the RadGrad world, you must talk with your advisor.

If you are a new student with minimal knowledge about computer science, your advisor will give you a basic overview, then set up your RadGrad account. Then you'll work together to get a handle on your interests, career goals, and degree plan.

Already well along in your degree program?  No problem! Just meet with your advisor to initialize your RadGrad account.

  {{/Guided_Tour_Page_Layout}}
</template>