<template name="Student_Guided_Tour_Career_Goal">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-career.png"}}

# Define your career path.

Interests are important, but getting a job that's right for you is even more important. RadGrad provides a curated list of career goals that include many of the best careers in technology, including: {{publicStats 'careerGoalsList'}}.

RadGrad's Career Goal page describes each career along with recommended courses and opportunities. You can pick more than one career goal and RadGrad can help you prepare for all of them.

  {{/Guided_Tour_Page_Layout}}
</template>