<template name="Student_Guided_Tour_Set_Up">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-setup.png"}}

# Set yourself up for awesomeness.

To start using RadGrad, an advisor or RadGrad admin must create an account for you. Then you can login using your regular UH credentials.

If you are a new student with minimal knowledge about computer science, your advisor will give you a basic overview, then create up your RadGrad account. You'll then work together to get a handle on your interests, career goals, and degree plan. If you have questions about any of those, RadGrad is designed to help you answer them.

Already well along in your degree program?  No problem! Just meet with your advisor to create your account. RadGrad can help you identify areas to strengthen before you graduate.

  {{/Guided_Tour_Page_Layout}}
</template>