<template name="Student_Guided_Tour_Interest">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-interests.png"}}

# Interests: the hashtags of the RadGrad world.

One useful resource in RadGrad is the Explorer page, which enables you to learn about the latest computer science interest areas, courses, opportunities, academic plans, and even the other members of RadGrad.

Once you have specified one or more of RadGrad's **{{publicStats 'interestsTotal'}}** interests, RadGrad can start to filter out opportunities that are unrelated to you. RadGrad can also make suggestions about courses and opportunities that you might not even know about.

It doesn't end there!  RadGrad is designed to build community, so each interest within the Explorer page displays students, faculty members, and alumni that have chosen them.  Make connections and learn faster.

     {{/Guided_Tour_Page_Layout}}
</template>