<template name="Student_Guided_Tour_Degree_Plan">
  <div>
    <div class="ui two column stackable grid">
      <div class="ten wide column">
        <img class="ui rounded image" src="/images/guidedtour/markrc-degreeplanner.png">
      </div>
      <div class="six wide column guided-tour-description">
        <h1>Refine your degree plan.</h1>
        <p>
          Now that you have picked a few interests, a career goal, and a degree plan, it's time to mix it all together to refine your <b>degree planner</b>.  With RadGrad's warning system, knowing what required courses to take are trivial.  It is recommended to evenly distribute courses within a four-year plan.  Unless you are the son of Hercules, no amount of strength will push you through a five ICS course semester.
        </p>
        <p>
          Say that you have already filled in the proper required courses for your degree plan.  Now what?  Well, take a look at your home page and you will find recommended opportunities based on your interests and career goals.  Add them to your degree planner!  A balanced student is a student who achieves the ICE triad.
        </p>
      </div>
    </div>
  </div>
</template>