<template name="Student_Guided_Tour_Courses">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-courses.png"}}

# Coursing through your degree program.

RadGrad provides information about **{{publicStats 'coursesTotal'}}** courses.  That's a lot!  You might be wondering, "Which ones should I take?  Will this course benefit me?  Do I need to take it?"  RadGrad can help answer all these questions.

Once RadGrad knows about your interests and career goals, it will recommend courses that are directly related to them.  It can also tell you which ones are required for your chosen degree program.

Want to get a fellow student's perspective on a course? RadGrad allows you to create a review for any course you have completed, and currently provides **{{publicStats 'courseReviewsTotal'}}** reviews.  Note that these reviews are public, and your name appears with your review. We think RadGrad course reviews are one of the best features of the system.

  {{/Guided_Tour_Page_Layout}}
</template>