<template name="Student_Guided_Tour_Levels">
  <div>
    <div class="ui two column stackable grid">
      <div class="ten wide column">
        <img class="ui rounded image" src="/images/guidedtour/markrc-level.png">
      </div>
      <div class="six wide column guided-tour-description">
        <h1>Level up!</h1>
        <p>
          You will find that once you have created an account in RadGrad, you will have a white badge next to your ICE values in the top header bar.  To show your progress within the RadGrad system, there are <b>six</b> levels for you to rank up: white, yellow, green, blue, brown, and black.
        </p>
        <p>
          The first few levels are rather simple, get good greats and get better gains!  However, you will find that will need more than competency to rank up.  It's a secret, but no white belt is handed a black belt just like that.  Sadly, you don't get a belt as a reward.  Fortunately, you do get a laptop sticker to showcase your awesomeness.
        </p>
      </div>
    </div>
  </div>
</template>