<template name="Student_Guided_Tour_Interest">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-interests.png"}}

# Hashtags of the RadGrad world.

Once a part of RadGrad, it's always best to see what we have to offer.  Heading to the **Explorer** page, you will find a list of interests, courses, opportunities, and other attributes.  If you happen to lack interests, take a look at what we have to offer!

**Interests** are the prime entities in assessing and recommending courses and opportunities for you.  It is recommended to have multiple interests to get the most of RadGrad's organizing magic.  You can say they are the "hashtags" to the RadGrad world.

Once you have a handful of interests, you'll find that it will be easier to filter out items that have no relation to you.  You will also find items that you have not considered or even knew about that are very important in your career growth.  These items are viewable in your **Home** page.

That doesn't end there!  We believe in a tied community, and as such, each interest within the Explorer page displays students, faculty members, and alumni connected to them.  Make connections, form a group, and race through the world with friends and mentors aside with you.

     {{/Guided_Tour_Page_Layout}}
</template>