<template name="Student_Guided_Tour_Courses">
  <div>
    <div class="ui two column stackable grid">
      <div class="ten wide column">
        <img class="ui rounded image" src="/images/guidedtour/guidedtour-courses.png">
      </div>
      <div class="six wide column guided-tour-description">
        {{#markdown}}
# Coursing through your degree.
There are dozens upon dozens of **courses** that are taught within the ICS program.  You may ask yourself, "Which should I take?  Will this course benefit me at all?  Do I need to take this?"  RadGrad can answer all these questions!

Once you have added a decent amount interests, you can find courses that will have **direct relation** with your career goal.  This is where interests become very important.  Blue tags represent interests that match your personal interest list and the interests of your career goals.  Gray tags are tags related to the course but are not a part of your list.  If you happen to find courses or opportunities that have blue tags, make sure to add them in your degree plan!

Need a general feel of the course environment?  Why not view what your classmates have to say about the class?  RadGrad provides **course reviews** for students to express their thoughts and give it a personal rating.  Of course, these reviews are properly moderated - so always consider twice before spilling nonsense!
        {{/markdown}}
      </div>
    </div>
  </div>
</template>