<template name="Student_Guided_Tour_Set_Up">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-setup.png"}}

# Setting up for awesomeness.

RadGrad caters to many students with different interests in Information and Computer Sciences.  Before stepping into the RadGrad world, you must talk with your ICS advisor to get the ball rolling.

If you are a new student that has minimal background knowledge about ICS, you will be given the basic run down through your advisor.  After giving your credentials, the advisor will then authorize and complete your application.  Fortunately, current courses can be uploaded to RadGrad with ease by retrieving your **STAR** data.  The advisor will then ask you a series of questions to find out what you are initially interested in.  Once doing so, your advisor will fill in your degree plan to generate possible paths towards your degree.

Already have an idea to what you want to be and have already taken classes?  Simple!  Ask your advisor to add you into RadGrad.  With your STAR data, your current plan will be placed along with your degree program.  Everything else is set and stone, however it is always best to venture into the sea of interests and opportunities that have not crossed your mind yet!

  {{/Guided_Tour_Page_Layout}}
</template>