<template name="Student_Guided_Tour_Degree_Plan">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-degreeplan.png"}}

# Optimize your plan.

Now that you have picked a few interests and potential career goals, and discovered which courses and opportunities match, it's time to design your degree plan.  The degree plan specifies which courses and opportunities you'll take each semester until you graduate.  RadGrad is designed to help you graduate as quickly and efficiently as possible, with the best possible preparation for life after the diploma.

In addition to recommending courses and opportunities, RadGrad also provides warnings when things don't look right.  For example, RadGrad tells you when you add a course to a semester without having taken the prerequisite, or if your degree plan doesn't include all of the required courses.

In the current competitive job market, just getting a degree isn't enough to guarantee great job opportunities. RadGrad provides a new metric called ICE to help you develop the complete package of skills and experiences.

Let's look at ICE next.

  {{/Guided_Tour_Page_Layout}}
</template>