<template name="Student_Guided_Tour_Courses">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-courses.png"}}

# Coursing through your degree.

RadGrad currently provides information about **{{publicStats 'coursesTotal'}}** courses.  You might ask yourself, "Which ones should I take?  Will this course benefit me?  Do I need to take it?"  RadGrad can answer all these questions!

Once RadGrad knows about your interests and career goals, it will recommend courses that are directly related to them.  Blue tags represent interests that match your personal interest list and the interests of your career goals.  Gray tags are tags related to the course but are not a part of your list.  If you happen to find courses or opportunities that have blue tags, make sure to add them in your degree plan!

Want to get a fellow student's perspective on a course? RadGrad allows you to create a review for any course you have completed, and currently provides **{{publicStats 'courseReviewsTotal'}}** of them.  Note that these reviews are public, your name appears with your review, and your submission is moderated by a RadGrad administrator. You can be negative, but not inappropriate.

  {{/Guided_Tour_Page_Layout}}
</template>