<template name="Student_Guided_Tour_Sample_Student">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-sample-student.png"}}

# Putting it all together

So, what does a successful degree plan look like in RadGrad?  Here's a hypothetical student who has completed all of the requirements for a B.S. in Computer Science, plus a set of opportunities that earned her at least 100 points in all three ICE categories. Some things to notice about her degree experience:

* She achieved a 3.5 GPA in her computer science courses. That earned her well over 100 Competency points.

* She worked with a faculty member on a research project for both semesters of her senior year. That alone earned her 50 of her 100 Innovation points.

* She did a summer internship with a high tech company between her junior and senior years, in addition to a computer science-related part-time job for two semesters. Those three Opportunities earned her 50 of her 105 Experience points.

* She filled out her degree experience by participating in a variety of university and community clubs: ACM Manoa, Code for Hawaii, and so forth.

* Because the Department does not currently offer a course in the Unity 3D programming environment, she took an online course through Coursera during the Summer and received Competency points for successfully completing it.

This ICE score, along with some other activities in RadGrad, enabled this student to achieve the highest Level in RadGrad (Black, Level 6).

As this degree experience illustrates, becoming a well-rounded graduate doesn't require a ridiculous amount of time investment, but it does require you to be *strategic* about what you participate in. And that's a good thing!

  {{/Guided_Tour_Page_Layout}}
</template>