<template name="Student_Guided_Tour_Levels">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-level.png"}}

# Level up!

You will find that once you have created an account in RadGrad, you will automatically have a white badge next to your ICE values in the top header bar.  This means you're at Level One, with five more to go.

The first few levels are rather simple, get good grades and get better gains!  However, you will eventually find that you need more than competency to level up.  It's a secret, but no white belt is handed a black belt just like that.  While you don't get a belt, you do get a new laptop sticker each time you level up to show off your awesomeness.

  {{/Guided_Tour_Page_Layout}}
</template>