<template name="Student_Guided_Tour_Levels">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-level.png"}}

# Level up!

ICE provides a final goal in RadGrad, but Levels help you figure out how you're doing along the way.

There are six Levels in RadGrad: Grey, Yellow, Green, Blue, Brown, and Black.  Each time you achieve a new level in RadGrad, you can pick up a free, limited edition RadGrad laptop sticker representing that level from your advisor.

The first few levels are relatively straightforward to achieve as you progress through the computer science degree program. Achieving the last couple of levels requires you to be "well rounded" as well as "well prepared".



  {{/Guided_Tour_Page_Layout}}
</template>