<template name="Student_Guided_Tour_Ice">
  <div>
    <div class="ui two column stackable grid">
      <div class="nine wide column">
        <img class="ui rounded image" src="/images/guidedtour/guidedtour-ice.png">
      </div>
      <div class="seven wide column guided-tour-description">
        {{#markdown}}
# ICE, ICE, baby.
You may have been noticing three colored circles that pop up around each page.  These circles represent the **ICE** triad.  ICE stands for: innovation, competency, and experience. The goal of ICE is to make students aware that innovation and experience are as important as competency to a high quality undergraduate CS education.  ICE also provides students and advisors with a new means to assess gaps in a student's preparation, and to provide students with a sense for a "good" ICE value through the ranking system.  ICE is measured within your degree planner by the following:

* **Innovation:** Based upon opportunities that have a research (or some other innovative) component.
* **Competency:** Awarded to the students with 10 points for each A (or A+ or A-) received in a CS course and 6 points for each B (or B+ or B-). No points are awarded for grades below B-.
* **Experience:** Based upon Opportunities that have a professional development component.
        {{/markdown}}
      </div>
    </div>
  </div>
</template>