<template name="Student_Guided_Tour_Degree_Plan">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-degreeplan.png"}}

# Refine your plan.

Now that you have picked a few interests and a career goal, and discovered courses and opportunities to match, it's time to design your **degree planner**.  The degree plan helps you organize which courses and opportunities you'll take each semester until you graduate.

RadGrad not only recommends courses and opportunities, it also provides warnings when things don't look right.   Unless you are the son of Hercules, no amount of strength will push you through a five ICS course semester.

Say that you have already filled in the proper required courses for your degree plan.  Now what?  Well, take a look at your home page and you will find recommended opportunities based on your interests and career goals.  Add them to your degree planner!  A balanced student is a student who achieves a high ICE score. What's ICE, you ask? Just click to the next page to find out.

  {{/Guided_Tour_Page_Layout}}
</template>