<template name="Student_Guided_Tour_Ice">

  {{#Guided_Tour_Page_Layout leftColumns="nine" rightColumns="seven" image="/images/guidedtour/guidedtour-ice.png"}}

# ICE, ICE, baby.

You may have been noticing three colored circles with numbers in your menu bar.  These circles and numbers represent your **ICE** score.  ICE stands for: Innovation, Competency, and Experience, which we view as the three pillars of a well-rounded computer science major.

ICE recognizes that developing your chops in *innovation*, and acquiring real-world *experience*, are just as important as  *competency* through coursework. ICE provides you with a new means to assess gaps in your preparation, and helps you figure out how to fill those gaps.

* **Innovation:** You gain innovation points by completing opportunities that have a research (or some other innovative) component. The number of points depends upon the nature of the opportunity.

* **Competency:** You gain 10 competency points when you get an A in a degree-related course, and 6 points when you get a B.  No points are awarded for grades below B-.

* **Experience:** You gain experience points by completing opportunities that expose you to real-world organizations and work processes. The number of points depends upon the nature of the opportunity.

By the end of your degree program, your mission (should you decide to accept it) is to obtain 100 points in each of the three ICE categories.

  {{/Guided_Tour_Page_Layout}}

</template>