<template name="Student_Guided_Tour_Career_Goal">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-career.png"}}

# Define your career path.

Interests are important, but getting a job that's right for you is even more important. RadGrad provides a curated list of **career goals** that include many of the best careers in technology, including: **{{publicStats 'careerGoalsList'}}**.

The RadGrad Career Goal page describes the career along with recommended courses and opportunities. When you choose a career goal, its interests are automatically merged with the other ones you picked.

  {{/Guided_Tour_Page_Layout}}
</template>