<template name="Student_Guided_Tour_Advisor_Log">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-advisor-log.png"}}

# Rocket through MentorSpace.

A primary goal of RadGrad is to build community.  In addition to course reviews made by students like you, RadGrad also provides opportunities for you to talk to **mentors**.

In the **MentorSpace page**, you will find a list of mentors ready to help with any questions you have in regards to life after your ICS degree.  RadGrad currently has **{{publicStats 'usersMentorsTotal'}}** mentors, working in locations including:  **{{publicStats 'usersMentorsLocations'}}**.  Your questions are anonymous so you aren't put on the spot.

When you graduate, you can contact a RadGrad admin and become a mentor yourself.

  {{/Guided_Tour_Page_Layout}}

</template>