<template name="Student_Guided_Tour_Home">
  <div>
    <div class="ui two column stackable grid">
      <div class="nine wide column">
        <img class="ui image" src="/images/guidedtour/home-0.png">
      </div>
      <div class="seven wide column guided-tour-description">
        <h1>Home</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam magna, sodales ut nisi vel, rhoncus posuere erat. Proin a orci vel sem ultricies semper. Pellentesque at massa eu lorem venenatis sollicitudin nec vitae est. Suspendisse ac risus nec risus vehicula laoreet in sed arcu. Proin et nibh volutpat, laoreet justo quis, maximus elit. Nulla mattis metus quis dui tempus semper. Aenean eu feugiat est, venenatis varius diam. Sed a dui non velit convallis congue et non ligula. Vivamus quis est vitae metus lacinia imperdiet vitae sed quam. Pellentesque non elit interdum risus elementum finibus. Sed eu tempor metus.
        </p>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce dignissim tellus sem, mattis venenatis nibh luctus non. Quisque dictum at urna id suscipit. Maecenas magna dui, iaculis aliquet risus quis, dignissim vestibulum purus. Nullam posuere pretium efficitur. Nulla ullamcorper rhoncus dapibus. Suspendisse tincidunt lacus in velit dapibus imperdiet. In pellentesque, libero vel commodo vehicula, mauris enim fringilla felis, vel lacinia tortor neque et eros. Donec eget quam justo. Duis volutpat dolor eu purus pretium consequat. Aliquam vel velit commodo, ornare sem sed, tincidunt ipsum. Pellentesque turpis elit, ornare eget odio nec, semper finibus velit. In ac rutrum ligula. Suspendisse potenti. Suspendisse quis viverra ante, sed laoreet metus.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div class="ui two column stackable grid">
      <div class="nine wide column">
        <img class="ui image" src="/images/guidedtour/home-1.png">
      </div>
      <div class="seven wide column guided-tour-description">
        <h1>Home - Recommended Opportunities &amp; Courses</h1>
        <p>
          Upon adding interests or career goals to your profile, RadGrad will begin to offer you courses and opportunities that fit your needs.  Each card presents the following: title name, semester date, description, participating students, interest tags, and action buttons.
        </p>
        <p>
          Blue interest tags represent the interests you have added to your profile.  Gray interest tags represents other tags related to that opportunity or course.  If any of the tags appeals to you, you can click on them to learn more about it in the Explorer.  You may just happen to add them afterwards!
        </p>
        <p>
          The recommendation modules come with three action buttons: view more, add to plan, and hide.  The <b>"View More"</b> button will take you to the Explorer page to display further information.  If it has already caught your eye, you can definitely add it to your plan directly with the <b>"Add to Plan"</b> button.  If you would not like to see the recommended card, you can always hide them from view with the <b>"Hide"</b> button.  Hidden cards can be viewed again with the <b>"Show Hidden Recommended Opportunities/Courses"</b> button below the header.  They can also be put back into view if needed using the "Unhide" button.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div class="ui two column stackable grid">
      <div class="nine wide column">
        <img class="ui image" src="/images/guidedtour/home-2.png">
      </div>
      <div class="seven wide column guided-tour-description">
        <h1>Home - Community Activity &amp; Teasers</h1>
        <p>
          The <b>Community Activity</b> module keeps you up to date with what's happening within the RadGrad world.  The following items are displayed in the feed: <br><br>
          •	New users, courses, and opportunities. <br>
          •	Students whose opportunities have been verified. <br>
          •	New course and opportunity reviews.
        </p>
        <div class="ui divider"></div>
        <p>
          Are descriptions not cutting it out for you? Then <b>Teaser</b> videos might be more of your style.  Teasers are video snippet introductions about opportunities within RadGrad.  Similar to the interest and opportunity recommendation modules, these teaser cards are picked out especially for you based on your interests.  Clicking on the <b>"View More"</b> button will lead you to the Explorer page where you can add the opportunity to your list.
        </p>
      </div>
    </div>
  </div>

</template>