<template name="Student_Guided_Tour_Advisor_Log">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-advisor-log.png"}}

# Now, what did my advisor tell me?

RadGrad enhances but does not replace the need for regular meetings with your advisor.

To help you recall the decisions made and actions taken during your meetings, RadGrad provides the Advisor Meeting Log.

Only Advisors can make entries in this log, but both you and your Advisor can see the entries after they have been created.
    
To get the most out of RadGrad, be sure to meet with your advisor once a semester. And, that provides a convenient time to pick up your RadGrad laptop sticker if you've achieved a new level.

  {{/Guided_Tour_Page_Layout}}

</template>