<template name="Student_Guided_Tour_Opportunities">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-opp.png"}}

# Are you experienced?

A well-balanced student collects experiences inside and outside of school.  RadGrad encourages students to reach beyond the classroom through **Opportunities**.

RadGrad currently provides information about **{{publicStats 'opportunitiesTotal'}}** opportunities, classified as follows:

* **Project**: A research or development project, under faculty supervision. For example, you can work with Kim Binsted on the [HI-SEAS](http://hi-seas.org) project.

* **Club**: There are many clubs and community organizations providing valuable experiences, from [ICS GreyHats](http://www.ics.hawaii.edu/community/community-profile-the-ics-grey-hats/)  to [Code For Hawaii](http://www.codeforhawaii.org/).

* **Internship**: Every year there are new internship opportunities, such as with [Booz Allen](http://www.boozallen.com/careers/find-your-job/graduating-students/strategic-innovation-games).

* **Online Learning**: For certain technologies, the best place to learn is online. For example, game developers might want to take the [Unity course](https://www.udemy.com/unitycourse/).

* **Event**: Finally, consider a one or multiple day event, such as [WetWareWednesday](http://htdc.org/wetwarewed/) or the [Hawaii Annual Code Challenge](http://hacc.hawaii.gov/).

  {{/Guided_Tour_Page_Layout}}

</template>