<template name="Student_Guided_Tour_Opportunities">

  {{#Guided_Tour_Page_Layout leftColumns="ten" rightColumns="six" image="/images/guidedtour/guidedtour-opp.png"}}

# Garner wide ranges of experiences.

A well-balanced student is a student who has collected experience inside and outside of school.  Here at RadGrad, we encourage students to reach above and beyond - and more specifically, the **Explorer - Opportunities** page.

In the explorer page, you will find an abundant amount of opportunities tailored for ICS students.  Here you will find when opportunities are open, what types of opportunities are available, and reviews created by students like you.  The following types of opportunities are as followed:

* **Project** - Participation in a long-term project.
* **Club** - Participation with an organization of a specific interest.
* **Internship** - Interning for an organization of a specific interest.
* **Online-Learning** - Attending an online course.
* **Event** - Attending a one-day event.

  {{/Guided_Tour_Page_Layout}}

</template>