<template name="Course_Score_Board_Widget">
    <h2 class="ui dividing header">COURSE SCOREBOARD</h2>
    <div class="ui segment">
        <h4 class="ui dividing header">Filter By</h4>
        <div class="field">
            <div class="ui radio checkbox {{#if isICS}}checked{{/if}}">
                <input class="jsByICS" type="radio" name="ics" checked={{isICS}}>
                <label>ICS </label>
            </div>
            <div class="ui radio checkbox {{#if isEE}}checked{{/if}}">
                <input class="jsByEE" type="radio" name="ee" checked={{isEE}}>
                <label>EE </label>
            </div>
            <div class="ui radio checkbox {{#if is1xx}}checked{{/if}}">
                <input class="jsBy1xx" type="radio" name="1xx" checked={{is1xx}}>
                <label>1xx </label>
            </div>
            <div class="ui radio checkbox {{#if is2xx}}checked{{/if}}">
                <input class="jsBy2xx" type="radio" name="2xx" checked={{is2xx}}>
                <label>2xx </label>
            </div>
            <div class="ui radio checkbox {{#if is3xx}}checked{{/if}}">
                <input class="jsBy3xx" type="radio" name="3xx" checked={{is3xx}}>
                <label>3xx </label>
            </div>
            <div class="ui radio checkbox {{#if is4xx}}checked{{/if}}">
                <input class="jsBy4xx" type="radio" name="4xx" checked={{is4xx}}>
                <label>4xx </label>
            </div>
        </div>
    </div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Course</th>
            {{#each semester in upcomingSemesters}}
                <th>{{semesterName semester}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each course in courses}}
            <tr>
                <td>{{courseName course}}</td>
                {{#each semester in upcomingSemesters}}
                    <td>{{courseCount course semester}}</td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
