<template name="Card_Explorer_Plans_Widget">
  <div class="ui padded segment">
    <div class="ui dividing header">
      <h4><span
          style="text-transform: uppercase;">ACADEMIC PLANS</span> {{> Widget_Header_Number inputValue=itemCount}}</h4>
    </div>
    {{#if noPlan}}
      <p>You have no Favorite Academic Plans, select View More to see details and favorite a plan.</p>
    {{/if}}
    <div style="max-height: 750px; overflow-x:hidden; overflow-y:scroll; margin-top: 10px;"
         class="ui stackable two cards">
      {{#each plan in plans}}
        {{> Plan_Card item=plan type='plans'}}
      {{/each}}
    </div>
  </div>

  {{> Back_To_Top_Button}}
</template>
