<template name="Card_Explorer_CareerGoals_Widget">
  <div class="ui padded segment">
    <div class="ui dividing header">
      <h4><span
          style="text-transform: uppercase;">CAREER GOALS</span> {{> Widget_Header_Number inputValue = itemCount}}</h4>
    </div>
    {{#if noInterests}}
      <p>Add interests to see sorted careers. To add interests, select "Interests" in the pull-down menu on the
        left.</p>
    {{/if}}
    {{#if noCareerGoals}}
      <p>You have no Favorite Career Goals, select 'View More' to see more information. Then you can favorite a career goal.</p>
    {{/if}}
    <div style="max-height: 750px; overflow-x:hidden; overflow-y:scroll; margin-top: 10px;"
         class="ui stackable two cards">
      {{#each career in careers}}
        {{> Profile_Card item=career type='careergoals'}}
      {{/each}}
    </div>
  </div>

  {{> Back_To_Top_Button}}

</template>
