<template name="Card_Explorer_Courses_Widget">
  <div class="ui padded segment">
    <div class="ui dividing header">
      <h4><span
          style="text-transform: uppercase;">COURSES</span> {{> Widget_Header_Number inputValue = itemCount}}</h4>
    </div>
    {{> Course_Filter_Widget filter=courseFilter}}
    {{#if noInterests}}
      <p>Favorite interests or career goals to see sorted courses. To favorite select "Interests" or "Career Goals" in the pull-down menu on the left.</p>
    {{/if}}
    <div style="max-height: 750px; overflow-x:hidden; overflow-y:scroll; margin-top: 10px;"
         class="ui stackable two cards">
      {{#each course in courses}}
        {{> Favorite_Card item=course type='courses'}}
      {{/each}}
    </div>
  </div>

  {{> Back_To_Top_Button}}

</template>
