<template name="Card_Explorer_Menu">
  <div class="ui selection fluid dropdown">
    <i class="dropdown icon"></i>
    <div>{{getRouteName}}</div>
    <div class="menu">
      <a class="{{isActiveRoute academicPlansCardRouteName}} item"
         href="{{pathFor academicPlansCardRouteName username=routeUserName}}">Academic
        Plans</a>
      <a class="{{isActiveRoute careerGoalsCardRouteName}} item"
         href="{{pathFor careerGoalsCardRouteName username=routeUserName}}">Career
        Goals</a>
      <a class="{{isActiveRoute coursesCardRouteName}} item"
         href="{{pathFor coursesCardRouteName username=routeUserName}}">Courses</a>
      <a class="{{isActiveRoute interestsCardRouteName}} item"
         href="{{pathFor interestsCardRouteName username=routeUserName}}">Interests</a>
      <a class="{{isActiveRoute opportunitiesCardRouteName}} item"
         href="{{pathFor opportunitiesCardRouteName username=routeUserName}}">Opportunities</a>
      <a class="{{isActiveRoute usersCardRouteName}} item" href="{{pathFor usersCardRouteName username=routeUserName}}">Users</a>
    </div>
  </div>

  {{#unless equals getRouteName 'Users,Select Explorer'}}
    <div class="ui fluid selection search dropdown mobile only" style="margin-top: 1rem;">
      <i class="dropdown icon"></i>
      <span class="default text">Select Item</span>
      <div class="menu">
        {{#if isType type 'courses'}}
          <div class="header">
            MY FAVORITE COURSES
          </div>
          <div class="divider"></div>
          {{#each listItem in menuAddedList}}
            <a class="{{classType (slugName listItem.item) 'course'}}" data-tab="tab-name"
               href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem.item)}}"><i
                class="{{userCourses listItem.item}}"></i>{{courseName listItem}}</a>
          {{/each}}
          <div class="header">
            ALL OTHER COURSES
          </div>
          <div class="divider"></div>
          {{#each listItem in menuNonAddedList}}
            <a class="{{classType (slugName listItem.item) 'course'}}" data-tab="tab-name"
               href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem.item)}}"><i
                class="{{userCourses listItem.item}}"></i>{{courseName listItem}}</a>
          {{/each}}
        {{else}}
          {{#if isType type 'careerGoals'}}
            <div class="header">
              MY FAVORITE CAREER GOALS
            </div>
            <div class="divider"></div>
            {{#each listItem in menuAddedList}}
              <a class="{{classType (slugName listItem.item) 'careerGoal'}}" data-tab="tab-name"
                 href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem.item)}}"><i
                  class="{{userCareerGoals listItem.item}}"></i>{{itemName listItem}}</a>
            {{/each}}
            <div class="header">
              ALL OTHER CAREER GOALS
            </div>
            <div class="divider"></div>
            {{#each listItem in menuNonAddedList}}
              <a class="{{classType (slugName listItem.item) 'careerGoal'}}" data-tab="tab-name"
                 href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem.item)}}"><i
                  class="{{userCareerGoals listItem.item}}"></i>{{itemName listItem}}</a>
            {{/each}}
          {{else}}
            {{#if isType type 'opportunities'}}
              <div class="header">
                MY FAVORITE OPPORTUNITIES
              </div>
              <div class="divider"></div>
              {{#each listItem in menuAddedList}}
                <a class="{{classType (slugName listItem.item) 'opportunity'}}" data-tab="tab-name"
                   href="{{pathFor opportunitiesRouteName username=routeUserName
                                   opportunity=(slugName listItem.item)}}"><i
                    class="{{userOpportunities listItem.item}}"></i>{{itemName listItem}}</a>
              {{/each}}
              <div class="header">
                ALL OTHER OPPORTUNITIES
              </div>
              <div class="divider"></div>
              {{#each listItem in menuNonAddedList}}
                <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name"
                   href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(slugName listItem)}}"><i
                    class="{{userOpportunities listItem}}"></i>{{itemName listItem}}</a>
              {{/each}}
            {{else}}
              {{#if isType type 'interests'}}
                <div class="header">
                  MY FAVORITE INTERESTS
                </div>
                <div class="divider"></div>
                {{#each listItem in menuAddedList}}
                  <a class="{{classType (slugName listItem.item) 'interest'}}" data-tab="tab-name"
                     href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem.item)}}"><i
                      class="{{userInterests listItem.item}}"></i>{{itemName listItem}}</a>
                {{/each}}
                <div class="header">
                  CAREER GOAL INTERESTS
                </div>
                <div class="divider"></div>
                {{#each listItem in menuCareerList}}
                  <a class="{{classType (slugName listItem.item) 'interest'}}" data-tab="tab-name"
                     href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem.item)}}"><i
                      class="{{userInterests listItem.item}}"></i>{{itemName listItem}}</a>
                {{/each}}
                <div class="header">
                  ALL OTHER INTERESTS
                </div>
                <div class="divider"></div>
                {{#each listItem in menuNonAddedList}}
                  <a class="{{classType (slugName listItem) 'interest'}}" data-tab="tab-name"
                     href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem)}}"><i
                      class="{{userInterests listItem}}"></i>{{itemName listItem}}</a>
                {{/each}}
              {{else}}
                {{#if isType type 'plans'}}
                  <div class="header">
                    MY FAVORITE ACADEMIC PLANS
                  </div>
                  <div class="divider"></div>
                  {{#each listItem in menuAddedList}}
                    <a class="{{classType (slugName listItem.item) 'plan'}}" data-tab="tab-name"
                       href="{{pathFor academicPlansRouteName username=routeUserName plan=(slugName listItem.item)}}"><i
                        class="{{userPlans listItem.item}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                  <div class="header">
                    ALL OTHER PLANS
                  </div>
                  <div class="divider"></div>
                  {{#each listItem in menuNonAddedList}}
                    <a class="{{classType (slugName listItem) 'plan'}}" data-tab="tab-name"
                       href="{{pathFor academicPlansRouteName username=routeUserName plan=(slugName listItem)}}"><i
                        class="{{userPlans listItem}}"></i>{{itemName listItem}}</a>
                  {{/each}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/unless}}

  <div class="ui vertical text menu mobile hidden">
    {{#if isType type 'courses'}}
      {{#if isInRole 'student'}}
        <h4 class="ui dividing header">
          MY FAVORITE COURSES
        </h4>
        {{#each listItem in menuAddedList}}
          <a class="{{classType (slugName listItem.item) 'course'}}" data-tab="tab-name"
             href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem.item)}}"><i
              style="position: absolute; margin-left: -20px;" class="{{userCourses listItem.item}}"></i>{{courseName
              listItem}}</a>
        {{/each}}
      {{/if}}

      {{#each listItem in menuFilteredNonAddedList}}
        <a class="{{classType (slugName listItem) 'course'}}" data-tab="tab-name"
           href="{{pathFor coursesRouteName username=routeUserName course=(slugName listItem)}}"><i
            style="position: absolute; margin-left: -20px;" class="{{userCourses listItem}}"></i>{{courseName listItem}}
        </a>
      {{/each}}
    {{else}}
      {{#if isType type 'careerGoals'}}
        <a href="mailto:{{adminEmail}}?subject=New%20Career%20Goal%20Suggestion">Suggest a new Career Goal</a>
        <h4 class="ui dividing header">
          MY FAVORITE CAREER GOALS
        </h4>
        {{#each listItem in menuAddedList}}
          <a class="{{classType (slugName listItem.item) 'careerGoal'}}" data-tab="tab-name"
             href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem.item)}}"><i
              style="position: absolute; margin-left: -20px;" class="{{userCareerGoals listItem.item}}"></i>{{itemName
              listItem}}</a>
        {{/each}}
        {{#each listItem in menuFilteredNonAddedList}}
          <a class="{{classType (slugName listItem) 'careerGoal'}}" data-tab="tab-name"
             href="{{pathFor careerGoalsRouteName username=routeUserName careerGoal=(slugName listItem)}}"><i
              style="position: absolute; margin-left: -20px;" class="{{userCareerGoals listItem}}"></i>{{itemName
              listItem}}</a>
        {{/each}}
      {{else}}
        {{#if isType type 'opportunities'}}
          <a href="mailto:{{adminEmail}}?subject=New%20Opportunity%20Suggestion">Suggest a new Opportunity</a>
          {{#if isInRole 'student'}}
            <h4 class="ui dividing header">
              MY FAVORITE OPPORTUNITIES
            </h4>
          {{else}}
            {{#if isInRole 'faculty'}}
              <h4 class="ui dividing header">
                SPONSORED OPPORTUNITIES
              </h4>
            {{/if}}
          {{/if}}
          {{#each listItem in menuAddedList}}
            <a class="{{classType (slugName listItem.item) 'opportunity'}}" data-tab="tab-name"
               href="{{pathFor opportunitiesRouteName username=routeUserName
                               opportunity=(slugName listItem.item)}}"><i
                style="position: absolute; margin-left: -20px;"
                class="{{userOpportunities listItem.item}}"></i>{{opportunityItemName listItem}}</a>
          {{/each}}
          {{#each listItem in menuFilteredNonAddedList}}
            <a class="{{classType (slugName listItem) 'opportunity'}}" data-tab="tab-name"
               href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(slugName listItem)}}"><i
                style="position: absolute; margin-left: -20px;"
                class="{{userOpportunities listItem}}"></i>{{opportunityItemName listItem}}</a>
          {{/each}}
        {{else}}
          {{#if isType type 'interests'}}
            <a href="mailto:{{adminEmail}}?subject=New%20Interest%20Suggestion">Suggest a new Interest</a>
            <h4 class="ui dividing header">
              MY FAVORITE INTERESTS
            </h4>
            {{#each listItem in menuAddedList}}
              <a class="{{classType (slugName listItem.item) 'interest'}}" data-tab="tab-name"
                 href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem.item)}}"><i
                  style="position: absolute; margin-left: -20px;"
                  class="{{userInterests listItem.item}}"></i>{{itemName
                  listItem}}</a>
            {{/each}}
            <h4 class="ui dividing header">
              CAREER GOAL INTERESTS
            </h4>
            {{#each listItem in menuCareerList}}
              <a class="{{classType (slugName listItem.item) 'interest'}}" data-tab="tab-name"
                 href="{{pathFor interestsRouteName username=routeUserName interest=(slugName listItem.item)}}"><i
                  style="position: absolute; margin-left: -20px;"
                  class="{{userInterests listItem.item}}"></i>{{itemName
                  listItem}}</a>
            {{/each}}
          {{else}}
            {{#if isType type 'plans'}}
              {{#if isInRole 'student'}}
                <div class="ui dividing header">
                  MY FAVORITE ACADEMIC PLANS
                </div>
                {{#each listItem in menuAddedList}}
                  <a class="{{classType (slugName listItem.item) 'plan'}}" data-tab="tab-name"
                     href="{{pathFor academicPlansRouteName username=routeUserName plan=(slugName listItem.item)}}"><i
                      class="{{userPlans listItem.item}}"></i>{{itemName listItem}}</a>
                {{/each}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
