<template name="Explorer_Courses_Widget">
  <div class="ui segments" style="background-color: white;">
    <div class="ui padded segment container">

      <div class="ui clearing basic segment"
           style="margin: 0; padding-left: 0; padding-right: 0; padding-top: 0; padding-bottom: 0;">
        <h4 class="ui left floated header">{{toUpper shortName}} ({{name}})</h4>
        {{#if isInRole 'student'}}
          {{> Favorite_Button item=item type='courses'}}
        {{/if}}
      </div>
      <div class="ui divider" style="margin-top: 0;"></div>
      <div class="ui stackable grid">
        <div class="column" style="padding-top: 5px; padding-bottom: 0px;">
          {{> Interest_List item=item size='mini'}}
        </div>
      </div>
      {{#if hasTeaser item}}
        <div class="ui stackable two column grid">
          <div class="nine wide column">
            {{#each descriptionPair in descriptionPairs}}
              {{#if isLabel descriptionPair.label 'Course Number'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} {{descriptionPair.value}} <br>
                {{else}}
                  N/A <br>
                {{/if}}
              {{/if}}
              {{#if isLabel descriptionPair.label 'Credit Hours'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} {{descriptionPair.value}} <br>
                {{else}}
                  N/A <br>
                {{/if}}
              {{/if}}
              {{#if isLabel descriptionPair.label 'Description'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} {{{markdownify descriptionPair.value}}}
                {{else}}
                  N/A
                {{/if}}
              {{/if}}
              {{#if isLabel descriptionPair.label 'Prerequisites'}}
                {{#if descriptionPair.value}}
                  <b>{{descriptionPair.label}}:</b>
                  {{#if isInRole 'student'}}
                    <div class="ui horizontal bulleted list">
                      {{#each prerequisiteList in descriptionPair.value}}
                        {{#let index=@index}}
                          {{#each prereq in prerequisiteList}}
                            <a class="item">
                              <a class="{{isActiveRoute coursesRouteName}} item"
                                 href="{{pathFor coursesRouteName username=routeUserName
                                                 course=prereq.course}}"
                                 data-tooltip="{{getStatusTooltip index}}"
                                 data-position="right center">{{courseNameFromSlug prereq.course}} <i
                                  class="{{getStatusIconName index}}"></i></a> </a>
                          {{/each}}
                        {{/let}}
                      {{/each}}
                    </div>
                  {{else}}
                    <div class="ui horizontal bulleted list">
                      {{#each prerequisiteList in descriptionPair.value}}
                        {{#each prereq in prerequisiteList}}
                          <a class="item">
                            <a class="{{isActiveRoute coursesRouteName}} item"
                               href="{{pathFor coursesRouteName username=routeUserName
                                               course=prereq.course}}">{{courseNameFromSlug prereq.course}}</a> </a>
                        {{/each}}
                      {{/each}}
                    </div>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/each}}
            <br/>
            <b>Status:</b>
            {{#if courseSemesters item}}
              {{courseSemesters item}}
            {{else}}
              Not in Plan
              {{> Future_Participation type='courses' item=item}}
            {{/if}}
            {{#if futureInstance item}}
              {{> Future_Participation type='courses' item=item}}
            {{/if}}

          </div>
          <div class="seven wide column">
            {{#each descriptionPair in descriptionPairs}}
              {{#if isLabel descriptionPair.label 'Syllabus'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}}
                  <span style="word-wrap: break-word;">{{{descriptionPair.value}}}</span> <br>
                {{else}}
                  N/A <br>
                {{/if}}
              {{/if}}
            {{/each}}
            {{> Teaser_Widget}}
          </div>
        </div>
      {{else}}
        <div class="ui stackable two column grid">
          <div class="six wide column">
            {{#each descriptionPair in descriptionPairs}}

              {{#if isLabel descriptionPair.label 'Course Number'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} {{descriptionPair.value}} <br>
                {{else}}
                  N/A <br>
                {{/if}}
              {{/if}}

              {{#if isLabel descriptionPair.label 'Credit Hours'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}} {{descriptionPair.value}} <br>
                {{else}}
                  N/A <br>
                {{/if}}
              {{/if}}

            {{/each}}
          </div>

          <div class="ten wide column">
            {{#each descriptionPair in descriptionPairs}}

              {{#if isLabel descriptionPair.label 'Syllabus'}}
                <b>{{descriptionPair.label}}:</b>
                {{#if descriptionPair.value}}
                  <span style="word-wrap: break-word;">{{{descriptionPair.value}}}</span> <br>
                {{else}}
                  N/A <br>
                {{/if}}
              {{/if}}

            {{/each}}
          </div>
        </div>
        <div style="margin-top: 0" class="ui stackable grid">
          {{#if hasTeaser item}}
            <div style="margin-top: 0" class="nine wide column">
              {{#each descriptionPair in descriptionPairs}}
                {{#if isLabel descriptionPair.label 'Description'}}
                  <b>{{descriptionPair.label}}:</b>
                  {{#if descriptionPair.value}} {{{markdownify descriptionPair.value}}}
                  {{else}}
                    N/A
                  {{/if}}
                {{/if}}
              {{/each}}
            </div>
            <div style="margin-top: 0" class="seven wide column">
              {{> Teaser_Widget}}
            </div>
          {{else}}
            <div style="margin-top: 0" class="column">
              {{#each descriptionPair in descriptionPairs}}
                {{#if isLabel descriptionPair.label 'Description'}}
                  <b>{{descriptionPair.label}}:</b>
                  {{#if descriptionPair.value}} {{{markdownify descriptionPair.value}}}
                  {{else}}
                    N/A
                  {{/if}}
                {{/if}}
              {{/each}}
            </div>
          {{/if}}
        </div>
        <div style="margin-top: 0" class="ui stackable grid">
          <div class="column">
            {{#each descriptionPair in descriptionPairs}}
              {{#if isLabel descriptionPair.label 'Prerequisites'}}
                {{#if descriptionPair.value}}
                  <b>{{descriptionPair.label}}:</b>
                  {{#if isInRole 'student'}}
                    <div class="ui horizontal bulleted list">
                      {{#each prerequisiteList in descriptionPair.value}}
                        {{#let index=@index}}
                          {{#each prereq in prerequisiteList}}
                            <a class="item">
                              <a class="{{isActiveRoute coursesRouteName}} item"
                                 href="{{pathFor coursesRouteName username=routeUserName
                                                 course=prereq.course}}"
                                 data-tooltip="{{getStatusTooltip index}}"
                                 data-position="right center">{{courseNameFromSlug prereq.course}} <i
                                  class="{{getStatusIconName index}}"></i></a> </a>
                          {{/each}}
                        {{/let}}
                      {{/each}}
                    </div>
                  {{else}}
                    <div class="ui horizontal bulleted list">
                      {{#each prereq in descriptionPair.value}}
                          <a class="item">
                            <a class="{{isActiveRoute coursesRouteName}} item"
                               href="{{pathFor coursesRouteName username=routeUserName course=prereq}}">{{courseNameFromSlug prereq}}</a> </a>
                        {{/each}}
                    </div>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/each}}
          </div>
        </div>

        <div style="margin-top: 0" class="ui stackable grid">
          <div class="column">
            <b>Status:</b>
            {{#if courseSemesters item}}
              {{courseSemesters item}}
            {{else}}
              Not in Plan
              {{> Future_Participation type='courses' item=item}}
            {{/if}}
            {{#if futureInstance item}}
              {{> Future_Participation type='courses' item=item}}
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="ui stackable column grid">
    <div class="sixteen wide column">
      <div class="ui padded segment">
        {{> Student_Explorer_Review_Widget event=item userReview=review reviewType = 'course'}}
      </div>
    </div>
  </div>

  {{> Back_To_Top_Button}}

</template>
