<template name="Favorite_Card">
  <div class="ui card radgrad-interest-card">
    <div class="content">
      <div class="header">{{itemName item}}
        {{#if typeOpportunity}}
          {{> ICE_header ice=item.ice}}
        {{/if}}
      </div>
    </div>
    <div class="content">
      <p>{{{markdownify (itemShortDescription item)}}}</p>
      {{> Interest_List item=item size='mini'}}
    </div>
    <div class="content">
      <span>STUDENTS PARTICIPATING {{> Widget_Header_Number inputValue = (numberStudents item)}}</span>
    </div>
    <div class="radgrad-home-buttons ui center aligned three bottom attached buttons">
      {{#if typeCourse}}
        <a class="ui button" href="{{pathFor coursesRouteName username=routeUserName course=(itemSlug item)}}"><i
            class="chevron circle right icon"></i><br>View More</a>
      {{else}}
        <a class="ui button"
           href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(itemSlug item)}}"><i
            class="chevron circle right icon"></i><br>View More</a>
      {{/if}}
    </div>
  </div>
</template>
