<template name="Favorite_Card">
  <div class="ui card radgrad-interest-card">
    <div class="content">
      <div class="header">{{itemName item}}
        {{#if typeOpportunity}}
          {{> ICE_header ice=item.ice}}
        {{/if}}
        {{#if takenCourse item}}
          {{> ICE_header ice=(courseICE item)}}
        {{/if}}
      </div>
      <div class="meta">
        {{#if inPlan item}}
          In Plan: {{planSemesters item}}
        {{else}}
          {{#if itemSemesters}}
            {{replaceSemString itemSemesters}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="content">
      <p>{{{markdownify (itemShortDescription item)}}}</p>
      {{> Interest_List item=item size='mini'}}
    </div>
    <div class="content">
      <span>STUDENTS PARTICIPATING {{> Widget_Header_Number inputValue = (numberStudents item)}}</span>
      {{> Future_Participation type=type item=item}}
    </div>

    <div class="radgrad-home-buttons ui center aligned three bottom attached {{hidden}} buttons">
      {{#if typeCourse}}
        <a class="ui button" href="{{pathFor coursesRouteName username=routeUserName course=(itemSlug item)}}"><i
            class="chevron circle right icon"></i><br>View More</a>
      {{else}}
        <a class="ui button"
           href="{{pathFor opportunitiesRouteName username=routeUserName opportunity=(itemSlug item)}}"><i
            class="chevron circle right icon"></i><br>View More</a>
      {{/if}}
        <!--      {{#if isStudent}}-->
        <!--        {{#if canAdd}}-->
        <!--          {{> Favorite_Add item=item type=type}}-->
          <!--        {{/if}}-->

        <!--        {{#if hidden}}-->
        <!--          <div class="ui button unhide"><i class="unhide icon"></i><br>Unhide</div>-->
          <!--        {{else}}-->
        <!--          <div class="ui button hide"><i class="hide icon"></i><br>Hide</div>-->
          <!--        {{/if}}-->
        <!--      {{/if}}-->
    </div>
  </div>
</template>
