<template name="Future_Participation">
  <div class="ui fixed celled table">
    <thead>
    <tr>
      {{#each semester in semesters}}
        <th>{{semesterName semester}}</th>
      {{/each}}
    </tr>
    </thead>
    <tbody>
    <tr>
      {{#each semester in semesters}}
        <td>
          {{#if highlightString item semester}}
            <div class="ui {{highlightString item semester}} label ">{{semesterScore item semester}}</div>
          {{else}}
            {{semesterScore item semester}}
          {{/if}}
        </td>
      {{/each}}
    </tr>
    </tbody>
  </div>
</template>
