<template name="Moderation">
  <div class="ui equal width grid">
    <div class="column">
      <div class="ui padded container segment">
        <div class="ui dividing header"><h4>PENDING COURSE REVIEWS</h4></div>
      <div class="ui divided items">
        {{#each review in pendingCourseReviews}}
          <div class="item">
            <div class="content">
              <div class="ui equal width grid">
                <div class="column">
                  <div class="meta">
                    <strong>Student:</strong> {{studentName review}}
                  </div>
                  <div class="meta">
                    <strong>Reviewee:</strong> {{revieweeName review}}
                  </div>
                  <div class="meta">
                    <strong>Semester:</strong> {{semester review}}
                  </div>
                  <div class="meta">
                    <strong>Rating:</strong>{{> Student_Explorer_Review_Stars_Widget rating = (rating review)}}
                  </div>
                  <div class="meta">
                    <strong>Comments:</strong> {{studentComments review}}
                  </div>
                  <div class="ui segment">
                    <form class="ui form">
                      <div class="field">
                        <label>Moderator Comments:</label>
                        <div class="ui action input">
                        <textarea rows="2" id="{{review._id}}-comments">{{moderatorComments review}}</textarea>
                        </div>
                      <button class="ui basic green mini button" id="{{review._id}}-review-accept" type="submit" style="margin-top:10px">ACCEPT</button>
                      <button class="ui basic red mini button" id="{{review._id}}-review-reject" type="submit" style="margin-top:10px">REJECT</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui padded container segment">
      <div class="ui dividing header"><h4>PENDING OPPORTUNITY REVIEWS</h4></div>
      <div class="ui divided items">
        {{#each review in pendingOpportunityReviews}}
          <div class="item">
            <div class="content">
              <div class="ui equal width grid">
                <div class="column">
                  <div class="meta">
                    <strong>Student:</strong> {{studentName review}}
                  </div>
                  <div class="meta">
                    <strong>Reviewee:</strong> {{revieweeName review}}
                  </div>
                  <div class="meta">
                    <strong>Semester:</strong> {{semester review}}
                  </div>
                  <div class="meta">
                    <strong>Rating:</strong>{{> Student_Explorer_Review_Stars_Widget rating = (rating review)}}
                  </div>
                  <div class="meta">
                    <strong>Comments:</strong> {{studentComments review}}
                  </div>
                  <div class="ui segment">
                    <form class="ui form">
                      <div class="field">
                        <label>Moderator Comments:</label>
                        <div class="ui action input">
                          <textarea rows="2" id="{{review._id}}-comments">{{moderatorComments review}}</textarea>
                          </div>
                          <button class="ui basic green mini button" id="{{review._id}}-review-accept" type="submit" style="margin-top:10px">ACCEPT</button>
                        <button class="ui basic red mini button" id="{{review._id}}-review-reject" type="submit" style="margin-top:10px">REJECT</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
    <div class="column">
      <div class="ui padded container segment">
        <div class="ui dividing header"><h4>PENDING MENTORSPACE QUESTIONS</h4></div>
        <div class="ui divided items">
          {{#each question in pendingQuestions}}
            <div class="item">
              <div class="content">
                <div class="ui equal width grid">
                  <div class="column">
                    <div class="meta">
                      <strong>Question:</strong> {{question.title}}
                    </div>
                    <div class="ui segment">
                      <form class="ui form">
                        {{#if noSlug question}}
                          <div class="field">
                            <label>Slug:</label>
                            <input type="text" name="slug" placeholder="Slug">
                          </div>
                        {{/if}}
                        <div class="field">
                            <label>Moderator Comments:</label>
                            <div class="ui action input">
                              <textarea rows="2" id="{{question._id}}-comments">{{moderatorComments question}}</textarea>
                            </div>
                          </div>
                          <button class="ui basic green mini button" id="{{question._id}}-question-accept" type="submit" style="margin-top:10px">ACCEPT</button>
                          <button class="ui basic red mini button" id="{{question._id}}-question-reject" type="submit" style="margin-top:10px">REJECT</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
