<template name="Projected_Ice_Component">
  <div class="radgrad-ice menu" style="margin-right: 2px; margin-left: 2px;">
    <div class="radgrad-ice-circle {{pClass projected}} radgrad-proj-{{iceType}}">
      <div class="radgrad-ice-stat">
        <span>{{projected}}</span>
      </div>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div class="radgrad-ice-circle {{pClass earned}} radgrad-earn-{{iceType}}">
      <span></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
</template>