<template name="User_Course_Component">
  <div class="ui fluid accordion">
    <div class="active title">
      <i class="dropdown icon"></i>
      <strong>COURSES</strong>
    </div>
    <div class="active content">
      <div class="ui two column stackable grid" style="padding-top:10px">
        <div class="column">
          <h5>TAKEN {{> Widget_Header_Number inputValue=(count true)}}</h5>
          <div class="ui small list">
            {{#each ci in coursesTaken}}
              <div class="item"><a href="{{courseURL ci}}">{{courseName ci}}</a></div>
            {{/each}}
          </div>
        </div>
        <div class="column">
          <h5>PLANNED {{> Widget_Header_Number inputValue=(count false)}}</h5>
          <div class="ui small list">
            {{#each ci in coursesPlanned}}
              <div class="item"><a href="{{courseURL ci}}">{{courseName ci}}</a></div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>