<template name="User_Opportunity_Component">
  <div class="ui fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      <strong>OPPORTUNITIES</strong>
    </div>
    <div class="content">
      <div class="ui two column stackable grid" style="padding-top:10px">
        <div class="column">
          <h5>COMPLETED {{> Widget_Header_Number inputValue=(count true)}}</h5>
          <div class="ui small list">
            {{#each oi in opportunitiesCompleted}}
              <div class="item"><a href="{{opportunityURL oi}}">{{opportunityName oi}} ({{opportunitySemester oi}})</a>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="column">
          <h5>PLANNED {{> Widget_Header_Number inputValue=(count false)}}</h5>
          <div class="ui small list">
            {{#each oi in opportunitiesPlanned}}
              <div class="item"><a href="{{opportunityURL oi}}">{{opportunityName oi}} ({{opportunitySemester oi}})</a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>