<template name="User_Interests_Component">
  {{#if interests}}
    <div class="ui styled fluid accordion">
      <div class="title"><i class="dropdown icon"></i>
        <b>Interests:</b> ({{ count }})
      </div>
      <div class="content">
        {{#each interest in interests}}
          <a href="{{interestURL interest}}" class="ui {{labelSize}} label">
            <i style="color:white !important" class="fitted star icon"></i>{{interest.name}}
          </a>
        {{/each}}
      </div>
    </div>
  {{/if}}
</template>