<template name="User_Course_Component">
  <div class="ui fluid accordion">
    <div class="active title" style="text-align: center">
      <i class="dropdown icon"></i>
      <strong>COURSES</strong>
    </div>
    <div class="active content">
      <div class="ui two column stackable grid">
        <div class="center aligned column">
          <h5>TAKEN {{> Widget_Header_Number inputValue=(count true)}}</h5>
          <ol class="ui small list">
            {{#each ci in coursesTaken}}
              <li li value="-"><a href="{{courseURL ci}}">{{courseName ci}}<!--({{courseNumber ci}})--></a></li>
            {{/each}}
          </ol>
        </div>
        <div class="center aligned column">
          <h5>PLANNED {{> Widget_Header_Number inputValue=(count false)}}</h5>
          <ol class="ui small list">
            {{#each ci in coursesPlanned}}
              <li li value="-"><a href="{{courseURL ci}}">{{courseName ci}}<!--({{courseNumber ci}})--></a></li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>