<template name="Verification_Requests_Pending">

  <div class="ui raised padded container segment">
    <div class="ui top left attached green label">Pending Verification Requests</div>
    <div class="ui divided items">
      {{#each request in pendingRequests}}
        <div class="item">
          <div class="content">
            <a class="header">{{request.opportunityName}}, {{request.semesterString}}</a>
            <div class="meta">
              <span>Student: {{request.studentName}}</span>
            </div>
            <div class="meta">
              <span>Owner: {{request.ownerName}}</span>
            </div>
            <div class="meta">
              <span>Submitted: {{request.submittedOn}} (37 minutes ago)</span>
            </div>
            <div class="description">
              <form class="ui form">
                <div class="ui inline field">
                  <label>Feedback:</label>
                  <div class="ui action input">
                    <input type="text" name="uhId" placeholder="Optional feedback">
                    <button id="{{request.id}}-accept" class="ui green button" type="submit">Accept</button>
                    <button id="{{request.id}}-decline" class="ui red button" type="submit">Decline</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</template>
