<template name="Verification_Event">

  <div class="ui raised padded container segment">
    <div class="ui top left attached green label">Event Verification</div>

    <form class="ui form">
      <div class="ui inline field">
        <label>Select recent event:</label>
        <div class="ui action input">
          <select class="ui dropdown" name="event">
            <option value="">(Select One)</option>
            {{#each event in events}}
              <option value="{{event._id}}">{{event.name}} ({{eventDate event}})</option>
            {{/each}}
          </select>
          <input type="text" name="uhId" placeholder="UH account name">
          <button class="ui green button" type="submit">Verify attendance</button>
        </div>
      </div>
    </form>

  </div>
</template>
