<template name="Verification_Requests_Pending">

  <div class="ui raised padded container segment">
    <div class="ui top left attached green label">Pending Verification Requests</div>
    <div class="ui divided items">

      <div class="item">
        <div class="content">
          <a class="header">OPQ Research Project, Summer 2016</a>
          <div class="meta">
            <span>Student: Abigail Kealoha</span>
          </div>
          <div class="meta">
            <span>Owner: Philip Johnson</span>
          </div>
          <div class="meta">
            <span>Submitted: October 12 (37 minutes ago)</span>
          </div>
          <div class="description">
            <form class="ui form">
              <div class="ui inline field">
                <label>Feedback:</label>
                <div class="ui action input">
                  <input type="text" name="uhId" placeholder="Optional feedback">
                  <button class="ui green button" type="submit">Accept</button>
                  <button class="ui red button" type="submit">Decline</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <a class="header">Live Action Internship, Summer 2016</a>
          <div class="meta">
            <span>Student: Fenton Maluhia</span>
          </div>
          <div class="meta">
            <span>Owner: Gerald Lau</span>
          </div>
          <div class="meta">
            <span>Submitted: October 10 (2 days ago)</span>
          </div>
          <div class="description">
            <form class="ui form">
              <div class="ui inline field">
                <label>Feedback:</label>
                <div class="ui action input">
                  <input type="text" name="uhId" placeholder="Optional feedback">
                  <button class="ui green button" type="submit">Accept</button>
                  <button class="ui red button" type="submit">Decline</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <a class="header">2016 Hawaii Annual Code Challenge</a>
          <div class="meta">
            <span>Student: Amy Takayesu</span>
          </div>
          <div class="meta">
            <span>Owner: Cam Moore</span>
          </div>
          <div class="meta">
            <span>Submitted: October 1 (2 weeks ago)</span>
          </div>
          <div class="description">
            <form class="ui form">
              <div class="ui inline field">
                <label>Feedback:</label>
                <div class="ui action input">
                  <input type="text" name="uhId" placeholder="Optional feedback">
                  <button class="ui green button" type="submit">Accept</button>
                  <button class="ui red button" type="submit">Decline</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>





    </div>
  </div>
</template>
