<template name="Verification_Requests_Completed">
    <div class="ui padded container segment" style="margin-bottom: 2.5rem;">
      <div class="ui dividing header"><h4>COMPLETED VERIFICATION REQUESTS</h4></div>
      <div class="ui divided items">
        {{#if completedVerifications}}
        {{#each verification in completedVerifications}}
          <div class="item">
            <div class="content">
              <a class="header">{{opportunityName verification}}, {{semesterString verification}}</a>
              <div class="ui equal width grid">
                <div class="column">
                  <div class="description">
                    <span>Student: {{studentName verification}}</span>
                  </div>
                  <div class="description">
                    <span>Owner: {{ownerName verification}}</span>
                  </div>
                  <div class="description">
                    <span>Documentation: {{verification.documentation}}</span>
                  </div>
                </div>
                <div class="column">
                  <div class="description">
                    <span>Submitted: {{whenSubmitted verification}}</span>
                  </div>
                  <div class="description">
                    {{#each processed in verification.processed}}
                      <span>Processed: {{processedDate processed.date}} by {{processed.verifier}} ({{processed.status}}) {{processed.feedback}}</span><br>
                    {{/each}}
                  </div>
                </div>
              </div>
              <div class="description">
                <form class="ui form">
                  <button id="{{verification._id}}" class="ui tiny basic green button" type="submit">REOPEN</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
        {{else}}
          <i>No Completed Verifications</i>
        {{/if}}
      </div>
    </div>
</template>
