<template name="Verification_Requests_Pending">
    <div class="ui padded container segment" style="margin-bottom: 2.5rem;">
      <div class="ui dividing header"><h4>PENDING VERIFICATION REQUESTS</h4></div>
      <div class="ui divided items">
        {{#each request in pendingRequests}}
          <div class="item">
            <div class="content">
              <a class="header">{{opportunityName request}}, {{semesterString request}}</a>
              <div class="ui equal width grid">
                <div class="column">
                  <div class="meta">
                    <span><strong>Student:</strong> {{studentName request}}</span>
                  </div>
                  <div class="meta">
                    <span><strong>Owner:</strong> {{ownerName request}}</span>
                  </div>
                  <div class="description">
                    <form class="ui form">
                      <div class="ui inline field">
                        <label>Feedback:</label>
                        <div class="ui action input">
                          <input id="{{request._id}}-feedback" type="text" name="feedback"
                                 placeholder="Optional feedback">
                          <button id="{{request._id}}-accept" class="ui tiny green basic button" type="submit">ACCEPT</button>
                          <button id="{{request._id}}-decline" class="ui tiny red basic button" type="submit" style="margin-left: 0.15rem;">DECLINE</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="column">
                  <div class="meta">
                    <span><strong>Submitted:</strong> {{whenSubmitted request}}</span>
                  </div>
                  <div class="description">
                    {{#each processed in request.processed}}
                      <span>Processed: {{processedDate processed.date}} by {{processed.verifier}} ({{processed.status}})</span><br>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
</template>
